[2016-01-19 15:29] dasch opened #3 "Implement a broker connection pool"
* We need to discover the broker topology with a metadata request.
* When producing message, we must figure out the leader for each message, group messages that should go to the same leader, and send each batch in a separate request.

[2016-01-21 12:35] #3 closed

[2016-01-21 12:36] dasch opened #7 "Implement compression"
Per [the protocol specification](https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-Compression), messages can be compressed.

[2016-01-21 12:51] dasch opened #8 "Add timeouts to all network calls"
Timeouts should be added when

- [x] connecting to a broker;
- [ ] writing requests; and
- [ ] reading responses.

We should *never* hang indefinitely.

[2016-01-21 15:30] dasch opened #9 "Implement automatic partitioning"
There are several strategies for assigning partitions to messages:

1. Based on a digest of the message key;
2. round-robin;
3. randomized;
4. based on a digest of a user-supplied partition key; or
5. based on a user-supplied custom strategy.

I think if we have 1) and 4) we should have all cases covered, as the rest can be implemented in terms of those.

[2016-01-21 15:41] dasch opened #10 "Implement an asynchronous producer"
A worker should run in a background thread, writing buffered messages to the brokers according to some policy, e.g. periodically, when the buffer reaches a specified size, etc.

Clients can write to the buffer through e.g. a queue.

[2016-01-22 09:56] dasch opened #11 "Retry produce requests"
There are several reasons why a produce request could fail:

1. the broker is no longer leader of a partition being written to;
2. network timeouts and stuff;
3. not enough replicas are available;
4. etc.

For some errors we need to re-fetch the cluster metadata.

[2016-01-22 13:43] #8 closed

[2016-01-22 14:10] #9 closed

[2016-01-22 14:10] dasch opened #15 "Handle brokers being unavailable"

[2016-01-22 16:53] dasch opened #16 "Set up a full integration test suite"
In order to ensure we don't introduce regressions, we should have a test suite running with realistic scenarios. Currently, setting up the Kafka cluster needed to run the tests is not even fully automated. Ideally, the suite would also allow simulating network failures, partition leader changes, etc.

I'm thinking that a Docker based setup would work the best.

[2016-01-25 10:50] #16 closed

[2016-01-25 14:36] #15 closed

[2016-01-25 15:10] dasch opened #20 "Implement the Consumer API"
In Kafka, consumers form consumer groups around topics, dividing the responsibility for consuming individual topic partitions among themselves. Furthermore, a consumer can subscribe to multiple topics, thus participating in several groups at once. This is useful for e.g. joining two topics.

We need to figure out what level of abstraction to provide to users of ruby-kafka. Since processing framewo

[2016-01-26 10:27] liukgg commented on #10
Do you know how do kafka-clients of other language such as Java, Python implement this function?

[2016-01-26 12:22] dasch commented on #10
The Java client has a background thread, I believe. However, I'd like to make the Ruby version more composable.

[2016-01-27 10:45] dasch opened #31 "Improve API for specifying number of required ACKs"
Currently, users need to pass in a number as the value of `required_acks`. If the number is greater than zero, it is interpreted as the number of replicas (the leader included) that must acknowledge the write before the request succeeds (not greater than the actual number of replicas.) If the number is -1, then *all* replicas must ACK. If the number is 0 then none need to ACK, not even the leader,

[2016-01-27 13:50] dasch opened #32 "Parallelize produce requests"
Currently, we sequentially send requests to each broker involved when flushing messages from the producer. We could parallelize these requests in order to improve performance.

[2016-01-28 15:24] #11 closed

[2016-01-29 10:12] dasch commented on #31
@osheroff @bsandvik what do you think makes sense here? I feel that specifying `required_acks` as an integer is confusing, but should the option be called `durability`, `consistency` or something else entirely? I guess that since Kafka is single-master (per partition,) it's not a matter of consistency – so long as the value is not `none`, in which case we could in theory be writing to the wrong br

[2016-01-29 14:33] dkatten opened #38 "Producer#send_messages signature"
Looking at Producer#send_messages, we expect the producer instance to already have messages (which makes sense).

However, I was thinking about a more ruby-ish interface could be implemented as well. Something like:

[code]
I'm thinking there might be a clean way to relieve the user of the setup/teardown procedure. I am also wondering if you could use Enumerable#lazy on the `buffer` to flush every

[2016-01-29 14:41] dasch commented on #38
I think those are good idea – but for now I want the interface to be as simple as possible. There are many different use cases, and finding the right high-level API for all of them is difficult. The current primitives are the most basic building blocks, it's pretty easy to build on top.

One obvious API is an async producer that you produce messages to but that sends them periodically in the backg

[2016-01-29 14:42] dasch commented on #38
I may try to implement the block thing on top of `send_messages` in v0.2...

[2016-01-29 14:45] dkatten commented on #38
Ooo that's neat too. My other concern is trapping signals to do proper shutdowns. That is something that I always have to do, and would love to abstract away.

Yeah, I would tag it 1.0, if anything. I just want to start the conversation :)

[2016-01-29 14:49] dasch commented on #38
Yeah, proper shutdown is something we'll have to figure out, especially for consumers. I'd just like to wait before adding more API until I have a feel for a few more use cases.

[2016-01-29 17:22] osheroff commented on #31
`durability` is fine.  Do note the tradeoff between cleaner semantics and masking what's really going on under the hood, though; arcane parameters are bad but having library consumers understand kafka's replication model is good.

[2016-02-01 09:00] dasch commented on #31
I'll document the shit out of it, and may allow reverting to setting `required_acks` directly. Thanks!

[2016-02-01 12:14] dasch opened #40 "Add instrumentation hooks"
There are several moving parts in the producer, and it will be important to measure:

- [x] The size of local buffers, both in number of pending messages _and_ relative to the max buffer size.
- [x] Latency and throughput of individual API requests/responses.
- [x] Latency and throughput of high-level operations such as produce operations: #81.
- [x] Errors, timeouts, and retries.
- [x] Throughput

[2016-02-01 13:33] dasch opened #42 "Mark public APIs as such"
Some APIs are private and subject to change within minor releases.

[2016-02-02 16:27] #42 closed

[2016-02-03 19:33] dasch opened #47 "Implement basic message fetching"
Fetching messages from a single partition should be easy to implement.

[2016-02-04 10:15] thedrow opened #49 "Implement speedups using librdkafka"
[librdkafka](https://github.com/edenhill/librdkafka) is a C client for kafka.
[PyKafka](https://github.com/Parsely/pykafka) uses it in order to speed up consumption and publishing of events.
It be useful to have that functionality in Ruby as well.

[2016-02-04 11:49] dasch commented on #49
[Hermann](https://github.com/reiseburo/hermann) is a Ruby library built on top of librdkafka. Using the C library is not a priority for ruby-kafka, because:

1. Typically it's the network that's the bottleneck;
2. the complexity introduced by using a C extension is rather significant;
3. the API is very far from what I'd like to have in ruby-kafka; and
4. it would be much more difficult to impleme

[2016-02-04 11:49] #49 closed

[2016-02-05 08:36] mensfeld commented on #47
Would be awesome if there would be an option for autocommit after data is being fetched. Also isn't there a way to get offset automatically from Kafka/Zookeeper to keep reading after restart or on a next fetch loop?

[2016-02-05 08:37] mensfeld commented on #10
@dasch  you can take a look  into celluloid - it might help you out to provide an abstraction layer for that

[2016-02-05 08:44] mensfeld commented on #38
@dasch  for consumers you could trap the signal and commit offset in place where the last message was processed (not consumed) and shutdown pretty fast.

You can check how Karafka handles that: https://github.com/karafka/karafka/blob/master/lib/karafka/process.rb and https://github.com/karafka/karafka/blob/master/lib/karafka/app.rb

One day, when this lib is ready, we will probably switch to it wi

[2016-02-05 08:44] mensfeld commented on #32
again - celluloid might be useful for that

[2016-02-05 08:45] mensfeld commented on #7
There's a snappy gem for snappy compression: https://rubygems.org/gems/snappy

[2016-02-05 10:46] dasch commented on #38
@mensfeld thanks! I think it makes more sense for a framework such as Karafka to do such things – I'd like to have a clear separation between library and framework, with ruby-kafka being the former. It should provide the means of implementing advanced lifecycle management, but I'm not sure if it should itself install signal handlers.

I'm not sure if it'll work for e.g. `SIGKILL`, but wrapping stu

[2016-02-05 10:49] mensfeld commented on #38
@dasch  you can leave that then to us ;) as long as we will have possibility to commit offset manually we can handle that. I also think that this should be responsibility of a framework not a driver btw.

[2016-02-05 10:56] dasch commented on #38
@mensfeld do you want to throw around some ideas for a Consumer API in #20?

[2016-02-05 11:03] mensfeld commented on #38
@dasch  I will drop you some ideas and things that we use in Karafka. API implementation itself won't impact us as we plan to add adapter to this library and hide its internal implementation. As long as the API will allow us to do tihngs that we require, it will be ok :)

[2016-02-05 11:18] dasch commented on #38
@mensfeld that's what I mean – I want to make sure that there's enough flexibility for you guys to work with. I've added some initial thoughts to the issue – I'd love some feedback on that.

[2016-02-05 11:41] mensfeld commented on #20
- I think that consumer should be dedicated to a single topic - responsibility of joining topics should be handled by user logic since it can be implemented there. Is there a reason for a single consumer to consume many topics? How would that work if one of the topics would be heavily loaded and second almost not at all? It also sounds like a complicated logic behind which there might hide many er

[2016-02-05 11:48] mensfeld commented on #38
@dasch  I will make sure to notify you about any stuff that would be useful for us :-) I also think that thanks to what we do, you could focus on providing a high quality low level driver and we could use that to implement the upper layers (like signal handling, loops, "server" like process, cli, etc)

[2016-02-05 12:00] dasch commented on #20
That's based on how the Kafka protocol works: consumers form groups around a set of topics, not necessarily just one. This makes sense if a consumer needs to merge two topics, e.g. ad impressions and clicks. While it *would* be possible to restrict a consumer to a single topic, that would impede flexibility and is the responsibility of a higher-level API, in my opinion. This mirrors my implementat

[2016-02-05 12:08] dasch commented on #38
:heart:

I'll most likely include a semi-high-level consumer loop in ruby-kafka, but will also allow other libraries to compose the behavior they want and exact control over e.g. offset commits.

[2016-02-05 12:10] dasch commented on #10
@mensfeld I'd like to avoid adding heavy dependencies (such as Celluloid) to this library. I think I'm going to punt on this for a while.

[2016-02-05 12:11] dasch commented on #32
I actually think there's a simpler way – just write the request to each connection before starting to read any responses. It's mainly an issue of making the API nice.

[2016-02-05 12:14] dasch commented on #47
Offset commits only make sense if there's the notion of a consumer group involved. This would just be for ad-hoc fetches, although some of the plumbing could be re-used when group consumers need to fetch messages.

[2016-02-05 13:01] mensfeld commented on #47
@dasch  yeah but consumer groups will be introduced right? ;)

[2016-02-05 13:02] mensfeld commented on #10
@dasch  you could also do what newrelic is doing for their monitoring stuff - they spin up a thread and push stuff there that gets flushed to their servers from time to time

[2016-02-05 13:03] mensfeld commented on #38
@dasch  sounds great! fetch_loop definitely  will be used to develop simple consumers. Flexibility on the other hand will allow things like Karafka to use this lib

[2016-02-05 13:05] dasch commented on #47
Sure – but they'll be separate from this. I imagine this will look something like:

[code]

So there'll be no coordination. That's fine for some, non-distributed workflows, and should provide us with feature parity for Poseidon.

In theory it's possible to build a simplistic 0.8 compatible consumer on top of this, but I'm going to go for the full 0.9 API instead.

[2016-02-05 13:08] dasch commented on #10
Yeah, that's my plan. I think I'll add something to our web app first, see how it fares, and then maybe extract it into ruby-kafka. My main concerns are getting the periodic wakeup to work and ensuring that messages are sent on shutdown.

[2016-02-05 13:08] mensfeld commented on #20
Won't this introduce a offset  committing  issues?

It's ok with what we need as long as we have control over the flow.

And this is enough for me since broker discovery is already in Karafka and it can stay there if you're not planning to be dependent with that driver on Zookeeper at all.

[2016-02-05 13:12] mensfeld commented on #47
@dasch basic means basic and indeed for non-distributed workflows it will act great but having groups in 1.0 is in my opinion a must be.

[2016-02-05 13:15] dasch commented on #20
I'm not sure I understand?

The idea is to split the commit action into two phases: staging and commit. In the staging phase, the processed offset for each partition is marked as messages are processed, either automatically or manually. The commit phase will send a single request to the broker containing all the offsets. It's just a matter of design – centralizing state makes it easier to do failu

[2016-02-05 13:16] mensfeld commented on #10
You could just expose a trigger for that action and the shutdown implementation could differ for apps that use it. Something like (naming taken from newrelic rpm): Kafka.harvester.flush!

[2016-02-05 13:17] dasch commented on #47
Yup, that's on the roadmap for 1.0. I just need to make sure the Producer is rock solid before embarking on such a task.

[2016-02-05 13:18] dasch commented on #10
We have a similar abstraction in our code base: KafkaLog. It's a singleton and you call `flush` on it.

[2016-02-05 13:19] mensfeld commented on #10
@dasch  just remember to add a mutex (probably don't have to tell you that but oh well ;) ) - so a multiple flash from many threads won't occur

[2016-02-05 13:23] dasch commented on #10
Yeah, the flush would happen from the background thread itself, so that wouldn't be an issue. I think I'll just add a thread-safe queue between the main and the background threads, that usually makes things simpler.

[2016-02-06 19:26] mrkamel opened #54 "Always"

[2016-02-06 19:27] #54 closed

[2016-02-06 19:31] mrkamel opened #55 "Always getting Kafka::LeaderNotAvailable"
[code]

Using kafka_2.11-0.9.0.0. It's working with poseidon, as well as a python kafka client.

[2016-02-07 10:12] mrkamel commented on #55
Found the issue. For one of my created test-topics kafka indeed returned partition_error_code 5 (Leader not available), not sure why, yet. However the partitions for the topic (my-test) i tried writing to (see above) were fine. ruby-kafka nevertheless raises the exception, as it checks all topics/partitions and if one is not ok, it raises (See Kafka::Broker#fetch_metadata). E.g. the python kafka c

[2016-02-07 10:17] mrkamel commented on #47
+1

[2016-02-07 17:36] dasch commented on #55
That's definitely a bug - I'll issue a fix ASAP. Thanks for reporting this!

[2016-02-08 10:14] #55 closed

[2016-02-08 10:16] dasch commented on #55
@mrkamel I have fixed this issue in v0.1.3. Please report back if you're still seeing it. Thanks!

[2016-02-08 10:47] dasch commented on #38
I'm going to close this for now – once more people are using ruby-kafka in production we'll have a better idea as to what the best API is.

[2016-02-08 10:47] #38 closed

[2016-02-08 10:59] mrkamel commented on #55
Seems to work perfectly, thx!

[2016-02-08 11:56] dasch commented on #55
Awesome!

[2016-02-10 10:00] dasch commented on #47
Implemented in #51.

[2016-02-10 10:00] #47 closed

[2016-02-10 10:20] omartell opened #59 "Avro Support ?"
Just wondering if you have any plans to add `Avro` support and have an `AvroProducer` and `AvroConsumer` that integrate with the `SchemaRegistry`.

I'd be happy to help with the implementation if needed.

[2016-02-10 10:25] dasch commented on #59
I don't think this would be the place to do it, but creating a wrapper around this library should be rather simple. I'm trying to avoid putting any serialization concerns into ruby-kafka.

By the way, [AvroTurf](https://github.com/dasch/avro_turf) (written by yours truly) already offers integration with the Schema Registry. Using it with ruby-kafka should be pretty easy:

[code]

[2016-02-10 13:39] omartell commented on #59
Oh nice, will take a look at that, :+1:

[2016-02-10 14:08] #59 closed

[2016-02-10 17:07] filipefigcorreia opened #62 "Creating a topic if it doesn't yet exist"
I believe that the `auto.create.topics.enable` setting of the Kafka server is not being honoured. By default the value of this setting is `true`, which means that when trying to produce to a non-existing topic, Kafka should create it instead of returning an error.

Example:

    I, [2016-02-10T17:03:55.881822 #26727]  INFO -- : Trying to initialize broker pool from node localhost:9092
    I, [2016

[2016-02-10 18:10] dasch commented on #62
I'll try to investigate this.

[2016-02-11 15:16] dasch opened #66 "Run functional specs in CI"
Currently, only unit specs are run. We need to be able to dynamically set up a Kafka cluster in order to get the specs to work.

[2016-02-11 19:06] mrkamel commented on #62
it seems, now you get a Kafka::LeaderNotAvailable exception when producing messages to a not yet existing topic. Only after creating a new kafka connection, the newly created topic will be recognized

[code]

desired behaviour?

[2016-02-11 19:12] filipefigcorreia commented on #62
I got this behaviour too. It only went away after restarting zookeeper and kafka and publishing a message to the topic using the console producer.

[2016-02-11 19:46] dasch commented on #62
Have you tried increasing the timeouts and retries? See the README for a decription of the various config keys.  It takes a while for Kafka to create the topic and elect a leader.

[2016-02-11 20:09] mrkamel commented on #62
As far as i can see from a first sight into the respective code, the timeout and retry handling isn't in place for this case. ProduceOperation#execute invokes `@broker_pool.get_leader(topic, partition)` and no  leader is found, raising the exception. The exception handling is only used for actual responses to produce requests, not for the find leader operation. Please correct me if i'm wrong.

[2016-02-12 09:15] dasch commented on #62
Hmm, that seems about right. I'll create a spec to replicate this bug and get it fixed.

[2016-02-12 09:24] dasch commented on #62
Further complicating this issue is that if the topic doesn't exist at the time `#produce` is called. I'll merge #65 before fixing this, at that gives us a single retry loop and keeps `#produce` free of these concerns.

[2016-02-12 10:32] dasch commented on #62
@filipefigcorreia @mrkamel can you try this out on the latest master?

[2016-02-12 11:01] mrkamel commented on #62
it's still the same for me. Now it raises `Kafka::LeaderNotAvailable` within assign_partitions!
In addition, i'd like to mention, that now `ProduceOperation#execute` only catches LeaderNotAvailable. However, `BrokerPool#fetch_cluster_info`, which is called during `@broker_pool.get_leader(...)` in `ProduceOperation#execute`, could raise `ConnectionError` as well. I guess this should be catched as w

[2016-02-12 12:00] dasch commented on #62
I'll handle that as well.

[2016-02-12 12:01] dasch commented on #62
@mrkamel have you tried increasing the timeouts or retries? I've got a passing functional test.

[2016-02-12 12:03] dasch commented on #62
Ah, LeaderNotAvailable was not a subclass of Kafka::Error. Please try again.

[2016-02-12 12:12] dasch commented on #62
Also: can you try increasing retries and backoff to at least 30s in total and include a full logging session?

[2016-02-12 12:28] dasch commented on #62
I think I found the issue: `assign_partitions!` only rescued Kafka::Error, of which Kafka::LeaderNotAvailable was erroneously not a subclass. In my functional test I assigned a partition explicitly, so the code in question was not evaluated there.

[2016-02-12 13:14] mrkamel commented on #62
still need more info?

[2016-02-12 13:15] dasch commented on #62
I think it's fixed in the latest master – would be great if you could confirm.

[2016-02-12 13:22] mrkamel commented on #62
working :+1:  thank you

[2016-02-12 14:24] dasch commented on #62
Awesome!

[2016-02-12 14:24] #62 closed

[2016-02-12 15:52] mrkamel opened #69 "individual exceptions for connect timeouts / socket wait timeouts"
Hi again,

question:

when i fetch messages, i regularly get a "connection timed out" after 10 seconds filling up my logfile. Increasing `max_wait_time` doesn't help because it's the connect/socket timeouts firing.
Sure, i could increase these timeout values, but when i plug off power from my kafka node, my client will timeout later than i'd like it to. So, what i'd really want is to know whether

[2016-02-12 17:14] dasch commented on #69
The socket timeouts do need to be longer than the max wait time, otherwise your connections will be killed. Do you experience hangs when you kill your broker? Typically the error happens instantly as the connection fails.

[2016-02-12 18:02] mrkamel commented on #69
hm, maybe you misunderstood, this is a feature request. sure, if i kill -9 my broker manually, the client will recognize instantly, but when a real outage occurs, e.g. due to a power failure, it will not. thus, i don't want to increase timeouts, because i want my consumer to fail fast for server outages. instead i want to know if the timeout occurred while connecting/writing/requesting to kafka or

[2016-02-12 20:36] dasch commented on #69
If the max wait timeout occurs, you'll simply get back an empty batch of messages - no exception will be raised.

[2016-02-12 22:36] mrkamel commented on #69
The socket timeout raises a ConnectionError

[2016-02-13 06:55] mrkamel commented on #69
let's skip this for now, lowering max_wait_time below the socket timeout will probably be fine.

[2016-02-13 06:55] #69 closed

[2016-02-13 07:17] mrkamel commented on #69
but imho it would be sane default to set max_wait_time somewhat lower than socket time, currently it's 10 seconds, same as socket timeout. and i experienced: sometimes the socket timeout fires, sometimes max_wait_time

[2016-02-13 09:29] dasch commented on #69
That's a good idea - I'm thinking about changing the API a bit, as it doesn't make much sense to have the same defaults for a producer as for a consumer. Note that the fetch API is also subject to change.

[2016-02-14 11:05] mrkamel opened #71 "fetch_messages doesn't refresh metadata / doesn't add target topic"
and thus under certain cases thinks a topic doesn't exist, because it operates on incomplete memoized cluster info. See:

[code]

FetchOperation#execute should IMHO call `@broker_pool.add_target_topics(target_topics)` to refresh topic metadata like a producer does

[2016-02-15 09:07] dasch commented on #69
I've though about re-thinking the socket timeout as an extra value that is added to the server side timeout for a given operation (with that being zero for ops with no server side timeout). Otherwise the user must set the socket timeout to be longer than the longest server side timeout, so e.g. metadata operations are allowed too much time. On the other hand there's a complexity cost here. I'm sti

[2016-02-15 09:15] dasch commented on #71
I agree that `add_target_topics` should be called – I'll add a fix for that. However, the `fetch_messages` API is intentionally low-level and shouldn't make any assumptions about e.g. retries, so if you expect fetching from a non-existing topic to work, you'll have to be prepared to handle a range of exceptions (at the very least Kafka::LeaderNotAvailable) and back off until the cluster has had ti

[2016-02-15 09:18] mrkamel commented on #71
sure, that's totally fine.

[2016-02-15 09:32] #71 closed

[2016-02-18 10:26] dasch opened #82 "Allow reading the number of partitions for a topic"
Useful when doing semantic partitioning.

Closes #70.

[2016-02-18 10:36] #82 closed

[2016-02-19 13:56] #7 closed

[2016-02-22 11:14] tcrayford commented on #31
@dasch we could maybe ask the kafka mailing list how they feel about this? It'd be nice to have consistency *and* human friendliness across all the APIs.

[2016-02-22 11:57] dasch commented on #31
Yeah, that's probably a good idea. I've sort of parked this for now, as I've been more focused on resilience and performance work.

[2016-02-22 12:29] #10 closed

[2016-02-22 12:39] dasch opened #88 "Allow blocking when producing with the async producer"
Currently, when calling `#produce` on an async producer when the message queue is full a BufferOverflow exception is raised. It would be nice to have the option of blocking instead. Bonus points if there's a configurable timeout.

Note that in order to do this correctly a more sophisticated bounded queue would need to be implemented.

[2016-02-23 10:38] dasch opened #92 "Sort out async producer behavior on buffer overflows"
* Sleep until the messages have been delivered?
* Keep calling `#deliver_messages` until we can produce the message?

[2016-02-23 10:52] #92 closed

[2016-02-23 17:49] dasch opened #96 "Simulate too large messages in functional tests"
Let's see what breaks.

[2016-02-25 14:34] dasch opened #100 "SSL Authentication"
Here's the Kafka docs: http://kafka.apache.org/documentation.html#security_configclients

[2016-02-25 14:37] dasch opened #101 "Allow custom offset commit stores"
While the default Kafka based offset commit & fetch API covers many use cases, sometimes it makes sense to use a custom data store. This is especially true if you store your offsets alongside your data.

[2016-02-25 15:07] jturkel commented on #100
@dasch - Coincidently I was going to start looking into adding SSL authentication support today. Let me know if there's anything I can do to help (e.g. code, tests, etc.).

[2016-02-25 15:09] tcrayford commented on #100
@jturkel I made a stab at it a few weeks ago but didn't get that far. I talked to @dasch and we agreed the right thing to do would be to make a new thing like https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/socket_with_timeout.rb that uses ruby's openssl library.

I won't have time to contribute until next week, but am very interested in this being worked on :)

[2016-02-25 15:18] dasch commented on #100
@jturkel @tcrayford you guys can collaborate if you want to – I don't have the setup to properly test SSL authentication, so it's not going to happen without some help.

@jturkel in general I'm interested in having the tires kicked, seeing what breaks, what performs poorly, etc. I'm also interested in various use cases and how the parameters have been tuned for them. That would help me improve doc

[2016-02-25 15:28] dasch opened #102 "Allow configuring a producer for at-most-once delivery"
Currently we only support at-least-once, retaining unacknowledged messages and re-sending them at the next delivery. Doing at-most-once is tricky, so I'd like to see some concrete use cases first.

[2016-02-25 16:24] geemus commented on #100
This may be a helpful reference: https://github.com/excon/excon/blob/master/lib/excon/ssl_socket.rb. Happy to discuss/clarify as needed also.

[2016-02-26 09:05] dasch opened #103 "Assign partitions to consumers using a consistent hash ring"
To be elaborated upon.

[2016-02-26 14:25] dasch opened #106 "Simulate bad network connections in functional tests"
Try to see if [Toxiproxy](https://github.com/Shopify/toxiproxy) can make it easier to simulate bad network conditions, especially network delays.

[2016-02-26 22:12] jturkel commented on #100
@tcrayford - I should have time to work on this late next week. As a POC, I managed to hack `SocketWithTimeout` to talk to a Kafka broker via SSL so hopefully getting this working properly won't be too bad. I'll ping you next week so we can figure out how to tackle this.

[2016-03-01 07:04] guyisra opened #108 "Adding a CHANGELOG"
Would it be possible to add a changelog file so we will know what changed between versions?

thanks

[2016-03-01 10:32] dasch commented on #108
I've been thinking about when to do that – basically, at long as the code is alpha level I need the freedom to make changes without too many hurdles. If you're using alpha level code, you better expect some changes and instability. However, I believe the Producer API is reaching beta level. While the API isn't frozen, and I don't plan on freezing it completely before v1.0, now could be a good time

[2016-03-01 10:37] dasch commented on #108
Added a `CHANGELOG.md` file.

[2016-03-01 10:37] #108 closed

[2016-03-01 13:18] dasch opened #112 "Allow configuring a consumer for at-most-once processing"
Basically, we'd need to commit the offset before yielding the message to the user block. I'd like to see some concrete use cases first, though.

[2016-03-01 19:38] tcrayford commented on #100
@jturkel you have sample code somewhere? I'm happy to take it over and productionize it.

[2016-03-03 19:28] jturkel commented on #100
@tcrayford - The prototype code (along with a script I used to generate the certificates) can be found here: https://gist.github.com/jturkel/282b44cad254a3ea26de. It's extremely rough so I won't be offended when you throw it all away ;)

[2016-03-03 19:53] tcrayford commented on #100
@jturkel nice, thankyou. I've been working on this all of today, and expect to hopefully PR tomorrow.

[2016-03-04 15:33] dasch commented on #100
Thanks @tcrayford and @jturkel!

[2016-03-04 15:33] #100 closed

[2016-03-04 15:44] dasch opened #119 "Authentication using SASL"
http://kafka.apache.org/documentation.html#security_sasl

[2016-03-04 21:21] sdball opened #121 "Logger is not currently optional"
The README says by default nothing is logged, but currently exceptions are raised unless a logger is passed to `Kafka.new`

[code]

`#info` is trying to be called on the nil logger object. This could be fixed by either setting a default logger (e.g. `Logger.new("/dev/null")`) or fixing all the logger calls to guard against nil.

[2016-03-07 09:12] #121 closed

[2016-03-07 14:01] dasch opened #126 "Allow manually committing consumer offsets"
We should maybe have an API for manually committing offsets. I'd like to see some concrete use cases first, though.

[2016-03-08 10:16] guyisra opened #127 "Determine a partition based on a proc"
Hey,

Most kafka producer implementation have an ability to decide on the partition based on some supplied logic that depends on a key and the partition count.

It is critical for us to have this ability.

Currently, a partition is created by
`Zlib.crc32(key) % partition_count`

Would it be possible to have it by a supplied proc and if not supplied, the above will be the default?

I can send a PR,

[2016-03-08 11:28] dasch commented on #127
What is your concrete use case? Why is it not sufficient to either 1) determine the partition up front or 2) pass the `partition_key`?

I find the "partitioner" API to be rather bad, and would like to avoid adding it if possible.

[2016-03-08 12:24] guyisra commented on #127
we need to calculate the partition number based on a common proc all producer and consumer use

Anyway, I see that the client exposes partitions_for which I think we can use to calculate the partition outside of the gem logic

[2016-03-08 12:24] #127 closed

[2016-03-08 12:37] dasch commented on #127
I think that's the best option – I'm not sure how common your use case is, and I'd very much prefer to keep the API as simple as possible for now. The benefit of computing the partition outside ruby-kafka is that you'll have access to the message data before it's serialized, which helps with semantic partitioning, e.g.

[code]

I think that API is superior to passing a proc.

[2016-03-09 20:54] sdball opened #133 "The last message in each group of fetched messages can have a truncated value"
When I put 100,000 lorem ipsum messages into a topic they can all be retrieved fine from the kafka command line client, but the Ruby Kafka consumer was only getting 99,913 complete messages and 87 incomplete messages.

After a lot of digging I determined that the broker was running 87 requests that received 1148 messages and then one final request that received the remaining 124. The incomplete me

[2016-03-09 21:05] sdball commented on #133
Here's the full lorem value I was using:

[code]

Then I just piped that file into the simple producer.

The truncated values all have 192 bytes and the full messages have 888.

[2016-03-09 22:09] sdball commented on #133
It looks directly related to the `max_bytes` setting. If I set `max_bytes` to be 1000 then I receive one complete message and one that only has 60 bytes. Bumping `max_bytes_ to 1001 then I still get one complete message and one that only has 61 bytes.

It's like something along the line (Kafka? The socket connection?) is just truncating right in the response instead of at the edge of a message.

M

[2016-03-09 22:19] sdball commented on #133
This is interesting, from the docs they have an example socket server configuration: https://kafka.apache.org/documentation.html#prodconfig

[code]

That's 100 times the default of 1048576 (typo?). Setting that limit certainly works… but only because it is larger than the response of 100,000 messages.

[2016-03-09 22:41] sdball commented on #133
Ah, that socket request is a different setting: the max that the server will allow. The default fetch request size for consumers is definitely 1024*1024.

[2016-03-09 22:47] sdball commented on #133
Well here we go! https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-FetchAPI

Hm! I wonder if this is even possible for `ruby-kafka` to recognize or if end user consumers simply need to make the consumer loop smart enough to discard the partial message.

[2016-03-09 23:03] sdball commented on #133
Here we go! The message declares the number of bytes to read from the socket. With my example and a `max_bytes` setting of `2000` on the final message in the fetch request the message says to read `888` bytes and the socket only reads `146` bytes. I think that mismatch could be recognized and not returned as a message to iterate over.

[2016-03-09 23:05] sdball commented on #133
My debugging in `lib/kafka/protocol/decoder.rb`

[code]

I don't think that's the right level for this check, but it was the first good place I found to hook into to check for the mismatch.

[2016-03-09 23:08] sdball commented on #133
Woo! That `EOFError` actually seems to be the thing. If that's raised when the number is a mismatch it all works out.

[2016-03-10 08:26] mrkamel opened #135 "manual reconnect"
hi,

is it possible to manually reconnect? i have a consumer that "delays" messages by sleeping for a while if the message's timestamp is to "low". But after waking up i always get a "Connection Error: EOFError" during the following `fetch_messages` call. So, is it possible to proactively reconnect?

Thx for your help

[2016-03-10 10:19] dasch commented on #133
@sdball can you confirm that this is still a problem on the latest master? I've added a check for partial messages within message sets in https://github.com/zendesk/ruby-kafka/commit/c933344cbd829c6d096d93a1dbd12f035b843081

[2016-03-10 10:22] #133 closed

[2016-03-10 10:30] dasch commented on #135
I'm not quite sure why, but it seems like sometimes open sockets by a consumer are killed by the broker when the consumer is kicked from its group. Make sure to not sleep for longer than the session timeout – you can also increase this timeout when calling `consumer`:

[code]

Note that there are broker-defined limits to the timeout value, so you may get an error if you set it too high or too low.

[2016-03-10 10:31] dasch commented on #135
Actually, are you even using the new consumer code or are you calling `kafka.fetch_messages` directly?

[2016-03-10 10:40] mrkamel commented on #135
For the use case i'm talking about, i'm using `fetch_messages` directly, because i need to do batch processing such that `consumer.each_message` isn't appropiate. Having access to the batch (`fetch_batch`) would be a valuable extension for me as well.

[2016-03-10 10:45] dasch commented on #135
I'm considering adding a batch option to Consumer as well. Under the hood, a set of message batches are fetched and each message successively yielded in `each_message`. What kind of processing do you need to do?

[2016-03-10 10:55] mrkamel commented on #135
... i'm indexing messages/records into ElasticSearch. Not using bulk/batch would kill performance.

And for ES <-> DB constistency, i have a second process which additionally "delays" the messages to re-check (after some time has passed) if everything got correctly indexed/or re-index. That's why i'm sleeping and getting the EOFError.

[2016-03-10 10:59] dasch commented on #135
Hmm. Would it still make sense to use a balanced consumer rather than a single process, for fault tolerance? And are you tracking offsets in ES as well, or are you using idempotent writes and at-least-once processing?

I've also been thinking about how an un-coordinated, single-process consumer would work. Would this API work for you https://gist.github.com/dasch/34f40482e242abbcf896?

[2016-03-10 11:00] dasch commented on #135
By the way, does it work if you rescue ConnectionError and do a retry?

[2016-03-10 11:14] mrkamel commented on #135
currently, i'm fetching a batch (`fetch_messages`) and index this batch. If, and only if, it finishes successfully i'm then storing the current offset within zookeeper. If an exception gets raised, i rescue it, log and notify, then sleep for a few seconds and retry (so: yes, when i retry after the EOFError, ruby-kafka seems to reconnect automatically and everything continues to work again). For fa

[2016-03-10 11:28] mrkamel commented on #135
well, it's applicable by using a separated delay-topic. So, i'd be pretty happy if the new consumer feature gets a batch option, such that i then can remove all my manual offset handling and leader election :-)

[2016-03-10 11:29] #135 closed

[2016-03-10 11:29] dasch commented on #135
Regarding the first part, the indexer: I think you should use the new consumer group feature with the built-in offset commit handling. I want to expand the API to allow for batch processing. The main difficulties are:

1. A nice API for manually committing offsets (i.e., after the ES transaction returns)
2. Heartbeats need to be sent with a somewhat high frequency, ~30 seconds.
3. The API should b

[2016-03-10 11:33] dasch commented on #135
Somewhat related to https://github.com/zendesk/ruby-kafka/pull/132

[2016-03-10 11:35] mrkamel commented on #135
am i right that a heartbeat frequency of 30 seconds means: a crashed consumer (currently leader) gets removed after 30 seconds? if yes, then that seems quite unfrequent to me, since i'm trying to use ES for realtime purposes. 5 seconds seems reasonable to me, which afaik is zookeepers heartbeat frequency and thus corresponds to my current (manual leader election) setup.

[2016-03-10 11:40] dasch commented on #135
The session timeout basically means that a consumer group member must send a heartbeat every _n_ seconds, otherwise it gets kicked from the group, and the group needs to re-balance (which is costly in terms of time.) Setting it low increases the risk of instability; setting it high means that a consumer can be dead for a while before the group notices. In case of a high value there's also the risk

[2016-03-10 11:53] dasch commented on #135
Take a look at https://github.com/zendesk/ruby-kafka/pull/132 and see if that would be helpful.

[2016-03-10 11:54] mrkamel commented on #135
thx. very fast failover is important to me and it's good to have full control over everything for this use case, such that i'm fine if i have to manage the low level details (leader election, offset handling, fetch_messages) myself here, but i'll for sure experiment with it when the batch feature is available. and for less important use cases, i'll of course use the consumer groups feature. Regard

[2016-03-10 11:57] dasch commented on #135
I'm still actively developing the consumer groups API, and I think your use case is somewhat typical, so I want to make this work for you.

Not really – the heartbeat should indicate that the consumer isn't dead or stuck. If a separate thread just continues to send heartbeats while the consumer thread is deadlocked there would be no point.

[2016-03-10 11:59] dasch commented on #135
Regarding the "checker" consumer – is there no way to consistently write to ES? What kind of consistency guarantees are made, if any?

[2016-03-10 13:33] mrkamel commented on #135
huh, long story. i try to keep it short. it's not the consistency of ES i'm worried about (writes to ES should be consistent and ES supports optimistic concurrency control via incrementing versions, etc). it's about achieving DB <-> ES consistency.

[code]

Within the DB transaction (after_safe, after_destroy) i queue for recheck, because the background indexer can't already see the changes to the

[2016-03-10 13:49] dasch commented on #135
Hmm... that's essentially a two-phased commit, right? That's very hard to do wrong. Have you considered using something like [Maxwell](https://github.com/zendesk/maxwell) that is based on the SQL database binlog.

Anyway, the consumer group API _should_ cover your use case. I think "write this batch of messages atomically to this remote store" is a common consumer use case. When writes are idempot

[2016-03-10 14:03] sdball commented on #133
I can confirm this is indeed fixed on the latest master!

I updated to master and reran my simple consumer using `tee` to output the messages to a log file. (Which makes it easy to know when to interrupt the consumer after processing all the messages.)

[code]

Then counted up unique messages:

[code]

100,000 complete messages, which is exactly right. :rainbow:

[2016-03-10 14:13] mrkamel commented on #135
yes, have considered listening to the binlog, thx for pointing me to maxwell. re-check is still neccessary, though, because deletions are an issue, unless you do "soft deletes" (only mark a record as deleted), because a long GC pause, virtual machine pause or whatever just before an update operation could undo a delete operation: 1. leader A paused right before update operation 2. leader B takes o

[2016-03-10 14:35] dasch commented on #133
Awesome! :tada:

[2016-03-10 14:37] dasch commented on #135
Maxwell will include deletions in its topic, as far as I know, so you'll get a serialized stream of operations – as long as you process them in-order, you should be fine.

[2016-03-10 14:43] mrkamel commented on #135
in a distributed environment it's not possible to guarantee that you process them in order at all times unless the datastore you're replicating provides features to support it (ES does not, no datastore i know of does).
that's what i tried to say with:

[2016-03-10 14:54] dasch commented on #135
Yes and no – if your datastore has transactions, you can use optimistic locking to ensure no other agent has modified the data set since last time you saw it. Let's say your input Kafka topic is partitioned based on the ES document id, and that ES provides transactions (replace ES with Postgres for a more realistic scenario...). If the Kafka client was able to seek to a specific offset (which is c

[2016-03-10 15:04] dasch commented on #135
A concrete example could be a page view counter: all page views for a given page must of course be written to the same partition for this to work:

[code]

[2016-03-10 15:14] mrkamel commented on #135
right, transactions are a means to get this done. unfortunately, ES and other stores i want to replicate to don't support transactions.

[2016-03-10 15:17] dasch commented on #135
Yeah :-/

[2016-03-15 09:10] mrkamel commented on #135
wondering ... did you ever encounter something similar? fetching offset 73580 works, 73581 ... 73641 raises EOFError, fetching offset 73642 is working again.

[code]

the respective kafka logfiles:

kafka kafka 12256 Mär 15 07:54 00000000000000000000.index
kafka kafka 6392949 Mär 15 07:54 00000000000000000000.log
kafka kafka 10485760 Mär 15 07:54 00000000000000073581.index
kafka kafka 1520909 Mär

[2016-03-15 09:22] dasch commented on #135
@mrkamel can you try that with the latest ruby-kafka master? There was an issue regarding partial messages at the end of message sets causing EOFError (#134).

[2016-03-15 09:35] mrkamel commented on #135
yeaah, that fixed it. thx alot!

[2016-03-15 09:41] dasch commented on #135
Hmm, I should really cut a new release...

[2016-03-16 08:50] kzk commented on #119
@dasch Hi, we're running the project called Fluentd (http://www.fluentd.org/), an open source data collector. Currently Fluentd's kafka plugin is contributed by community (https://github.com/htgc/fluent-plugin-kafka), but it uses Poseidon. Apparently it doesn't work with v0.9, and we're exploring the possibility of rewriting it with ruby-kafka. One requirements we hear from Fluentd users are, they

[2016-03-16 09:03] dasch commented on #119
@kzk that sounds great! I'm not working on Kerberos support, so by all means go ahead :-)

If you need help we can set up a call – otherwise, a work-in-progress PR could be a good starting point.

[2016-03-22 10:24] guyisra opened #144 "ack_timeout and backoff in seconds"
Is there a specific reason that the unit is seconds and not milliseconds?

[2016-03-22 10:28] mensfeld commented on #144
+1 for milliseconds - it used to be like that in Poseidon and to be honest I've used 500ms for some reasons.

[2016-03-22 17:46] dasch commented on #144
All timeouts in the Ruby standard library are specified in seconds. I want ruby-kafka to be friendly to Ruby developers new to Kafka. If you need 500ms, just specify 0.5s.

[2016-03-22 17:46] #144 closed

[2016-03-23 12:09] guyisra opened #145 "Namespace conflicts"
Hey,

we use a different gem for the consumer, and there is a naming conflict since both gems (this and the one we use) use the Kafka namespace

Would it be possible to have this gem in a different namespace? (like ZenDesk::Kafka or RubyKafka or ZKafka, or whatever)?

[2016-03-24 19:55] dasch commented on #145
Nope, this is using the Kafka namespace. What gem is it conflicting with?

[2016-03-29 08:45] #145 closed

[2016-03-29 15:34] dasch opened #150 "Purge buffered messages for a topic if it doesn't exist"
We ran into this in production: a topic hadn't been properly created in a production environment. Rather than dropping messages to that topic and raising an error, the producer held on to them. Eventually, the producer buffers filled up and new messages were dropped.

There are several options for how to handle this:

* Raise an exception when delivering messages to a non-existing topic. This can

[2016-03-29 15:38] mensfeld commented on #150
@dasch  what does the "hadn't been properly created" mean? Could you explain it a bit better (I'm interested in this error)

[2016-03-29 16:44] dasch commented on #150
I'm not quite sure. We've had both human errors and weird Kafka bugs cause a topic to either not be created or not be available. Our automation and monitoring is still being developed.

[2016-03-29 16:58] mensfeld commented on #150
But shouldn't kafka create a topic when the first message is being sent?

[2016-03-30 07:59] dasch commented on #150
@mensfeld that's an opt-in feature that should be disabled in most production environments.

[2016-04-04 07:57] javinor commented on #150
+1

We encountered a related problem. Our server.properties are configured with ```auto.create.topics.enable=true```
but when publishing to a non-existent topic with get a ```Kafka::LeaderNotAvailable``` error. Creating the the topic before hand in the cluster solve the issue.

How about making topic creation and topic availability checking possible via the gem?

[2016-04-04 08:39] dasch commented on #150
@javinor can you expand on the problem? Ruby-kafka _does_ create non-existent topics when they're first written to if `auto.create.topics.enable=true` is set for the cluster. However, there can be a considerable delay between a client requests a topic to be created and there being a leader for all partitions. I would not recommend relying on this in production.

[2016-04-04 08:40] dasch commented on #150
If this is not the case, I'd love some code that reproduces the issue – it may be a matter of fetching up-to-date metadata. Please use the latest master.

[2016-04-04 08:42] javinor commented on #150
@dasch thanks for the quick response! In our production environments this actually works fine since the topics are already available. I'll try using master and get back to you...

[2016-04-04 10:55] javinor commented on #150
I continued to investigate and found the problem, I'll open a separate issue as this is not related to the original issue.

[2016-04-04 21:44] MartinNowak commented on #150
The buffering semantics are somewhat annoying for reliable synchronous message producing.
When deliver_messages fails, I need to forward that error anyhow, e.g. as 503 Service Unavailable, b/c having the message in a RAM array can't guarantee delivery. But if I already need to handle retries outside of ruby-kafka anyhow then resending the buffered messages just needlessly produces duplicates.
Also

[2016-04-05 05:52] MartinNowak opened #153 "No exception raised when `assign_partitions!` fails"
`deliver_messages` silently (only logs an error) fails when `assign_partitions!` doesn't succeed.
https://github.com/zendesk/ruby-kafka/blob/cd406829bad3b3d8f5e9bff0bb87eb3c72c67e0d/lib/kafka/producer.rb#L334-L337
https://github.com/zendesk/ruby-kafka/blob/cd406829bad3b3d8f5e9bff0bb87eb3c72c67e0d/lib/kafka/producer.rb#L310-L314
Messages still in `@pending_message_queue` might get lost after delive

[2016-04-05 09:38] dasch commented on #153
Can you reproduce message loss? `@pending_message_queue` was built to be resistant to message loss: https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/pending_message_queue.rb

Basically, we need to accept that exceptions will happen as part of the normal operation – nodes will come and go. The producer should handle most of this: it's not just a thin wrapper around a Kafka produce reques

[2016-04-05 09:42] dasch commented on #150
I think your use case is somewhat specific (an HTTP frontend for Kafka). What if a `clear_buffer` method was added to the producer?

[code]

I believe most users would want the producer to hold on to messages and do a best-effort attempt at delivering them. Note that _any_ solution that includes retries will sometimes result in duplicates in the topic – this is unavoidable.

[2016-04-05 10:07] tcrayford commented on #150
The JVM producer has a `flush` mechanism that waits until all messages have been consumed.

[2016-04-05 10:07] tcrayford commented on #150
Uh s/consumed/produced there. Sorry.

[2016-04-05 10:15] tcrayford commented on #150
It's useful in other contexts as well - for example if you're consuming from one stream and producing results to another, you want to flush the producer before marking consumer offsets for reliability.

[2016-04-05 10:36] dasch commented on #150
That doesn't sound like the best idea in this case – you wouldn't want to wait indefinitely. The current sync producer does wait, but only until all attempts have been exhausted.

[2016-04-05 10:37] dasch commented on #150
Basically, most sync producer scenarios would need a timeout, after which we must decide whether to keep the messages buffered or throw them away. I've opted for the first as the default, and would like the discarding behavior to be an explicit opt-in, e.g. `producer.clear_buffer`.

[2016-04-05 10:38] #153 closed

[2016-04-06 11:39] javinor opened #155 ".partitions_for method and auto-create topics don't work well together"
We encountered a problem with the ```Kafka::Producer```. We have several services that publish to specific topics, each with a different number of paritions and different partition keys.

Our production and staging environments work fine because the Kafka clusters are already defined and running.

Our CI on the other hand uses docker images for integration tests between services, and specifically

[2016-04-07 08:35] dasch commented on #155
Unfortunately, there's no explicit API for creating topics in the Kafka protocol, at least until [KIP-4](https://cwiki.apache.org/confluence/display/KAFKA/KIP-4+-+Command+line+and+centralized+administrative+operations) has been implemented. The current way topic autocreation works is that you issue a metadata request asking for information about the topic – if autocreation is enabled, it will be c

[2016-04-07 08:54] dasch commented on #155
This seems to be a tricky one. I tried rescuing the exception and returning the count of the partitions in the metadata response, but just after creation there are no partitions set up – so the partition count is zero.

Since explicit admin APIs are coming in Kafka, I'd rather not add too much code in support of that, but there's a hack you _could_ try:

[code]

[2016-04-10 17:32] MartinNowak commented on #150
Yes a simple clear_buffer would work here, in fact my code looks like this now.
[code]
https://github.com/zendesk/ruby-kafka/pull/157

[2016-04-12 14:26] dasch commented on #150
The original error has been mitigated by #159, so I'll close this.

[2016-04-12 14:26] #150 closed

[2016-04-12 22:59] fbjork opened #162 "Can't produce async messages"
I tried adding the example configuration for async producing of messages to an initializer in my Rails app as follows:

[code]

Nothing happens when I try to produce a message from my Rails console.

If I instantiate a new producer it works however. Any ideas?

[2016-04-13 12:04] dasch commented on #162
Can you provide a log file?

[2016-04-13 12:08] dasch commented on #162
Also, can you try this using the latest release?

[2016-04-13 15:39] fbjork commented on #162
The problem is that there are no logs at all when I use the global variable. Even with instrumentation. I'm on version 0.3.4 already.

This is a Rails 4.2 app if it helps.

Any orher information I can send?

[2016-04-13 16:00] dasch commented on #162
Try with this logger:

[code]

[2016-04-13 16:00] dasch commented on #162
Try also removing the `at_exit` statement and see if that helps.

[2016-04-14 05:41] fbjork commented on #162
Switching out the logger and removing `at_exit` didn't do anything. Still silent. It works fine if I instantiate a new producer from the rails console, but not using a global variable.

[2016-04-14 06:40] fbjork commented on #162
Note that the global variable says it's `dead`:

[code]

[2016-04-14 07:58] dasch commented on #162
Hmm, that's funky. Does it work as expected in dev, test, and prod? That is, outside of the console?

[2016-04-14 07:59] dasch commented on #162
What happens if you increase `delivery_interval`?

[2016-04-14 13:44] dasch commented on #162
Hmm, I have an idea – this could be due to Spring. If the producer is instantiated in one process, but the console forks off another process, then the worker thread probably dies. I guess a better solution then would be to wrap the producer and instantiate it lazily, e.g.

[code]

This would delay the initialization such that it's done in the child process, and would also ensure that multi-threade

[2016-04-14 14:16] fbjork commented on #162
Ok, confirmed that it's working when I run a regular `rails s` process using WEBrick. However it doesn't work when the process is forked, i.e spring or Pow.

[2016-04-14 14:19] dasch commented on #162
The original code or the snippet above?

[2016-04-14 14:21] fbjork commented on #162
The original code works when I run `rails s` with WEBrick, but not when forked.

[2016-04-14 14:23] dasch commented on #162
Okay, that makes sense. I think the only proper solution is to initialize the producer lazily. Can you try out the snippet in the comment above?

[2016-04-14 14:24] dasch opened #163 "Detect when the producer worker dies"
#162 shouldn't have required that much detective work.

[2016-04-14 14:29] fbjork commented on #162
Yep, works like a charm! (Note the typo in the private method `init_product`).

[2016-04-14 14:53] dasch commented on #162
Heh, my bad :-) note that you should still make sure to set an `at_exit` shutdown hook, e.g.

[code]

[2016-04-14 15:13] tcrayford commented on #162
@dasch maybe `ruby-kafka` could lazily initialize the ruby thread itself? Or alternatively, track the pid in the connections like https://github.com/redis/redis-rb/blob/3ae7fbda312caba5668bedd2ecd1ab15ff0d975e/lib/redis/client.rb#L344 does

[2016-04-14 17:26] dasch commented on #162
If it can be done without adding too much complexity...

[2016-04-18 00:13] samstokes opened #164 "Consumer group API writes invalid user_data field"
I have an app using ruby-kafka 0.3.2 to consume from a Kafka 0.9.0.0 broker.  When I use the `kafka-consumer-groups.sh` admin script provided with the Kafka 0.9.0.0 distribution, e.g. to check the lag of the consumer group, I get the following error:

[code]

We have verified that the broker logs don't contain any errors corresponding to this error, so it seems like the broker is returning a respo

[2016-04-18 05:47] samstokes commented on #164
P.S. my consumer setup code looks like this:

[code]

[2016-04-18 07:53] dasch commented on #164
i think that field is supposed to be defined by the client implementation, so the tool may be making too many assumptions. I'll try to take a look as soon as I have time.

[2016-04-18 21:00] michaeldauria commented on #20
I personally would like to use a loop so that i could:
- fetch a bunch of messages from a particular partition
- process them one by one
- once all the messages i have fetched have been processed, commit the offset
- move to another partition and repeat

This would allow a single consumer to process messages from more than one partition and only commit offsets once a batch was processed, which is

[2016-04-18 23:56] dasch commented on #20
@michaeldauria I'm still fleshing out the consumer API, so this is valuable feedback. I believe most of what you're proposing has already been implemented in the batch API: http://www.rubydoc.info/github/zendesk/ruby-kafka/master/Kafka%2FConsumer%3Aeach_batch

For example:

[code]

`#each_batch` will fetch batches of messages from the partitions assigned to the consumer, yielding each to the consu

[2016-04-18 23:59] dasch commented on #164
Hmm. According to the [protocol spec](https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol), the UserData field is supposed to be opaque to Kafka. I think the CLI tool is overstepping its bounds, assuming that the official consumers are used...

[2016-04-19 00:01] dasch commented on #164
Could you try to patch https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/protocol/member_assignment.rb#L28 and write some string rather than nil and see if that fixes the problem?

[2016-04-19 03:19] michaeldauria commented on #20
Yes, that sounds great for me. If the self healing is true that is obviously a huge bonus for me, currently with poseidon_cluster I have issues when processing the messages from Kafka is slow. This can cause partitions to not be subscribed to, which forces me to restart the consumers, or in some cases just stop one, to get things processing again.

I also have seen issues where all of my consumers

[2016-04-19 08:05] dasch commented on #20
@michaeldauria it's just that the API, both `each_message` and `each_batch`, has not been quite finalized yet, as in I'm still reserving the right to change it. We're still in the process of upgrading to Kafka 0.9, so I can't test it out in production myself, which I want to do before marking it as stable. But I encourage you to use the batch API and provide feedback.

As for consumers being kicke

[2016-04-21 07:06] samstokes commented on #164
Hi @dasch thanks for taking a look at this!  I tried patching `member_assignment.rb` to write `@user_data || 'hello, world'`, and now the script gets a bit further, but still borks:

[code]

[2016-04-23 16:51] jturkel opened #165 "Consumer sporadically fails to read offsets from the Kafka offset store on startup"
I've been playing around with consumer APIs and I've noticed that consumer sporadically fails to read the last committed offset from the Kafka offset store on startup. My consumer looks pretty similar to the example from the doc:

[code]

Every couple runs of this consumer it fails to fetch the last committed offset from the Kafka store and falls back to reading the earliest available offset.

Her

[2016-04-26 09:15] dasch commented on #164
@samstokes I'm not sure what I can do about this – the protocol states that these fields are reserved for the client, but it seems that the tooling only works with the implementation in the official Java client. I'm not even sure that implementation has API stability, so I'd rather not have ruby-kafka follow it (and lose the ability to implement my own algorithms.)

What kind of monitoring are you

[2016-04-26 09:58] dasch commented on #165
How often are the offsets committed? The default value is every 10 seconds, I believe, so unless that duration has passed, the offsets will not have been persisted in Kafka.

[2016-04-26 14:23] dasch commented on #162
@fbjork can you try out #166 and see if that fixes the problem without any additional code?

[2016-04-26 14:32] dasch commented on #163
Should be fixed by #166, although there's no logging of the fact that the threads have died. I'm not sure that's required though.

[2016-04-27 00:36] fbjork commented on #162
@dasch yep, works like a charm in a Rails console and Unicorn!

[2016-04-27 01:24] jturkel commented on #165
I'm using the default commit interval of 10 seconds but I've seen the problem if I:

1) Bring up the listener and process all pending messages
2) Restart the listener with no new messages - it does nothing since there are no pending messages and the listener was able to successfully read the commited offsets
3) Restart the listener again still with no new messages - it now reprocess all messages a

[2016-04-27 08:07] dasch commented on #162
:heart:

[2016-04-27 08:07] #162 closed

[2016-04-27 08:13] #163 closed

[2016-04-27 08:15] dasch commented on #165
Can you create a PR with a test that reproduces the problem?

[2016-04-27 08:23] dasch commented on #165
@jturkel I may have located the error – I think the Kafka protocol spec had the wrong value for the default offset commit retention time at the time I implemented the logic. It seems that they've expanded on the documentation as well.

Can you run your code against the branch in #167 and report if that fixes the problem?

[2016-04-27 08:33] dasch commented on #155
@javinor closing this as there hasn't been any activity. Feel free to write if you want me to take a look at this again.

[2016-04-27 08:33] #155 closed

[2016-04-27 09:05] dasch opened #168 "Add a Consumer API without groups"
The Kafka Offset API allows un-grouped consumers. It may make sense for some use cases.

From the [protocol spec](https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-OffsetCommit/FetchAPI):

The thing is, for offset commits to work you still need a group id. I'm not sure what a nice API would look like.

[2016-04-27 09:05] #20 closed

[2016-04-27 10:51] guyisra opened #170 "Ability to repair client connection"
As with the .partitions_for issue (for example) if a producer tries to publish to a topic that doesn't exist it fails and that information keeps staying on the client unless it is closed and reopened.

Is there currently a way to have an existing client do a refresh of some kind so I won't have to close it an reopen a new one?

The reason I am asking is that we are using https://github.com/mperham

[2016-04-27 12:08] dasch commented on #170
I'm not sure I follow – you're using a pool of Kafka client objects? The client already keeps an open connection to each broker (lazily initialized), so there shouldn't be any connection setup when sending a message, aside from the first time.

Is the error you're experiencing that after writing to a topic that doesn't exist, the client doesn't notice when the topic is actually created? It's suppo

[2016-04-27 13:11] jturkel commented on #165
@dasch - You're awesome! That fixed the problem.

[2016-04-27 13:13] dasch commented on #165
:heart:

[2016-04-27 13:13] #165 closed

[2016-04-27 13:27] jturkel opened #173 "Consumer batch API consumes last message multiple times"
The following code demonstrates the problem:

[code]

This outputs the following:
[code]

[2016-04-27 13:28] jturkel commented on #173
This was found in ruby-kafka 0.3.5 which includes the fix for #165.

[2016-04-27 13:33] dasch commented on #173
Can you paste some log output?

[2016-04-27 13:40] jturkel commented on #173
Here's some log output:

[code]

[2016-04-27 13:42] dasch commented on #173
Yeah, this looks like a bug in the offset commit manager. This is tricky to get right – I'll try to get a fix in ASAP.

[2016-04-27 13:48] dasch commented on #173
Can you try running against #174?

[2016-04-27 13:49] dasch commented on #173
I'm sorry for the instability of the consumer API – it's still very much alpha, and I haven't had a chance to run it in production yet.

[2016-04-27 13:52] mensfeld commented on #173
@dasch maybe you should distinguish that somehow in the readme? Producer works like a charm ;)

[2016-04-27 13:54] dasch commented on #173
@mensfeld ![](http://cl.ly/1l3f2t433l2q/Image%202016-04-27%20at%203.54.04%20PM.png)

[2016-04-27 13:55] mensfeld commented on #173
@dasch Yeah I know but people tend to read only few first lines in the readme ;) you could put it on top of everything just to prevent people from using it (or just ot make them aware of the current state)

[2016-04-27 13:57] dasch commented on #173
@mensfeld it's literally stated in the second paragraph of the README...

[2016-04-27 14:17] jturkel commented on #173
@dasch - Looks like #174 fixes the issue. We definitely know the consumer API is in alpha and aren't using it in production. Do you want use to continue testing it and filing issues or would you rather we hold off until you have time to stabilize it?

[2016-04-27 14:21] dasch commented on #173
Awesome!

As long as you don't go to production with it I'd love for you to keep testing it. I'm also open to accepting PRs, although currently the consumer code is slightly messy.

[2016-04-27 14:21] guyisra commented on #170
The code will be something like this (I will put a workable code soon, but hopefully this will help to start understanding the issue)

[code]

so essentially, I would either want a way to tell the client to forget everything it knows and refresh (currently I do that by just creating a new client, overriding the old one) or to have a mechanism that will catch errors and heal the connection

btw, th

[2016-04-27 14:21] #173 closed

[2016-04-27 14:25] dasch commented on #170
First of all, unless you're using a threaded server I'd just initialize a single producer when booting the app, e.g.

[code]

Secondly, it makes sense that `deliver_messages` will fail – but unless you've disabled retries (`max_retries`) the producer _should_ refresh that information automatically.

[2016-04-27 15:00] guyisra commented on #170
Yea, we are using a threaded server

as for the max_tries, it doesn't succeed, no matter the configuration, (max_retries 100 and retry_backoff as 1 second)

I would expect that no retry is needed since the partitions_for told the broker to create the topic, so the client should have knowledge on the new topic

[2016-04-27 15:04] dasch commented on #170
Yeah... the topic is created asynchronously and it usually takes a while, so the client won't know about it. The producer _should_ have marked the cluster info as stale, prompting a refresh. I'll look into it.

[2016-04-27 15:05] dasch commented on #170
Does it work if you _don't_ call `partitions_for` first?

[2016-04-27 15:07] dasch commented on #170
I may have found the issue. Can you try against #175?

[2016-04-27 16:56] guyisra commented on #170
The problem is in the partitions_for. I must call partitions_for, since I need to know how many partitions are for the topic

it seems that once calling `client.partitions_for("new_topic")`, it gets added to @target_topics yet either refresh_metadata isn't getting called, or it gets called too soon perhaps?

looking at the @toptics of cluster_info it has

`#<Kafka::Protocol::MetadataResponse::Topi

[2016-04-27 17:41] dasch commented on #170
The error code should cause the producer to refresh its metadata... I'll look at this again tomorrow.

[2016-04-27 18:40] samstokes commented on #164
Hi @dasch, thanks very much for digging into this.  Definitely seems like it's the Kafka command line tools that are making unwarranted assumptions about the content of those fields.  I guess I should report this as a bug to the Kafka project.

I was basically just trying to get visibility into my consumer group offsets (e.g. how much is this group lagging behind the producer) - I don't know of an

[2016-04-27 18:40] #164 closed

[2016-04-27 18:52] dasch commented on #164
I think you have two options:

1) subscribe to the ACK notifications being emitted through ActiveSupport Notifications, or
2) read from Kafka topic used to persist the offsets.

The latter is general purpose and should work regardless of the client being used. I use the former to write e.g. lag metrics to statsd.

[2016-04-27 18:53] dasch commented on #164
https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/consumer.rb#L110

[2016-04-28 08:51] dasch commented on #170
@guyisra I'm not able to reproduce this. The following code works for me:

[code]

Can you provide an example that reproduces the issue reliably?

[2016-04-28 09:36] guyisra commented on #170
perhaps the failing is always in the partitions_for. Since here you rescue the Kafka::LeaderNotAvailable error, yet continue normally, it does work.

For my setup, I need to send to a specific partition which will be select based on a calculation, so I must get a result for partitions_for.

However, it would be logical that if a topic is created on the fly it will have the default partition, and b

[2016-04-28 09:37] dasch commented on #170
@guyisra I may have discovered the issue – I guess you're not even proceeding to produce messages until you can get the partition count?

The following code would never work:

[code]

I updated #175 to make sure that an error in `partitions_for` invalidates the cached cluster info, so the above code will now work. Can you confirm that it fixes your issue?

[2016-04-28 09:47] dasch commented on #170
There's currently no way for the client to specify the configuration of a topic that should be auto-created, or indeed whether or not to auto-create a topic – merely asking for the metadata will auto-create the topic with the default config. I believe a future version of Kafka will add separate APIs for creating topics with control over configuration.

[2016-04-28 09:52] guyisra commented on #170
The above #175 retries forever, even with sleep before the retry

[2016-04-28 09:55] dasch commented on #170
Even with the new and updated code? Make sure to reference the exact commit.

[2016-04-28 09:55] dasch commented on #170
0ca4bb1c8ac7009197d37e9afa7f33e76026d37f

[2016-04-28 10:05] guyisra commented on #170
yea, still doesn't work unless I create a new client

[2016-04-28 10:06] guyisra commented on #170
however, if I try it on a different topic, the first not working topic does work (yet the second still doesn't work, unless I do a third..)

[2016-04-28 11:11] dasch commented on #170
It would just seem that this spec should be able to replicate the error then: https://github.com/zendesk/ruby-kafka/pull/175/files

How many times are you retrying?

[2016-04-28 11:51] guyisra commented on #170
Well, checking this standalone it does seems to fix the issue.

I seem to have some kind of a rails problem where doing the same exact thing from within the app does not work, either a bundler issue, or some weird caching of the gem... not sure what is going on. I'll try to resolve it and open a new ticket if there more problems concerning the matter.

Can you please release this fix in a new vers

[2016-04-28 11:51] #170 closed

[2016-04-28 12:28] dasch commented on #170
:heart:

[2016-04-28 12:29] dasch commented on #170
Can you try to get it working in the Rails app first? If there's another bug with regards to integrating with Rails I'd like to get that fixed before cutting another release.

[2016-04-28 12:57] guyisra commented on #170
The problem was resolved, it was my fault.

I am using Retryable, though, so it won't retry forever

Thanks again!

[2016-04-28 13:49] dasch commented on #170
:heart:

[2016-05-01 14:16] MartinNowak opened #178 "consumer message offset jumps backwards with each_batch"
With a single consumer and using each_batch the message offset jumps backwars after committing offsets. This happens b/c the `@committed_offsets` cache isn't cleared and b/c messages are marked as processed before commiting offsets (that's vice versa to what each_message does).

[2016-05-01 14:27] guyisra commented on #170
please don't forget about the release :)

[2016-05-01 14:31] MartinNowak commented on #178
Duplicate of #173

[2016-05-01 14:31] #178 closed

[2016-05-04 09:01] mohamedrez opened #182 "I can't send message to kafka installed on the LAN"
I've initialized Kafka.new(seed_brokers: ["192.168.1.177:9092"]),

Thnx in advance

[2016-05-04 14:08] mohamedrez commented on #182
Sorry it's related to Kafka configuration and not to the lib

[2016-05-04 14:08] #182 closed

[2016-05-11 15:55] dasch opened #184 "Don't abort when the async producer thread dies"
There needs to be a better way to handle that failure.

[2016-05-11 20:00] #184 closed

[2016-05-11 21:20] dremex opened #186 "InvalidSessionTimeout when setting session timeout > 30"
When setting the "session_timeout" for a consumer, I'm unable to set a value > 30. Is there an additional configuration piece I'm missing?

`kafka.consumer(group_id: "consumer-group", session_timeout: 35)`

`/Users/kerry/.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/ruby-kafka-0.3.7/lib/kafka/protocol.rb:50:in `handle_error': Kafka::InvalidSessionTimeout (Kafka::InvalidSessionTimeout)
	from /User

[2016-05-11 22:18] tcrayford commented on #186
The broker also specifies a max session timeout, which by default is 30 seconds. That's likely what you're hitting.

[2016-05-11 23:09] dremex commented on #186
Ah yes, I was able to set my "group.max.session.timeout.ms" kafka config value.

Thanks

[2016-05-11 23:09] #186 closed

[2016-05-16 22:29] nickmarrone opened #188 ""nil can't be coerced into Fixnum" exception after producer.deliver_messages"
Hello,

In my code, I am using the synchronous producer to produce a message, and then deliver it to the kafka queue.

[code]

Although many messages succeed, some of the time `deliver_messages` will raise an error `nil can't be coerced into Fixnum`. The stack trace is

[code]

The error appears to occur in when an empty array of messages is passed to MessageBuffer#concat and it attempts to add ni

[2016-05-17 02:57] dasch commented on #188
Thanks for the detailed bug report, I'll investigate this.

[2016-05-17 03:21] #188 closed

[2016-05-17 03:22] dasch commented on #188
@nickmarrone the issue should be fixed on the latest master – can you confirm that's the case?

[2016-05-17 16:23] nickmarrone commented on #188
@dasch, thanks for the quick response.

Although the fix prevents this particular error, the error gets pushed to the next location:

`nil can't be coerced into Fixnum`

[code]

Via logging, I can show that that I am writing a message when the error occurs.

My code goes something like this
[code]

I have set connection, socket, and ack timeouts to many seconds.

The logging now shows that the fai

[2016-05-17 17:55] dasch commented on #188
1) Are you using multiple threads?
2) Can you send me a link to a full log dump that replicates the behavior?

[2016-05-17 17:56] dasch commented on #188
Also, the exception you observed should be fixed by c945b73be43a5132741418ba57262b0dff3d0945. Hopefully we can get closer to the source.

[2016-05-17 19:10] vitaliy commented on #188
Pulled the latest from master. Still getting "TypeError: nil can't be coerced into Fixnum"
Doing some load testing here.

[GEM_ROOT]/bundler/gems/ruby-kafka-c945b73be43a/lib/kafka/message_buffer.rb:59 in -
[GEM_ROOT]/bundler/gems/ruby-kafka-c945b73be43a/lib/kafka/message_buffer.rb:59 in clear_messages
[GEM_ROOT]/bundler/gems/ruby-kafka-c945b73be43a/lib/kafka/produce_operation.rb:157 in block in ha

[2016-05-17 20:12] nickmarrone commented on #188
@dasch,

Threads are causing my problem I'm pretty sure. I believe that, with two threads, something like this is happening:

[code]

I also continued to see the same error that vitaliy noted, but I need to update my code to have a separate connection to kafka in each thread before proceeding.

[2016-05-17 20:17] dasch commented on #188
The Kafka client is not thread safe at the moment. Can you try your existing code with #191 though? That may actually provide thread safety.

Note however that the TCP connections will _not_ be shared among threads. You can instead try to use an async producer, which should be thread safe.

[2016-05-17 20:45] nickmarrone commented on #188
I will give that a shot.

[2016-05-17 21:39] nickmarrone commented on #188
@dasch, that branch goes back to failing on line 30 of message_buffer.rb (pre adding the 0 in from your first fix). I am working on a version that has a separate connection for each thread.

[2016-05-17 22:33] dasch commented on #188
Yeah, the sync producer is not thread safe. The async one should be. The
branch hasn't been rebased on master, I'll do that later.
On tir. 17. maj 2016 at 14.40, Nick Marrone <notifications@github.com>
wrote:

[2016-05-17 22:53] nickmarrone commented on #188
Ah, I see.

The async producer will not work for me because I need to be able to ACK or fail each message as they go through my data processing pipeline. FYI, our message size, even compressed, can be several hundred KB.

Looking in more closely, I see that the async producer uses a producer under the hood. Each producer is creating its own queue and buffer.

Similarly, the client is creating a ne

[2016-05-17 23:55] nickmarrone commented on #188
@dasch,

By instantiating a different kafka client for each thread, I am not getting the error anymore. I am successfully persisting data to the kafka topic without error. Thank you for your work in helping me debug this issue. Previously, we were writing to a java service that would then persist to kafka, but we have been looking into connecting directly to kafka with a ruby for a while.

[2016-05-18 01:03] dasch commented on #188
@nickmarrone you definitely want a separate producer per thread for the semantics you're describing. With #191 merged, you can share a single client instance, though, although under the hood it doesn't make much of a difference.

Feel free to ask if you have more questions!

[2016-05-20 14:11] jturkel opened #192 "Expose TestCluster?"
Applications that use Kafka often need to startup and manage Kafka clusters as part of their tests. The [test_kafka](https://github.com/bts/test_kafka) gem does this but it only works with Kafka 0.8 and it relies on the unmaintained [poseidon](https://github.com/bpot/poseidon) gem. Any interest in exposing the ruby-kafka `TestCluster` class to meet these needs?

I think a few things would have to

[2016-05-20 17:33] dasch commented on #192
@jturkel I'm not too interested in having the gem be part of ruby-kafka – but if you extract the code into another gem and make it high quality, I'd love to use it instead of the TestCluster class. Note that currently it's a bit tricky to support multiple versions of Kafka since the topic administration is done via shell scripts executed within the containers. I believe Kafka 0.10 will have proper

[2016-05-20 17:34] jturkel commented on #192
Sounds reasonable

[2016-05-20 17:34] dasch commented on #192
Also: I've tried and failed to get the functional tests running in SimpleCI because of some Docker issue. It would be great if you could solve that for the library and maybe test in a few common CI systems (Travis, for instance.)

[2016-05-20 17:39] jturkel commented on #192
@dasch - Do you have more details on the Docker issues you were seeing?

[2016-05-20 17:58] dasch commented on #192
Never was able to reproduce it properly, but I think it was related to network settings.

[2016-05-20 18:15] jturkel commented on #192
Are you guys using SimpleCI or CircleCI? We managed to get our tests running in CircleCI using this fork of the `TestCluster` class: https://gist.github.com/jturkel/44716874997bab8a08911c06638cdcf5. When running in Circle we had to set the `KAFKA_ADVERTISED_HOST_NAME` to:
[code]

[2016-05-20 20:56] dasch commented on #192
That worked, thanks!

I'm closing this as it's not really a bug – let me know if you choose to release test-kafka as a gem.

[2016-05-20 20:56] #192 closed

[2016-05-20 20:57] dasch commented on #66
Closed by #181.

[2016-05-20 20:57] #66 closed

[2016-05-20 21:06] jturkel commented on #192
Awesome! Glad you were able to get the tests working in Circle. I'll keep you posted on the gem.

[2016-05-24 17:34] mrkamel opened #194 "Make FetchOperation#execute handle Kafka::ConnectionError"
My consumer is running into an infinite loop when the current kafka leader breaks (i.e. is shut down, has no connection, etc) even though a new leader is elected and up. This is happening, because FetchOperation#execute doesn't handle Kafka::ConnectionError to mark the cluster info as stale.

See: https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/fetch_operation.rb#L93

My consumer:

[co

[2016-05-24 22:08] dasch commented on #194
Can you create a PR?

[2016-05-25 05:38] mrkamel commented on #194
done

[2016-05-25 16:57] #194 closed

[2016-05-31 15:16] MartinNowak opened #199 "Support for 0.10.0 message format"
Since 0.10.0 message might include a timestamp field.
http://kafka.apache.org/documentation.html#upgrade_10
http://kafka.apache.org/documentation.html#upgrade_10_breaking

[2016-05-31 15:22] MartinNowak opened #200 "0.10.0.0 server fails to process snappy compressed producer messages"
Something about processing snappy compressed messages breaks w/ 0.10.0.0.
According to http://kafka.apache.org/documentation.html#upgrade_10_performance_impact the broker translates messages from/to older clients, but maybe that isn't working (I also received 0.10.0 messages from a broker).
With 0.10.0.0 the messages are no longer recompressed by the server which might be another cause for this is

[2016-05-31 22:40] dasch commented on #199
Since there's no good way to detect which version of Kafka a cluster is running I'd like to keep this library 0.9 only for the time being. At some point we'll switch everything over to 0.10, but I'd like to avoid having to support multiple versions. After 0.10 things will be different due to the API version discovery mechanism that was added.

[2016-05-31 22:42] dasch commented on #200
Can you provide some code that reproduces the problem?

[2016-05-31 23:18] grantr opened #201 "Return the number of messages delivered"
`deliver_messages` always returns nil. Can it return the number of messages delivered? This would be helpful for synchronous use cases.

[2016-05-31 23:41] dasch commented on #201
I'm not sure I want the sync and async producer APIs to diverge too much – can you give an example of what you would use this for?

[2016-05-31 23:43] dasch commented on #201
Also, note that `#buffer_size` returns the number of messages buffered, so you could do:

[code]

[2016-05-31 23:52] grantr commented on #201
That's a good enough workaround, thanks @dasch!

[2016-05-31 23:52] #201 closed

[2016-06-01 22:34] dasch commented on #200
This could be a lack of vigilance around the `attributes` field in the message struct...

[2016-06-02 10:19] pctj101 opened #204 "Flushing producer on rails shutdown / producer deallocation"
It's pretty clear how to get kafka going in rails:
https://github.com/zendesk/ruby-kafka#producing-messages-from-a-rails-application

However it's not yet clear how to ensure the producer queue gets flushed when the application gets shutdown.

The integration point for this could be different depending on the rails server depending on whether the producer is unique per thread, or unique per proces

[2016-06-02 17:26] dasch commented on #204
The section you're linking to includes this:

[code]

Does that not work for you?

[2016-06-02 19:07] dasch opened #206 "Handle errors in the consumer processing code without crashing"
Given this snippet:

[code]

When the above consumer runs, the user code handling messages in `topic-b` will raise an exception, causing the entire consumer to crash. In some cases, this may be the best policy. I feel, however, that there's a case to be made for allowing the consumer to continue with the topics that do not cause failures.

I see a few valid configuration options that would apply t

[2016-06-02 20:49] dasch opened #207 "Change consumer subscription API"
Currently, the API looks like this:

[code]

I feel that it's a somewhat confusing API. From the point of view of the user, it's really a boolean option of whether to _start from the beginning_ or not. As such, the API could look like this:

[code]

[2016-06-02 20:49] dasch commented on #207
@osheroff does this make sense?

[2016-06-02 20:58] dansimpson commented on #207
Overall, it makes sense, but having some language to convey that the flag only takes effect when no committed offsets are present helps.  I ran into that question when first using the consumer API.

[2016-06-02 21:01] dasch commented on #207
@dansimpson is there some wording that would have helped?

[2016-06-02 21:06] dansimpson commented on #207
@dasch I think adding another sentence to the documentation for the subscribe method works:

[code]

I think this works with start_from_beginning as well.

[2016-06-03 06:22] jacobat commented on #206
Does this need to be a concern of this library? It would appear more flexible to allow users to implement whatever exception handling scheme they see fit. I suppose this leaves the question of how to mark which messages have been processed?

[2016-06-03 16:57] osheroff commented on #206
I tend to think a crash in the consumer should be mostly a crash, but I can see the benefits of the `block_topic` semantics.  What about something like:

[code]

which tells ruby-kafka "I can't process this message now, so give it to me again for retry in a bit"

[2016-06-03 17:11] dasch commented on #206
@jacobat

Indeed. The "message processed" semantics are based on the block not raising an exception.

[2016-06-03 17:12] dasch commented on #206
@osheroff that would make the implementation much harder, I'm afraid – you'd need some kind of threading model to make that work :-/ What would be the impact of having, say, a dozen Kafka consumer groups per application? I could just start a consumer for each subscriber in a separate thread...

[2016-06-03 17:33] dansimpson commented on #206
I think the user should be responsible for handling exceptions, but some semantics for managing commits and retries would help.  I like the API @osheroff proposed, in that is "pauses" processing on a given topic, at the control of the developer, but may I suggest, if a retry utility is added, that there be a retry policy?

[code]

It's an option.  I think this can all be done outside the scope of

[2016-06-03 17:43] dasch commented on #206
Yeah... at that point I think it's too complex.

The issue I want resilience to is the code not being able to handle a specific message, e.g. due to a missing field or something. No amount of backoff is going to fix that. I basically want to be able to proceed processing all the partitions that do not contain problematic messages while the developers create and deploy a fix, then resume the partit

[2016-06-03 17:52] dansimpson commented on #206
Agreed.  Keep in mind that there may be implementations which favor dropping messages, in favor of keeping consumer lag low.

I have a case where I want to do both, depending on the error.  If my process can't access a database due to networking/failure/etc, I want to pause processing.  On the other hand, if an exception is thrown in my processing code due to bad input, I want to drop the message

[2016-06-03 17:53] dasch commented on #206
I should probably have a more concrete example first. One use case could be a job queue. In the case of e.g. Resque, a job is "failed" if it raises an exception. In that case it's automatically placed in a separate queue so that it doesn't block the rest of the jobs. I guess a Kafka based job queue could do the same:

[code]

Even then, it would be nice if the above consumer could subscribe to _bo

[2016-06-03 18:01] dasch commented on #206
Using `sleep` is actually a bit tricky here, since the consumer needs to send out a periodic heartbeat, and that's only done once the block returns. If it fails to send a heartbeat within the session timeout, the partitions will be allocated to another consumer.

In the Java library there's the notion of pausing and resuming topics. That could very well be the best solution, but I'm not sure I wan

[2016-06-03 18:03] dasch commented on #206
I wonder if at this point it would be better to expose a `#poll` method akin to the one in the Java API.

[2016-06-03 18:25] dasch commented on #206
Maybe the answer is to add a low-level API rather than making assumptions in a high-level API:

[code]

[2016-06-03 19:49] osheroff commented on #206
what's the semantics of `pause`?  The difficulty here is really around the `batches` -- there could be 1k messages in the batch for that topic-partition, and you don't want to hit the error case for each of those before you enter a pause-state; ideally you hit the first bad message for a topic-partition, and that causes back-pressure on any inflight messages too.  This *could* be pulled off in a b

[2016-06-03 20:14] dasch commented on #206
@osheroff for ruby-kafka I would imagine that pausing a partition places it on a special _pause list_, causing the consumer to not fetch messages for it. The partition will still be _assigned_ to the consumer, though. After some timeout expires, the partition is removed from the pause list again.

As for the batch: the consumer keeps track of the highest offset marked as processed – it doesn't car

[2016-06-06 20:36] dasch commented on #207
Closed by #209.

[2016-06-06 20:36] #207 closed

[2016-06-06 22:04] leifg commented on #199
What about having a version attribute in the client that defaults to 0.9.0 that way 0.10.0 features can be used without breaking backwards compatibility.

[2016-06-06 23:17] dasch commented on #199
That would still require maintenance of the different request/response serialization formats. Since I don't feel any of the 0.10 features warrant that extra work I'm going to push support for 0.10 features to a later time.

[2016-06-06 23:17] #199 closed

[2016-06-06 23:17] dasch commented on #200
@MartinNowak do you have an update on this?

[2016-06-07 06:29] pctj101 commented on #204
Looks like there's a bit of consideration before using at_exit as a hook:
http://blog.arkency.com/2013/06/are-we-abusing-at-exit/

Have you seen any pros/cons to using the at_exit approach with respect to this gem?

[2016-06-07 17:34] dasch commented on #204
I've been using it in production for a while now and haven't seen any issues.

[2016-06-08 22:26] #204 closed

[2016-06-08 22:27] dasch commented on #200
Seems to have been a problem in Kafka.

[2016-06-08 22:27] #200 closed

[2016-06-10 09:45] tslcjames opened #215 "consumer group question"
I am using the consumer group and have a wired random problem
let's how I use , and I have 3 broker, and use two process to run 2 consumer, topic has 100 partitions
[code]

but sometime the message will lost, and just lost some partition message
see the log like this
`Resolving offset `-1` for test_topic/0...`
`Offset for test_topic/0 is 30`

and after I produce more message to partition 0, still

[2016-06-10 17:34] dasch commented on #215
Try setting `offset_commit_interval` to 1 rather than 0.

[2016-06-10 17:39] dasch commented on #215
Also: `Resolving offset-1for test_topic/0...` probably means that the offset for that partition has not been committed at all, or that the commit has expired. Do you stop the jobs and restart them much later? The client uses the default commit retention time configured in the broker, so after a while the commit will be removed.

[2016-06-11 02:58] tslcjames commented on #215
thanks for your reply~
1. I try to set `offset_commit_interval ` to 1 before, but more than 1 message will comes in 1s from different partitions and only the first message will commit and other message from different partition wii not commit. Therefore I set to 0.

2. for this `Resolving offset `-1` for test_topic/0...`. I think it's ok to get -1 here
because the following will work and get the of

[2016-06-13 20:15] dasch commented on #215
I'm not quite sure I understand the problem here. If `do_jobs()` in your example works _synchronously_ you should _not_ see any message loss. Are you using threads to do processing?

[2016-06-14 07:42] tslcjames commented on #215
it's not related to the do_jobs(), even I put logs here, it didn't show up when issue happened
[code]

the problem is the consumer can't receive message from some partitions
this normal partition
Fetching batch from test_topic/2 starting at offset 3
this is abnormal
Fetching batch from test_topic/14 starting at offset latest

it's that more clear@@?I'm sorry that I still not found the reproduce st

[2016-06-14 11:39] tslcjames commented on #215
sorry, more clear information now,
[code]
we subscribe 3 topic in one consumer,
when I only subscribe to 1 topic, it looks fine (I'm not sure , because the issue is random)

I saw the code here, looks like the offset manager is same one
https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/consumer.rb#L75
so...could we subscribe to 3 topic in one consumer?

thanks

[2016-06-14 20:59] dasch commented on #215
First of all, `offset_commit_interval: 0` is simply wrong – that's _not_ how you want to trigger offset commits. If you want offsets committed after every single message processing, use `offset_commit_threshold: 1`.

This simply means that no offsets have been committed for that partition yet, so the client will wait for messages to appear at the end of the partition. Note that since you set `defa

[2016-06-14 20:59] dasch commented on #215
Also: are you sure that you're writing messages to all partitions? What's your partitioning key?

[2016-06-15 16:08] tslcjames commented on #215
yes I'm sure the producer successfully add message into different partitions
I using simple consumer to make sure that

and I change to `default_offset: :earliest` and the issue disappear
but the different between `:latest` and `earliest` only is the first time consuming position
I still can't understand why using `:latest`, the messages from some partition can't be consumed but other partition is

[2016-06-15 16:14] dasch commented on #215
When using `:latest`, only messages written to the partition *after* the consumer starts will be consumed. It's not enough that there are already messages in the partition.

[2016-06-15 16:15] dasch commented on #215
If you can provide a full script that both produces and consumes and exhibits this problem, then I would be able to debug it.

[2016-06-15 20:15] rayjohnson opened #217 "How do I reset the the consumer group offset"
In some cases I need a consumer group to reprocess a topic from the beginning. Is it possible to reset the offset for this case?

[2016-06-15 20:48] dasch commented on #217
There's no explicit API for this. I'd recommend versioning your group id, e.g. `my-group-v3`. Each group id has its own offset tracking.

[2016-06-15 20:50] dasch commented on #217
In the future I may add support for seeking within partitions, among other reasons in order to support external offset management, but for now I'm closing this.

[2016-06-15 20:50] #217 closed

[2016-06-16 01:46] rayjohnson opened #218 "Ending read loop if no more messages"
I'm trying to figure out how to end if I have read all of the messages off my topic.  Right now I'm stuck in messages.each loop - blocked while it waits for more messages.  However, for my app I'd to get out of the loop and do other stuff.  Is there a way to do this?

[2016-06-16 19:23] dasch commented on #218
Not in a nice way, no – what kind of API would you like to see? And is this for the balanced consumer `kafka.consumer` or just the `fetch_messages` API?

[2016-06-16 19:27] dasch commented on #218
With `fetch_messages` you can simply check if the returned array is empty:

[code]

I'm working on an experimental non-balanced consumer API:

[code]

I'd like to maybe add a stop-at-end-of-topic option to it.

[2016-06-16 19:34] dasch commented on #168
Added an experimental API to master:

[code]

It doesn't do checkpointing – I'm not sure if it makes sense to add it, as you might as well use a consumer group at that point.

[2016-06-16 19:34] #168 closed

[2016-06-16 19:35] #40 closed

[2016-06-16 19:36] dasch commented on #31
Since the default has been changed to `:all`, I'm going to close this. People changing the setting should have read up on the semantics.

[2016-06-16 19:36] #31 closed

[2016-06-16 19:36] #32 closed

[2016-06-16 19:36] #96 closed

[2016-06-16 19:36] #106 closed

[2016-06-17 02:03] rayjohnson commented on #218
I did not know about the fetch_messages API.  Turns out that is exactly what I needed for this one use case.  Thank you!

However, for my other use case the consumer API is way better.  One thing I'd like to eventually deal with is how to shut down gracefully.  The data this app listens to is more like a drip - not a river.  So I may not (in a timely way) be able to look for a shut down message wh

[2016-06-17 02:19] rayjohnson commented on #126
I think I have a need for this.

What I need to ensure is that for a given single message - I will be doing a bunch of work.  I need to ensure that work completes successfully before moving on.  If it does succeed - I want to ensure the offset is updated and it will not get processed again.

So the options around time and number of messages for the offset to get updated is a little to course grain

[2016-06-17 02:21] rayjohnson commented on #126
Or maybe I should have put this commit in #112.  Though in my use case I will only have on consumer...

[2016-06-17 04:01] dasch commented on #218
If you're using the Consumer API there's already a way to stop a consumer instance:

[code]

[2016-06-17 04:09] dasch commented on #126
If you spend several minutes processing a single message, you can be sure that the offset is committed after finishing processing it – you configure the offset commit policy either on a time basis (every x seconds) or on a message basis (every x messages), or both. You could set it to commit after every single message.

That leaves the reprocessing. If the consumer has been kicked from the group o

[2016-06-17 04:10] dasch commented on #126
Note though that you'll probably want to tune the session timeout parameter if you plan on spending that much time _per message_, as Kafka will assume that the process has died if it doesn't send a heartbeat with a frequency defined by that timeout, and heartbeats are only sent after the processing block has returned.

[2016-06-17 13:49] artemk opened #222 "ruby 1.9"
hey guys, is there any reason to force using ruby 2.1 ? Some ruby 2.1 specific code?

[2016-06-17 14:08] #222 closed

[2016-06-17 17:58] rayjohnson commented on #126
Hmmm…  Maybe I should explain my use case in more detail.

I am developing a “batch” job that will run every 15 min or so.  It will read all the changes in  a SASS system (Zuora to be exact).  Specifically it gets all the table changes for a bunch of tables.  The result could be large (right after a bill run) or empty (like when run in the middle of the night).  I get an ID for the job.  Processin

[2016-06-17 18:28] dasch commented on #126
It sounds like you're trying to use consumer groups for something they're not intended for. The groups API expects consumers to periodically send heartbeats indicating that they're still active, and I don't think the interval between these can be that long. Furthermore, there's really no way around duplicates in the topics you'll be writing to, as your job may fail halfway through. You could maybe

[2016-06-19 13:24] tslcjames commented on #215
here is the reproduce steps
1. clean all data in kafka broker and zookeeper
2. restart server and create 3 topics(replication factor 2, partition 2)
3. start consumer
[code]
produce message to each partition periodically
[code]

thanks

[2016-06-20 04:27] ghanima opened #223 "Initializing kafka.new Object"
Having a problem trying to use the function Kafka.new.

Sample Code

require 'kafka'
kaf = Kafka.new(seed_brokers: ["ipaddr:9092"], client_id: "client-id")

When using the code above I get this error

.gem/ruby/2.2.3/gems/ruby-kafka-0.3.9/lib/kafka/client.rb:409:in `block in normalize_seed_brokers': uninitialized constant Kafka::Client::URI (NameError)
At line 411 there is a reference to
uri = URI

[2016-06-20 22:08] dstrelau opened #225 "Retrieve Latest Offset for Partition"
Hi there! I'm attempting to migrate some code from Poseidon, and one feature I can't figure out how to replicate is fetching the latest offset for a partition.

Normally, I'd fetch the `:ealiest` message in the partition and use the `highwater_mark_offset` from the response, but I can't figure out a way to do this easily. It _seems_ like that highwater mark is only accessible in the `FetchedBatch`

[2016-06-20 22:47] MartinNowak opened #226 "busy error loop when one of the seed_brokers goes unreachable"
Error failover for the consumer seems to be not working. We had of our Kafka replica servers going down this weekend, and the consumer went into a busy error loop.
Looks like even a basic retry/error policy is missing here. Everything works fine after restarting the consumer, so it can detect, that one of the seeds is down, but it cannot deal with a broker going down while running.
The consumer is

[2016-06-20 23:05] dasch commented on #215
Okay, I think I've found the issue – there's a race condition when the consumer subscribes to the latest messages. If no messages arrive in the `max_wait_time` window (which can be passed to `#each_consumer`) the consumer will try another fetch, but since it has no committed offsets for the partitions it will try to resolve the `:latest` offset again, which might mean skipping some messages that h

[2016-06-20 23:06] #223 closed

[2016-06-20 23:10] dasch commented on #226
We definitely need some backoff for the retries. Can you try to write a functional test that replicates the error conditions you encountered? The client _should_ get updated cluster information automatically and stop calling the broker...

[2016-06-20 23:11] dasch commented on #225
What's your reason for wanting to fetch the latest offset?

[2016-06-21 14:04] tslcjames commented on #215
thanks for your help
I will try after you fix, thanks

[2016-06-21 15:17] dstrelau commented on #225
I have some monitoring/dashboarding type use-cases where I need to understand the state of consumers vs the latest offsets on each partition.

[2016-06-21 18:31] dasch commented on #225
Are your monitors separate from the consumers themselves? It's not documented yet, but [`kafka/datadog`](https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/datadog.rb) is an example of reporting e.g. consumer lag to a dashboard system, in this case Datadog. Events are published to the Active Support Notifications bus, and can easily be subscribed to.

This is of course all based on the as

[2016-06-21 18:41] rayjohnson opened #227 "Kafka::UnknownError when calling producer.deliver_messages"
/usr/local/bundle/gems/ruby-kafka-0.3.8/lib/kafka/protocol.rb:50:in `handle_error': Kafka::UnknownError (Kafka::UnknownError)

What is odd is I call it successfully a 1/2 dozen times before and things work.  What can cause UnknownError?  Any suggestions for how I can figure out root cause?

[2016-06-21 19:22] dstrelau commented on #225
Hmm, no this doesn't help me unfortunately. Happy to contribute a PR for this if you'd be willing to point me in the direction you'd like to go.

[2016-06-21 20:16] dasch commented on #225
So basically you'd like to periodically poll the highwater mark offset for each partition in a set of topics?

[2016-06-21 20:24] dstrelau commented on #225
Yep, exactly.

[2016-06-21 20:59] dasch commented on #225
As far as I can see in [the protocol](http://kafka.apache.org/protocol.html), there's no Kafka API to give you this directly. The closest thing that doesn't involve fetching any messages would be to do an Offset Request with the special offset -1, meaning "offset of next message to be appended", if I recall correctly. You'd need to first get the complete list of partitions for the topic, which sho

[2016-06-22 05:41] dasch commented on #227
Can you give me a full stack trace?

[2016-06-22 05:50] dasch commented on #227
This sounds like a bug in the broker - it may return error -1, which basically means "unknown broker error". What's the exact version of Kafka this is happening with, and how can you reproduce the problem?

[2016-06-22 14:43] rayjohnson commented on #227
Version is Kafka 0.10 from Confluent release.  Currently only installed on one machine.  Given topic only has one partition.

My code is a loop going over a bunch of data.  Every 10 messages it calls.  When I first reported it it was happening every time on the last message.  When my loop finished - I called deliver_messages one last time and then producer.shutdown.  (So the last deliver_messages

[2016-06-22 14:49] rayjohnson commented on #227
I should add that it fails every time after the exact same number of messages sent.  (I keep processing the same data until I know the entire batch is sent to Kafka.  So the data going through is exactly the same each time it is failing.)

[2016-06-22 18:02] MartinNowak commented on #226
Just triggered this again with a producer, will try to find some time for a test in the next few days.

[2016-06-22 19:10] dasch commented on #227
Hmm.

1. Have you enable any form of compression?
2. Is the message this is failing with larger than the rest?

The error you're seeing is a generic server error. I'm not sure what's causing it – can you try tailing the Kafka broker log and see what shows up?

[2016-06-22 19:16] dasch commented on #226
@MartinNowak can you try running against the commit in this PR? https://github.com/zendesk/ruby-kafka/pull/228

[2016-06-23 15:02] rayjohnson commented on #227
Took me a bit to get access to the Kafka machine.  Seeing this stack dump in the Kafka logs:
[2016-06-23 07:58:50,966] ERROR [Replica Manager on Broker 0]: Error processing append operation on partition zuora-dev-Payment-0 (kafka.server.ReplicaManager)
kafka.common.KafkaException:
	at kafka.message.ByteBufferMessageSet$$anon$1.makeNext(ByteBufferMessageSet.scala:159)
	at kafka.message.ByteBufferMe

[2016-06-23 15:07] rayjohnson commented on #227
Ah ha - yes I was using snappy compression.  Found this issue on Kafka: KAFKA-2308

I turned off snappy compression and things started to work.

Should have look at these logs sooner.  Thanks so much for the hint though.  Certainly helped!

[2016-06-23 17:17] dasch commented on #227
Great to see you got it working!

[2016-06-23 17:17] #227 closed

[2016-06-23 21:27] dasch commented on #215
@tslcjames can you verify that #230 fixes your problem?

[2016-06-23 21:34] dasch commented on #225
Once #230 has been merged I should be able to add an API for this.

[2016-06-24 09:10] tslcjames commented on #215
@dasch  thanks for your fix
I Use this version to test
`gem 'ruby-kafka', git: 'https://github.com/zendesk/ruby-kafka.git', ref: 'ecdf17e37ea296bd8614cbd1a909ef6ad8c94e92'`

when I delete all data in kafka server and restart broker and consumer
The exception `Kafka::OffsetOutOfRange` will happen
after I create one message to each partition, the situation disappear
and the issue I mentioned before

[2016-06-24 17:15] dasch commented on #215
Hmm, let me check up on that.

[2016-06-24 17:26] dasch commented on #215
@tslcjames can you try with the latest HEAD of the branch again?

[2016-06-25 00:21] tslcjames commented on #215
@dasch yes! it look nice! now the offset is correct and all partition message received
`gem 'ruby-kafka', git: 'https://github.com/zendesk/ruby-kafka.git', ref: '8b53cf9935020e4eb234581eca8b09f053055fea'`

the other question, as I mentioned before
whether there is same problem in here `resolve_offsets`?
https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/fetch_operation.rb#L101

thanks

[2016-06-25 00:35] dasch commented on #215
Awesome! I'll merge that PR, then.

I don't think the problem applies to the fetch operation – Kafka's offset handling is a bit weird, here. Basically, when fetching you provide the _starting offset_ of the fetch, so when tailing the topic you specify the offset of the next message to be written. The problem with the PR was that I tried to _commit_ the next offset rather than the current one.

[2016-06-25 00:36] #215 closed

[2016-06-25 00:36] #226 closed

[2016-06-27 06:09] tslcjames commented on #215
@dasch
I think I forget to test `earliest` case, this modification need to consider `earliest` also
https://github.com/zendesk/ruby-kafka/blob/51c7b83b327089aa9fd9bb488340176c2bfe608d/lib/kafka/cluster.rb#L136

thanks

[2016-06-27 08:31] dasch commented on #215
I thought that would just work, since resolving `earliest` _should_ return the actual offset of the earliest message. Have you observed a problem?

[2016-06-27 09:38] tslcjames commented on #215
Yes, same offset out of range situation when first start, have you seen that before?

[2016-06-27 11:01] dasch commented on #215
Hmm. It's probably because those offsets don't exist in the partitions.

[2016-06-27 11:30] dasch commented on #215
@tslcjames can you test out https://github.com/zendesk/ruby-kafka/pull/231 for me?

[2016-06-28 08:12] tslcjames commented on #215
@dasch I tested with `:latest` and `:earliest` , it ok with this version
`3b27512a025d5559f040d6c389dddfddac479515`

the other question, I saw sometimes the offset will be `-1` when get the committed offset
even though I didn't start a new consumer group,
https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/offset_manager.rb#L32
what's the other scenario when saw `-1` here?

thanks

[2016-06-28 08:20] dasch commented on #215
If the offset list API returns -1 it means no offset has been committed, or that the offset commit has expired. If your consumer group is inactive for a long period of time the commits may expire.

[2016-06-28 09:05] dasch commented on #225
@dstrelau can you take a look at #232?

[2016-06-28 16:36] tslcjames commented on #215
I see, I found it's the offsets.retention.minutes too low, so the offset will be clear
thanks

[2016-06-28 17:14] dasch opened #233 "Allow configuring the offset commit retention time"
Currently, the broker default is always used. When a consumer group is stopped and started again after a while, the committed offsets may have expired, causing the group to re-process the topics.

The API could look like this:

[code]

I'm not sure whether to surface the nomenclature around "offset commits" or whether to use the more intuitive concept of "checkpointing".

[2016-06-28 17:14] dasch commented on #215
It's possible to override that default in the client, but I'm not exposing it as an option yet. I've added #233 to track the issue.

[2016-06-29 11:53] dasch opened #234 "Listing topics doesn't always include all topics"
After getting metadata for some topics, `Client#topics` returns only _those_ topics.

###### Steps to reproduce

[code]

[2016-06-29 14:03] dstrelau commented on #225
I'm away from a computer until next week, so I can't actually run that branch to test it out, but it looks like it should work. Thanks!

[2016-07-05 21:08] natesholland opened #237 "each_message for empty topic causes undefined method `offset' for nil:NilClass"
If this is a bug report, please fill out the following:

* Version of Ruby: 2.3.0
* Version of Kafka: 0.9.0.0
* Version of ruby-kafka: 0.3.9

Please verify that the problem you're seeing hasn't been fixed by the current `master` of ruby-kafka.

###### Steps to reproduce

This may be a rare bug, but I just came across and wanted to file it. I'd be happy to submit a PR if the maintainers want. Basic

[2016-07-08 08:22] #234 closed

[2016-07-08 08:44] #225 closed

[2016-07-08 08:53] dasch commented on #237
It would be great if you could post a PR.

[2016-07-08 13:54] natesholland opened #238 "Specs don't run on OS X 10.11.5: docker error"
If this is a bug report, please fill out the following:
- Version of Ruby: 2.2.3
- Version of Kafka: 0.9.0.0
- Version of ruby-kafka: 0.3.9 (master)

Please verify that the problem you're seeing hasn't been fixed by the current `master` of ruby-kafka.
###### Steps to reproduce

On OS X with the new docker beta running execute the command `rake spec` or `rake`
###### Expected outcome

According to

[2016-07-08 14:23] natesholland commented on #238
As an additional note: I'm running this version of docker on my mac: Version 1.12.0-rc2-beta17 (build: 9779)

[2016-07-11 08:45] dasch commented on #238
It looks like it's due to [this line](https://github.com/zendesk/ruby-kafka/blob/master/spec/test_cluster.rb#L9) not working on OS X 10.11.

[2016-07-11 08:45] dasch commented on #238
Have they changed the network name?

[2016-07-12 13:01] dasch commented on #237
Can you check whether #240 solves your problem?

[2016-07-12 13:03] natesholland commented on #237
Yes I will give that a test today

[2016-07-12 13:38] natesholland commented on #237
This appears to have been fixed by #240. Thanks!

[2016-07-12 13:38] #237 closed

[2016-07-12 13:39] natesholland commented on #238
It appears so, how would I check if the network name has changed?

[2016-07-12 13:44] dasch commented on #238
Not really sure, I just got this stuff from a Docker wizard. I imagine a bit of Googling would be involved – I'm still on the old OS, so I can't reproduce.

[2016-07-12 21:29] jturkel commented on #238
Do you have to set the `DOCKER_HOST` environment variable to the address of the xhyve virtual machine that Docker for Mac is using under the covers?

[2016-07-13 04:20] state-phasive opened #241 "stack level too deep in Rails"
If this is a bug report, please fill out the following:

* Version of Ruby: 2.3.0
* Version of Kafka: Latest
* Version of ruby-kafka: 0.3.10
* Version of Rails: 5.0.0

Please verify that the problem you're seeing hasn't been fixed by the current `master` of ruby-kafka.

###### Steps to reproduce

config/initializers/kafka.rb:
[code]

app/controllers/api/v1/my_controller.rb:
[code]
Trying the follo

[2016-07-13 04:32] state-phasive commented on #241
Sorry, found the issue.  The error is being thrown at the line where .produce is called, but the error is actually further down in code.  Close or delete this.

[2016-07-13 04:32] #241 closed

[2016-07-13 08:14] dasch commented on #238
If you set `DOCKER_HOST` (and make Docker available over the network) things should just work.

[2016-07-13 08:14] dasch commented on #238
But it would be better if things Just Worked regardless...

[2016-07-18 22:41] xxx opened #245 "When a consumer loses connection from a broker due to rebalancing, offsets are not synced upon reconnect, and messages are consumed multiple times."
Maybe this is just a wontfix due to Kafka version and the client API being super alpha, but it was surprising behavior to me.

If a second consumer attempts to consume a partition already being serviced by another consumer in the same group, it causes the broker to rebalance (whether that is the correct behavior on the part of Kafka is unknown to me), and one of the consumers will get chosen to co

[2016-07-19 15:57] dasch commented on #245
Can you try without setting `offset_commit_threshold` to `0`? I'm not sure what effect it has, but it's certainly not intended...

[2016-07-19 16:20] xxx commented on #245
@dasch It's the same effect. `offset_commit_threshold` defaults to 0.

[2016-07-19 16:53] dasch commented on #245
Hmm, indeed it is. I think this might be a complex case, I'll have to do some digging.

[2016-07-20 11:14] dasch commented on #245
Note that offset commits are unrelated to fetches – the reason there's a commit after processing the first message in a batch is that the time-based commit trigger fires immediately the first time it's checked.

[2016-07-20 17:49] xxx commented on #245
@dasch I'm not sure I understand what you mean here. The time-based trigger does not happen on a timer. It fires after a subsequent message is processed as long as `offset_commit_interval` seconds have elapsed (defaults to 10) since the previous commit, and *does* commit all the stored offsets.

[2016-07-25 04:51] barockok opened #246 "Kafka::OffsetOutOfRange raises too often."
What is the use case cause `Kafka::OffsetOutOfRange` raised ?. this is how I initiate my consumer.
[code]
My early assumption is because `offset_commit_threshold` is too low ( often ), is it true ? any suggestion how to properly tune the consumer options ?

here the details stack I use.

* Version of Ruby: `2.2.4`
* Version of Kafka: `0.9.0.1`
* Version of ruby-kafka: `0.3.11`

[2016-07-25 08:36] dasch commented on #246
`default_offset:` should be a Symbol, i.e. `:earliest`. I assume that the string is automatically being cast to an integer somewhere, probably to 0, which is not guaranteed to be a valid offset.

You should use the new `#subscribe` API: `consumer.subscribe(topic, start_from_beginning: true)`. `default_offset:` will be removed in an upcoming release because it's, well, slightly confusing.

Does thi

[2016-07-25 08:44] dasch commented on #245
Let me clarify: the offset commits trigger upon message _processing_, but is not related to message _fetching_. That may explain this:

Or are you seeing duplicate processing even with a stable consumer group?

An unstable consumer group cannot be guaranteed to not process any messages twice, but some measure can be taken to limit the problem. As you correctly noticed, a consumer disregards its ow

[2016-07-25 18:04] xxx commented on #245
I'm not seeing duplicates with a stable group, but with an unstable group, I would not expect a message to be processed more than twice, but some of them are being processed many more times than that.

The naive approach would be commit uncommitted offsets on connect if there are any.

[2016-07-26 03:43] barockok commented on #246
@dasch thanks for replying.

I'm sorry, I wrote the sample code wrong, the actual code is used symbol `:earliest` as you said.

About the new API `:start_from_beginning`, is it mean only start from beginning when there is no offset information and after that, It'll use the last committed offset as the checkpoint instead of start from beginning again ?

[2016-07-26 08:31] dasch commented on #245
@xxx I'm trying to think through whether it would be safe to keep a consumer's offsets across a group re-sync – I worry that there may be edge cases where a consumer is cut off from the group for some time before rejoining, then committing offsets for a partition that had been handled by another member in the meantime. I may be able to check whether the new group generation is the immediate succes

[2016-07-26 08:32] dasch commented on #246
Yup.

[2016-07-26 08:33] dasch commented on #246
Can you paste some logs detailing the problem?

[2016-07-26 14:12] dasch commented on #245
@xxx I opened #248.

[2016-07-27 11:59] vandrijevik commented on #126
@dasch I was about to write up a new issue for my use case, but I think it may be solved by providing this feature.

We currently have consumers that use `poseidon_cluster`, so their coordination happens via zookeeper. I’d like to move the consumers to use `ruby-kafka`, without dropping any messages in the process. As I see it, my options are:

1. Configure the consumer with `start_from_beginning:

[2016-07-27 12:28] dasch commented on #126
I've been thinking about providing something like a `seek` method that allows you to set the position for each partition, however I still haven't found a use case that _absolutely_ requires this.

In your case, I think a better solution would be to stop the old consumers and do something like this:

[code]

That is, consume but skip messages with an offset less than the one in zookeeper. Would tha

[2016-07-27 13:37] vandrijevik commented on #126
Yeah, I see that as a variation of number 1 above and it is probably what I will end up doing.

It feels a bit weird/hacky to have the same consumer re-consume a topic just because its internal implementation changes, but since it is one-time code maybe it is okay :)

[2016-07-28 04:33] barockok commented on #246
here you go.
[code]

[2016-07-28 04:37] barockok commented on #246
FYI, I do subscribe to multiple topics in one consumer instance.

[2016-07-28 11:06] dasch commented on #246
@barockok I got this problem in production as well – there were some edge cases that caused the consumer to commit invalid offsets. Should have been fixed by #249 and released in v0.3.12.

Note that you may not be able to cleanly upgrade any existing consumer group – you may need to use a new group id.

[2016-08-02 08:10] dasch commented on #246
@barockok are you still seeing this with the latest release?

[2016-08-03 13:16] dasch commented on #246
Closing due to inactivity. Should be fixed in the latest beta release. Will do a stable release once I've pushed the latest consumer code in production for a while.

[2016-08-03 13:16] #246 closed

[2016-08-03 13:16] dasch commented on #245
Should be fixed in the latest releases.

[2016-08-03 13:16] #245 closed

[2016-08-03 23:18] dasch opened #259 "Improve logging when user writes to topic that doesn't exist"

[2016-08-04 09:43] #259 closed

[2016-08-04 11:15] dasch opened #261 "Limit the rate of message deliveries in the async producer"
We experienced a situation where the async producer got into a loop where it started delivering messages at a very high rate. There should be a minimal interval between each attempt in order to spare the brokers.

[2016-08-04 12:01] tcrayford commented on #261
@dasch wouldn't this be better handled by using the 0.9 quotas feature on the broker side and having this library respect the backoff responses?

[2016-08-04 13:06] dasch commented on #261
Maybe... depends on how the quotas would be implemented client side. Would the API call just block when the quota is used? If so, it would be easier to just skip message deliveries in the async producer if the last attempt was within x seconds. Maybe this could be generalized and use the quota mechanism, though...

[2016-08-04 13:08] dasch commented on #261
Seems that the quotas only apply to produce/fetch requests, so they wouldn't have prevented the issue we experienced, which was a flood of metadata requests because a missing topic caused the metadata to constantly be marked as stale...

[2016-08-04 13:11] tcrayford commented on #261
Ah, yep. It seems like *all* requests could really use throttling on the servers side. However, for now I think more sensible client side backoff/retry makes sense for this library.

[2016-08-04 13:53] dasch commented on #261
@tcrayford can I get you to look at https://github.com/zendesk/ruby-kafka/pull/262?

[2016-08-15 12:08] #261 closed

[2016-08-24 13:33] pbrisbin opened #270 "Support for messages timestamps in 0.10.0"
We are going to start using Kafka Streams and Kafka Connect for some of our message processing. This requires Kafka 0.10.0, and specifically message timestamps. We currently have a number of Ruby producers (using poseidon), which we intended to move over to this library for 0.10.0 support, but we saw that message timestamps are not supported.

Do you have any pointers for adding that functionality

[2016-08-24 17:10] dasch commented on #270
As far as I know, Kafka brokers will set the timestamp themselves when the 0.9 API is used – this of course means that you don't directly control the timestamps, but it may be enough for your needs.

Unfortunately, it will be rather tricky to support both 0.9 and 0.10 simultaneously due to that way API compatibility is handled in 0.9. My current plan is to wait for 0.10 to become more widely deplo

[2016-08-24 18:07] pbrisbin commented on #270
Looking at [this document](https://cwiki.apache.org/confluence/display/KAFKA/KIP-32+-+Add+timestamps+to+Kafka+message#KIP-32-AddtimestampstoKafkamessage-Compatibility,Deprecation,andMigrationPlan), I believe the configuration you're referring to would be *Phase 2* (0.10 brokers, 0.10 message.format.version, but 0.9 clients). There is message time-stamping, and it can be configured to be broker-pro

[2016-08-24 18:33] dasch commented on #270
That sounds about right – the brokers would have to re-encode every message.

Supporting two API versions would be a lot of work, making the entire API layer much more complicated. I'm interested in making ruby-kafka work for you guys, though, but I would need some help. I'm also leaving for an extended vacation at the end of September, and won't return to work until December 1, so the timing may

[2016-08-24 20:57] pbrisbin commented on #270
Your plan to hold off until 0.10 sees wider adoption, rather than maintaining two versions is reasonable. IMO, that doesn't preclude us working together to support (only) 0.10 in a fork or long-lived branch. It just means it won't be merge-able for quite a while.

The timing is unfortunate. I'm happy to work with you through Sept and see where we get, but we very much want this support before Dec

[2016-08-25 09:41] dasch commented on #270
@pbrisbin if you're okay with using a branch, it shouldn't be hard. I actually already [associate timestamps with buffered messages](https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/protocol/message.rb#L23), they're just not transmitted to the broker (the timestamp is used to monitor produce->ack delays).

Here's what would be needed to add support for the 0.10 Produce API, as far as I

[2016-08-29 17:18] pbrisbin commented on #270
Sounds great. I'd like to spend some time experimenting on those changes this week. I do think we'll need support on the consumer side to avoid the non-zero-copy overhead though.

I don't think we do. And I think it's reasonable not to support that, at least for now. The Kafka docs talk about *created* time or *log-append* time. This client would support the former, and you can get the latter by b

[2016-08-29 20:13] dasch commented on #270
Great! If you need help, let me know - we can set up a call if you get stuck. I'd love to get more people involved in this project.

[2016-08-30 01:10] rayjohnson opened #273 "How to determine of kafka topic exists"
Is there a straight forward way to determine if a kafka topic exists?

I had a situation where my topic got deleted and when attempting to write or read I get a very weird error about not being able to assign a partition.  That error could certainly be better.

However, if the topic doesn't exist I have bigger problems and I'd actually like a simple way to test and see if a given topic does indeed

[2016-08-30 03:34] whithajess opened #274 "Connecting to Kafka via Zookeeper"
Doesn't look this is currently possible although maybe I am missing something? Is this going to make its way on to the RoadMap?

From what I understand you want to be connecting to Zookeeper not directly to Kafka.

Maybe you could shed some light @dasch?

[2016-08-30 07:52] dasch commented on #274
I think that advice is out of date – as of Kafka 0.9, there's no direct communication between Kafka clients and Zookeeper. You should connect directly to the brokers.

[2016-08-30 08:42] charkost commented on #273
You can check if the topic is included in the `Kafka::Client#topics` array. It fetches metadata before returning the array which means that it represents the current cluster state.

[2016-08-30 09:05] dasch commented on #273
@rayjohnson is this using the producer API? I can improve the error message there.

I usually go into the Rails console, where I have an initializer that sets up a Kafka client and assigns it to the global variable `$kafka`. This makes it easy to grep for topics:

[code]

[2016-08-30 09:08] dasch commented on #273
The log should contain lines like this:

Was that not enough to debug the issue?

[2016-08-30 15:46] rayjohnson commented on #273
Well I think the first time I saw that message was because a broker was down (and it was only a three node cluster).  So I kind of had in my head it was meaning something else was going wrong.  I suppose it will be enough to debug in the future now that I know what it really means…  ☺

Ray

From: Daniel Schierbeck <notifications@github.com>
Reply-To: zendesk/ruby-kafka <reply@reply.github.com>
Dat

[2016-08-30 15:47] rayjohnson commented on #273
This is great.  Had not run across it yet – will try it out now!

Ray

From: Daniel Schierbeck <notifications@github.com>
Reply-To: zendesk/ruby-kafka <reply@reply.github.com>
Date: Tuesday, August 30, 2016 at 2:05 AM
To: zendesk/ruby-kafka <ruby-kafka@noreply.github.com>
Cc: Ray Johnson <rjohnson@yp.com>, Mention <mention@noreply.github.com>
Subject: Re: [zendesk/ruby-kafka] How to determine of k

[2016-08-30 22:47] whithajess commented on #274
Im not saying it is necessarily up to date but According to the [Kafka 0.10.0/0.9.0.X Documentation](http://kafka.apache.org/documentation.html#quickstartl):

Creating a topic -
[code]

Sending some messages -
[code]

Start a Consumer -
[code]

My experience with other Kafka integrations follow this pattern (Producer to Kafka and Consumer from Zookeeper) see:

https://github.com/SOHU-Co/kafka-node

[2016-08-31 02:03] mrb commented on #270
@dasch Hey! I'm working on this issue from the Code Climate side. I've got the timestamps successfully encoded into the messages, but I'm having some trouble with the decoding side. Wondering if you have some time tomorrow to chat - let me know! Thanks.

[2016-08-31 04:10] whithajess commented on #274
Hey Guys, thanks for the info. I also asked on the Kafka user mailing list and they confirmed:

information about topics, consumers, and offsets (version 0.8.*-ish). In
newer versions of kafka (0.9.* and 0.10.*) those values are instead written
to internal topics for Kafka to manage consumers, topics, and offsets.

and that

being deprecated in favor of storing that info in kafka.

[2016-08-31 04:10] #274 closed

[2016-08-31 08:29] dasch commented on #270
@mrb: there may be a bit of a time zone issue – I'm based out of Copenhagen. Do you mean Wednesday? If so, it would be best if we could do it as early as possible. What time would work for you? Or just write when you're ready, then we'll do a hangout if I'm still in the office.

[2016-08-31 10:36] mrb commented on #270
@dasch Does 4PM Copenhagen time today (Wednesday) work? Shoot me an email if you can mrb@codeclimate.com. Thanks!

[2016-08-31 11:57] dasch commented on #270
:+1:

[2016-09-01 09:29] dasch commented on #273
Closing this out – let me know if you have other questions.

[2016-09-01 09:29] #273 closed

[2016-09-05 08:08] tulios opened #280 "Committed offsets are shifted by one"
Hi, after using the consumer for a while I've caught a difference from other libraries. In my company, we use [burrow](https://github.com/linkedin/Burrow) to monitor our kafka consumers (a lag checker from linkedin) and with ruby-kafka it reports one message lagging in each partition. I noticed it because we have some topics with seasonal load, topics that receive messages in one period of the day

[2016-09-05 08:20] dasch commented on #280
Hmm. I think I changed the code to stop storing the _next_ offset in order to fix some bug. I'd be interested in a PR for this, although the addition of one should happen when committing the offsets, not when calling `mark_message_as_processed`, as it's an internal detail as far as the consumer is concerned.

[2016-09-05 08:30] tulios commented on #280
I'll move the +1 to the offset commit and prepare a PR today. Thanks

[2016-09-05 09:08] dasch commented on #280
:heart:

[2016-09-05 12:41] #280 closed

[2016-09-22 12:36] hkroger commented on #88
This would be nice since it's also impossible to check the queue length at the moment to halt producing messages if queue is getting too long.

[2016-09-23 08:54] mensfeld commented on #218
@dasch Graceful shutdowon does not work when we're not yet connected. I mean it works but it will run until we're connected and then it will shutdown. Which means that up until it is connected and consuming, there's no way for graceful shutdown.

[2016-10-13 19:49] joeljames opened #285 "When message value is JSON it does not get delivered to the consumer"
- Version of Ruby: ruby 2.2.3p17
- Version of Kafka: 0.10
- Version of ruby-kafka: 0.3.15
###### Steps to reproduce

Consumer is not receiving message when the message is sent as a JSON.
Below is the example which I been using to test:

[code]
###### Expected outcome

The consumer should receive the message
`b"{'foo': 'bar'}"`
###### Actual outcome

After calling the `producer.deliver_messages` I

[2016-10-13 21:18] dasch commented on #285
Are you sure that you're consuming all the partitions in the topic?

[2016-10-13 21:28] dwbutler opened #286 "Ruby version support"
Hi,

I was curious to know why Ruby-Kafka specifies that Ruby is >= 2.1.0 in the gemspec. Is there a specific language feature it is using that won't work in Ruby 1.9 or 2.0?

I ask because this is blocking us from using the library in LogStashLogger (see https://github.com/dwbutler/logstash-logger/pull/103). LogStashLogger supports Ruby versions going back to 1.9.3.

[2016-10-13 22:01] joeljames commented on #285
Yes, Its just weird that I have to produce a second message where message body is a string for the first message to reach the consumer.

[2016-10-16 04:00] dasch commented on #285
Kafka has no knowledge of the message body, so I can't see why it should matter that it's JSON. I'm unfortunately not able to reproduce the bug currently, as I'm traveling. Can you try writing a failing spec?

[2016-10-16 04:01] dasch commented on #286
Not quite sure, I think maybe the hash and keyword arg syntax.

[2016-10-16 04:21] dwbutler commented on #286
Keyword arguments were introduced in Ruby 2.0, so potentially the restriction could be loosened at least one minor version back.

[2016-10-16 21:12] dasch commented on #286
It's mainly the keyword vararg syntax that would cause problems. You could try changing the gemspec and/or travis file and see if the specs pass CI.

[2016-10-17 15:33] dwbutler commented on #286
I tried running the test suite under Ruby 2.0, but it didn't work. It turns out that *required* keyword arguments weren't introduced until Ruby 2.1. So the Ruby version restriction in the gemspec is correct. I'll close this since it looks like I answered my own question!

Incidentally, I noticed that the Gemfile specifies Ruby 2.2.3, which I believe means Circle CI will only test with this version

[2016-10-17 15:33] #286 closed

[2016-10-18 15:14] joeljames commented on #285
@dasch Thanks for taking a look at the issue.
I have got my ruby producer to send JSON body and python consumer to receive JSON body.
I was memoizing the Kafka ruby client and producer in my Rails app, I removed the memoization, and everything seemed to work as expected.

[2016-10-20 00:40] MartinNowak opened #288 "busy error log spamming with unreachable kafka node"
If this is a bug report, please fill out the following:
- Version of Ruby: 2.2.4
- Version of Kafka: 0.9.0.1
- Version of ruby-kafka: 0.3.15

Please verify that the problem you're seeing hasn't been fixed by the current `master` of ruby-kafka.
###### Steps to reproduce

[code]
###### Expected outcome

When one of the Kafka nodes went down, the consumer should have logged an error and tried to reco

[2016-10-24 01:06] dasch commented on #285
I'd love to see how that memoization was implemented, as well as which web server you were using.

[2016-10-24 01:10] dasch commented on #288
This sounds like something we've run into in the past. I'll try to take another stab at it when I'm back from leave in December.

[2016-10-24 10:01] mensfeld commented on #288
Same issue here

[2016-10-26 17:20] jakobcho opened #289 "getaddrinfo: Name or service not known"
Hi,
  I am trying to use ruby-kafka on my PC (running ubuntu locally) to connect to my kafka server on AWS-EC2, but I will get error as  " **getaddrinfo: Name or service not known from SocketWithTimeout** ",
and I found that it is caused by it got the private DNS of AWS as **ip-172-31-24-81.us-west-2.compute.internal** to query, and then got the error message.

  I was wondering if it is an issue

[2016-10-26 17:27] osheroff commented on #289
you may want to have a look at setting `advertised.host.name` on the kafka server to the node's external IP.  kafka clients fetch connection info from the server, and if that's wrong (in this case, the internal ec2 address) they will fail.

[2016-10-27 18:00] jakobcho commented on #289
It works, Thank you so much. I knew it should not be an issue.

[2016-10-27 18:00] #289 closed

[2016-10-28 18:30] osheroff opened #290 ""Received out-of-order response id 9, was expecting 10""
When consuming a topic that is out of data, the shutdown process appears to be this:

[code]

So basically:

[code]

Near as I can tell this is relatively harmless, but it's not super ideal, as we never really get an ACK that we've left the group.  Any thoughts on how to fix this?

[2016-11-02 00:18] dasch commented on #290
The problem is that some requests can take a long time, especially fetches, so it's not a good idea to wait for the current request to finish. The current mechanism is a bit blunt, however. I'm open to alternatives.

[2016-11-03 18:05] pabloroz opened #292 "Update to latest dogstats-ruby"
Datadog updated its dogstats-ruby and from version 2.* it should be required using

`require 'datadog/statsd'` instead of `require 'statsd'`

and used with `Datadog::Statsd.new` instead of `Statsd.new`

[2016-11-04 23:38] dasch commented on #292
Can you submit a PR?

[2016-11-05 21:33] dasch commented on #286
I may switch to that in the future, if I figure out a way to run the Docker
based functional specs there.
On Mon, 17 Oct 2016 at 10.33, David Butler <notifications@github.com> wrote:

[2016-11-09 03:18] ahsandar opened #293 "Failed to assign partitions"
my concern is related to the error message `Failed to assign partitions to X messages`, I am using fluentd-kafka plugin which uses ruby-kafka , I have an issue explaing it here https://github.com/fluent/fluent-plugin-kafka/issues/97, as the message is not very descriptive its hard to identify the cause being `fluentd`, `kafka` or `ruby-kafka` gem itself , using `kafka 0.10.1.0` compiled for `scala

[2016-11-10 21:25] cade opened #295 "Improved Shutdown Process"
Hi! Thanks for all of your work on `ruby-kafka`!

I've been working a decent bit with Kafka over the past 18 months for [my employer](https://www.getharvest.com/). We currently use `poseidon` and are attempting to migrate over to `ruby-kafka`. Since `poseidon` doesn't have an async producer, we implemented one in-house with a similar background-thread-based approach, which allowed us to have a lot

[2016-11-11 20:52] vitaliy commented on #292
I've created one here: https://github.com/zendesk/ruby-kafka/pull/296

Although not sure why functional test failed. Will try to look into it a bit later.

[2016-11-16 01:41] mikemar10 opened #298 "Failure to send messages if TCP connection to Kafka enters CLOSE_WAIT status"
Hello,

I am encountering an issue on a server that submits messages to kafka infrequently using ruby-kafka.  After a message has been successfully sent to kafka, if you wait for the TCP connections to the kafka cluster to enter CLOSE_WAIT status and attempt to send a message, a Kafka::DeliveryFailed exception will be raised and messages will fail to send to one of the partitions.

Ruby version: 2

[2016-11-22 13:56] dasch commented on #298
Thanks for reporting this! I'm currently on vacation but will look more into this when I get back in a week. Handling idle connections is tricky.

[2016-11-22 13:59] dasch commented on #295
Hi @cade, thanks for taking the time to post this. I'm currently on vacation, but will look more into this when I come back in a week. This sounds like a somewhat exotic use case though, so I'd be hesitant of supporting it. Have you thought about using a custom wrapper around the sync producer?

[2016-11-28 19:01] aviflax opened #299 "Feature Request: subscribe to multiple topics by regex"
This feature is [supported](https://kafka.apache.org/0101/javadoc/org/apache/kafka/clients/consumer/Consumer.html#subscribe(java.util.regex.Pattern,%20org.apache.kafka.clients.consumer.ConsumerRebalanceListener)) by the canonical Java client and would be useful for my company’s architecture.

Thanks!

[2016-11-28 19:03] aviflax commented on #299
Ah, there’s more info in [the Javadocs for `KafkaConsumer`](https://kafka.apache.org/0101/javadoc/org/apache/kafka/clients/consumer/KafkaConsumer.html#subscribe(java.util.regex.Pattern,%20org.apache.kafka.clients.consumer.ConsumerRebalanceListener)) (the canonical implementation of the `Consumer` interface I linked above).

[2016-12-01 10:51] dasch commented on #299
I would be open to a PR that implements this.

[2016-12-01 10:57] dasch commented on #298
@mikemar10 I'm not sure what the best way to solve this would be – is there a way to reliably detect that the connection is in CLOSE_WAIT state? Generally speaking, the sync producer should do only minimal retrying, as some users may have low-latency requirements. It's typically better to use the async producer if you want things to Just Work(TM).

[2016-12-01 10:58] #285 closed

[2016-12-01 12:42] #292 closed

[2016-12-02 05:07] evanchaoli opened #300 "Memory leak?"
If this is a bug report, please fill out the following:

* Version of Ruby: 2.2.0
* Version of Kafka: kafka_2.11-0.9.0.0
* Version of ruby-kafka: 0.3.6 ~ 0.3.15

Please verify that the problem you're seeing hasn't been fixed by the current `master` of ruby-kafka.

###### Steps to reproduce

[code]

###### Expected outcome

I'm using this gem in a long run process, and I would expect that memory us

[2016-12-02 10:58] dasch commented on #300
Can you do some more digging and see which objects are growing in numbers?

[2016-12-02 11:24] evanchaoli commented on #300
Actually I did memory_profiler and GC.stat, it doesn't look like ruby object leak.

I also tried to shutdown connection and reconnect every 5 produces, which doesn't help.

[2016-12-02 12:23] dasch commented on #300
I guess it could be TCP connection leaking...

[2016-12-02 12:51] evanchaoli commented on #300
If it's TCP connection leaking, then what is a solution?  I tried Hermann, that works well. With same test program, the ruby process' memory usage is quite stable.

[2016-12-02 12:53] dasch commented on #300
We'd have to find the leak – most likely some memoization gone wrong, or a failure to close connections properly.

[2016-12-02 13:28] evanchaoli commented on #300
Are you going to work on this? Is there an ETA?

[2016-12-05 14:03] dasch commented on #300
There's no ETA, but I'll try to look at it this week.

[2016-12-05 15:25] dasch commented on #300
@evanchaoli I've tried to reproduce the issue, but I can't on the latest master:

[code]

Running `rspec --tag functional spec/functional/memory_leak_spec.rb` results in a constant number of live objects. Can you try your code on the latest master?

[2016-12-05 21:32] piavka opened #304 "Allow manual offsets commit for a consumer"
Currently library consumer offests commit is automatic according to configuration or then ``each_batch`` block is processed. We need to be able to manually commit offsets but ``@offset_manager`` is not exposed by the  ``Consumer`` class nor there is option to disable the automatic offset commits.

I can work on PR if such feature would be accepted ?

[2016-12-06 14:36] dasch commented on #304
What is your use case – why are the automatic commits not sufficient?

[2016-12-06 15:59] piavka commented on #304
I have multiple, for example we batch data from kafka into files which are every defined period of time closed and moved for uploads to s3, only once files are moved for uploads offsets are commited.

[2016-12-06 16:10] dasch commented on #304
I would recommend trying to align the files with fetched batches and using the batch API, e.g.

[code]

You can specify `min_bytes` and `max_wait_time` to tune the batch sizes. I would recommend starting there rather than implementing your own solution.

[2016-12-06 17:14] piavka commented on #304
I can't really align with batch size since we are taking about minutes intervals and during this time
period the data needs to be processed before it written to the file and file finally closed and moved to uploads. This is something i've been using all the time i just need to migrate from poseidon_cluster to kafka_cluster gem. I don't see what is wrong with giving manual commit offset control to

[2016-12-07 10:34] dasch commented on #304
I'm simply trying to keep non-core features out – maintaining features is a lot more work than adding them.

What kind of API are you proposing?

[2016-12-07 12:22] dasch commented on #288
I'm not quite sure what the best approach here would be – there are several options. The partitions owned by the broker could be paused for some duration, or there could be a simple sleep. I'd need to look more into this.

[2016-12-07 12:26] mensfeld commented on #288
@dasch  hello after a long break :) I can provide you with a working example of that issue in 1 - 2 weeks if you want.

[2016-12-07 12:27] dasch commented on #288
@mensfeld that would be great! Handling backoffs correctly is pretty tricky. Unless there's a functional impact I'm reluctant to touch it, but perhaps in this case it would be a good idea – hitting the broker with that many connection attempts is probably bad.

[2016-12-08 06:24] evanchaoli commented on #300
Did you monitor the Ruby process memory usage via 'top' command?

[2016-12-08 09:02] dasch commented on #300
Yeah – it looks to be constant.

[2016-12-09 21:09] jessecollier commented on #164
@dasch do you mind sharing `read from Kafka topic used to persist the offsets.` code that you use?

[2016-12-12 08:29] dasch commented on #164
@jessecollier I don't have such code, but it should be possible. However, I think a better option would be to use the Active Support Notification instrumentation I've put in place. Look at the Datadog subscriber in the code base for an example of how that can be done.

[2016-12-12 11:07] evanchaoli commented on #300
I tested wth the lastest master code, but get same result. During posting 100000000 messages, memory usage kept growing.

[2016-12-12 18:15] dasch commented on #300
Can you try with the snippet I posted?

[2016-12-13 01:15] evanchaoli commented on #300
The code is exact same as my test program.

[2016-12-13 20:14] jessecollier commented on #164
I just wanted to update this thread in case anyone else stumbled upon the same issue.   I was trying to read consumer lag regardless of client using the kafka cli utils. This caused an error for us using ruby-kafka lib + kafka 0.9.

I didn't know how to implement an offset consumer correctly, so I forked burrow and add some statsd metrics I wanted. You can see the diff here:

https://github.com/li

[2016-12-15 10:50] dasch commented on #300
Would you mind running it anyway, just to rule out any subtle difference? Also, can you try with a different version of Ruby?

[2016-12-15 12:01] dasch commented on #164
It would be nice if Burrow didn't crash when the user data is different from the Java client's. I think that's where the correct fix should go.

[2016-12-15 14:16] evanchaoli commented on #300
What ruby version did you test with? I can test. But even if Ruby 2.2 is a problem, it's not easy for us to change our production to upgrade Ruby version.

[2016-12-15 14:24] dasch commented on #300
I'm on 2.2.3p173.

[2016-12-15 14:29] evanchaoli commented on #300
OK, I'll test it tomorrow.

[2016-12-16 15:27] Nucc opened #305 "Handle Kafka server errors in the producer"
Is there any way to handle error messages on the producer side?

I was thinking on the possible approach, how do you like this way?

[code]

Thanks.

[2016-12-16 15:32] Nucc commented on #305
Is there any way to handle error messages on the producer side?

I was thinking on the possible approach, how do you like this way?

[code]

Thanks.

[2016-12-19 04:32] evanchaoli commented on #300
I have tested with ruby 2.2.3 with exact same environment as my previous test, the memory usage is low and consistent.  So the memory leak should ocurred in the Ruby 2.2.0 C code.

[2016-12-19 09:40] dasch commented on #300
Thanks! It's good to know that the problem is restricted to that version – not quite sure what's happening, but there's probably not much I can do about it, and since there's a patch level update to that Ruby version people shouldn't have too hard a time updating in production.

:heart:

[2016-12-20 09:32] mrkamel opened #307 "ack_messages.producer.kafka not sent"
Hi,

it currently seems not possible to get the offset of a produce'd message directly. The comments in `produce_operation.rb` say

[code]

* but i don't see such message fired, so the comment is probably wrong or outdated?
* Generally, getting the offset **after** a produce request is only possible via `Kafka#last_offset_of`?
* It's not possible/desired to get the topic-partition-infos holding th

[2016-12-20 11:10] mrkamel commented on #307
At least for `Client#deliver_message` it would be great to get back the written offset

[2016-12-20 11:13] dasch commented on #307
Indeed that comment is wrong – you'll get an `ack_message.producer.kafka` for _each_ message produced. I'll update the comment.

[2016-12-20 11:14] dasch commented on #307
Unfortunately, the Kafka protocol only returns the offset of the first message appended.

[2016-12-20 11:51] dasch commented on #307
@mrkamel I've added #308 as a way to get offset info. I _think_ it's correct.

[2016-12-20 11:53] dasch commented on #305
I'm not sure what you mean by _error messages_ here. Whether to retry deliveries?

[2016-12-20 11:53] #300 closed

[2016-12-20 11:54] #238 closed

[2016-12-20 12:03] mrkamel commented on #307
this is great! thank you. :+1:

BTW do you know if it can happen that kafka is having gaps in the log or in between rotated logs ? Like offsets: 1 2 3 5 6 7, such that offset 4 is missing?

[2016-12-20 12:05] dasch commented on #307
Yup, that can happen either due to messages being removed for being too old or due to log compaction.

[2016-12-20 12:08] #307 closed

[2016-12-20 13:11] Nucc commented on #305
error messages that we can see in the STDOUT after calling produce in console. Like Kafka server is unreachable.

[code]

These messages appear seconds after calling produce, they are from the background job that sends the messages from the message queue to Kafka. We would like to handle this error and do additional steps but we don't find any solution.

[2016-12-20 13:18] dasch commented on #305
Are you using an async producer from a background job? That sounds like a bad idea. You should look into either a) not having a background job do this, but send the messages directly to Kafka, or b) at least use the sync producer.

Note that there's a lot of setup and state that is maintained in the client – Kafka was not built for one-off message sends, but for long-lived clients. So if you're se

[2016-12-20 13:36] Nucc commented on #305
Okay, thanks, I'll try using the sync producer.

[2016-12-20 14:15] #305 closed

[2017-01-01 10:45] piavka opened #310 "rebalance callbacks support"
Is it possible to implement rebalance callbacks over current ruby-kafka code?
I'm looking for following functionality
http://kafka.apache.org/090/javadoc/org/apache/kafka/clients/consumer/ConsumerRebalanceListener.html
I haven't checked how actually this functionality is implemented in java driver, but
afaiu this functionality can be built around handling the RebalanceInProgressCode protocol error

[2017-01-09 18:21] dimas commented on #304
I would say that at least NOT committing offsets automatically is a core feature. At least Java Kafka client allows you doing that.
I cannot see a way of doing it with ruby-kafka. Even if I set offset_commit_interval=>0, offset_commit_threshold=>0 to avoid automatic commits, still, the consumer loop will invoke
[code]
committing offsets and there seem to be no way of overriding that without some d

[2017-01-10 14:46] dasch commented on #304
@dimas committing offset is a requirement for the distributed consumer groups to be able to function – otherwise any hiccup in the group would cause partition processing to start over.

Do you need to distribute your workload? If not, you can simply use the non-distributed consumer API:

[code]

[2017-01-10 14:54] piavka commented on #304
what if i need to commit offsets only after some processing has happened - a processing of big data chunk, a chunk that cannot fit into a single  ``` kafka.each_message(...) {|m| ...}``` iteration ?

[2017-01-10 14:58] dasch commented on #304
@piavka do you have an API proposal for ruby-kafka for dealing with manual offset commits?

[2017-01-10 15:01] piavka commented on #310
@dasch  the page http://kafka.apache.org/090/javadoc/org/apache/kafka/clients/consumer/ConsumerRebalanceListener.html
already gives some examples
another example could be reducing(if not eliminating) the number of processed duplicates which are sent downstream during rebalances

[2017-01-10 15:26] piavka commented on #304
@dasch simply add ```auto_commit_offset``` param to ```consumer.each_batch(...)```
that would stop calling ```@offset_manager.commit_offsets``` on each iteration completion
and expose ```commit_offsets``` method in the client
within each ```each_batch``` iteration we have the offsets and thus user can save them then the relevant processing (outside of each_batch(...)) is done it would commit those

[2017-01-10 16:21] dasch commented on #304
Hmm. I'll think a bit about it.

[2017-01-10 17:11] dimas opened #311 "Allow getting offsets for all topic partitions in one go"
The Cluster class has a resolve_offsets method that allows getting offsets for all partitions of a topic in one call. This method is exposed via Client's last_offset_for but this one only accepts a single partition. So it needs to be called in a loop and as it looks from the code doing it in a loop will cause re-requesting same stuff over and over from all the brokers.
I am if ruby-kafka design al

[2017-01-10 17:14] dimas commented on #304
@dasch, oh. You are right, that is probably what I should use. My bad.
No I do not need distributing workload.

I think I have kind of weird (or lets say special) use case - trying to do something similar to KafkaOffsetMonitor but in Ruby so my client needs some bits that normal clients should not care about. So I raised another one about that  #311, hope you do not mind.

[2017-01-10 23:26] prestonwrthompson opened #312 "Async producer causing main process to exit"
I have a question about the design of the async producer.

For context, in our set up, we have our job processing code running in a main process, and most of the jobs result in at least one message that we want to produce to Kafka. From this main process, we call `produce` on the async producer.

The async producer spawns two threads, the timer thread and the worker thread. The problem we are havi

[2017-01-11 10:48] dasch commented on #311
I would be okay with a bulk offset API in Client – I would rather not expose Cluster as it's not a stable API and may change without notice.

[2017-01-13 22:13] dasch commented on #312
Let me look at it Monday - this is definitely not the intended behavior. Are you using the latest version?

[2017-01-14 21:03] prestonwrthompson commented on #312
Thanks. Yes, I just tested now on 0.3.15 and master. Here are simple steps to reproduce.

[code]
After calling `produce` the first time, I wait to confirm the message is delivered correctly. Then, after calling `produce` the second time and waiting for the 5 second interval to trigger the worker thread to attempt to deliver the message, it crashes the process and kicks me out of the `irb` shell. O

[2017-01-16 09:24] dasch commented on #312
Can you create a PR with this change, ideally with a spec?

[2017-01-17 05:51] prestonwrthompson commented on #312
Yup, will work on it tomorrow

[2017-01-18 06:40] prestonwrthompson commented on #312
Sorry, some other things came up and I wasn't able to get to this today but will work to get a PR out by the end of this week

[2017-01-18 09:31] dasch commented on #312
@prestonwrthompson no worries, I'm pretty busy myself these days, not a lot of time for ruby-kafka I'm afraid.

[2017-01-19 15:46] wflanagan opened #313 "Documentation: How to test consumer/producers built with ruby-kafka?"
All of the documentation I see on this gem shows how to test this gem, which a great if you're modifying this gem.

However, if you're using this gem, and specifically want to write a test around your consumer/producer, I don't see a clean way to do it.

Right now, I run my test (outside of my automated test suite), and then go manually clean up my Kafka broker, and start again.

I can write specs

[2017-01-20 09:38] dasch commented on #313
Good question. This is definitely something that would be valuable. Internally we use something called [FakeBroker](https://github.com/zendesk/ruby-kafka/blob/master/spec/fake_broker.rb) to represent a broker in-memory. If you want to take a stab at creating a similar helper class, geared more towards users of the library, that allow mocking the Kafka backend when testing, I would be more than wil

[2017-01-23 11:10] iam404 opened #314 "Passphrase for private key files"
Hi

I was looking for passing passphrase of a private key file into below code snippet :

[code]
Any help ?

[2017-01-23 11:19] mensfeld commented on #288
@dasch  @MartinNowak  were you guys able to reproduce this? I've tried with both docker setups that I've mentioned before and with 0.3.16  works great. If none can reproduce and no new people are submitting same issue, maybe this could be closed?

[2017-01-24 09:40] edkellena opened #315 "Consumer fails to subscribe to a topic when connecting via SSL"
* Version of Ruby: 2.3.1
* Version of Kafka: 0.9.0
* Version of ruby-kafka: 0.3.16

###### Steps to reproduce

[code]

###### Expected outcome

The consumer would subscribe to the topic and we can handle incoming messages.

###### Actual outcome

We get a Kafka connection error:
[code]
and the process dies.  We can successfully connect to and push messages to the same cluster over SSL using the Pr

[2017-01-27 15:29] tjwp opened #317 "Ensure that committed offsets are never purged for active consumer groups"
We have some very low throughput topics where partitions may not receive a new message within the retention period for committed offsets.

Increasing the retention period via the broker setting or per consumer (as represented by https://github.com/zendesk/ruby-kafka/pull/316) helps, but there are limits to how high we want to raise this. We still want committed offsets for topics and consumer grou

[2017-01-30 10:27] dasch commented on #314
@iam404 sorry for the late response. I'm unfortunately not familiar with how you'd do that – @tcrayford would you know this?

[2017-01-30 10:28] dasch commented on #315
This sounds to me like a network connection error. Are you 100% certain the host names, certificates, etc. are set up correctly?

[2017-01-30 10:32] dasch commented on #317
If there's an upper limit to the retention forced by Kafka I would be open to _always_ re-committing the offsets within that interval.

[2017-01-30 10:33] dasch commented on #233
What is the maximum value allowed by Kafka?

[2017-01-30 13:26] tjwp commented on #317
It looks like the upper limit on the `offsets.retention.minutes` setting is `Integer.MAX_VALUE` (2_147_483_647), which is over 4000 years.

We would want to re-commit offsets within the configured `offsets.retentions.minutes`. Perhaps offsets should be re-committed at the first commit, and within _half_ of the `offset_retention_time`? If unset, the broker's default of 1 day could be assumed, so of

[2017-01-30 13:28] tjwp commented on #233
The maximum appears to be `Integer.MAX_VALUE` (2_147_483_648), over 4000 years.

[2017-01-30 13:37] tcrayford commented on #314
@dasch it looks like http://stackoverflow.com/questions/235759/opening-an-rsa-private-key-from-ruby is the right thing - we'd need another parameter for the passphrase, that's all. @iam404 want to make a PR for that?

[2017-01-30 14:45] iam404 commented on #314
Ya sure , will test the above solution and create a PR. Thanks.

[2017-01-30 15:53] dasch commented on #317
Sounds reasonable. I'd :heart: a PR!

[2017-01-30 15:55] dasch commented on #233
OK, no problems then. I've run into weird arbitrary timeout limits in the past.

[2017-01-31 10:56] edkellena commented on #315
Yep, I'm afraid so!

[2017-01-31 11:12] dasch commented on #315
@edkellena does simpler operations work, e.g. `kafka.topics`?

[2017-02-02 21:46] #317 closed

[2017-02-07 21:39] dasch opened #319 "Allow monitoring applications from Librato"
There's already support for reporting metrics to [Datadog](https://www.datadoghq.com/), we should support [Librato](https://www.librato.com/) as well.

I would love to see a PR for this!

[2017-02-10 13:12] mensfeld commented on #298
@dasch can you tell me if there's a one thread that sends messages asynchronously for all the instances of async producer or does each async producer has it's own asnyc sending thread?

[2017-02-10 13:18] dasch commented on #298
There's one thread for each async producer object.

[2017-02-10 13:22] mensfeld commented on #298
@dasch thank you. One more question - is the async producer thread safe? I mean I could build a connection pool (as I do with sync producer) but it seems that it would be a big overhead if async is thread safe.

[2017-02-10 15:11] dasch commented on #298
The async producer _should_ be thread safe.

[2017-02-13 03:09] MacTynow commented on #298
Hi, after reproducing this and trying with the async producer, this is not a solution. The messages are not getting delivered either, it's just that you don't get the error.

What we are doing at the moment to avoid the issue is clearing the connection pool if we catch an error but that's quite hacky...

[2017-02-13 03:27] MacTynow commented on #298
@mikemar10 just for information, how's your kafka cluster set up ?

[2017-02-14 06:49] MacTynow commented on #298
Just FYI. Our setup is on AWS. The reason our connections were entering `CLOSE_WAIT` status is that the idle timeout of our ELB was the default which is 60 seconds. Raising it mitigates the issue, but it still happens if no messages go through for a while.

[2017-02-14 08:37] mensfeld commented on #298
@MacTynow  I know you know  but you can switch temporarily to waterdrop as it wraps and handles this.

[2017-02-14 09:00] dasch commented on #298
@MacTynow can I see the code you're using with the async producer? I'm surprised it doesn't work – this should just be a matter of retrying the delivery.

[2017-02-25 18:02] mensfeld commented on #295
Hey @dasch  any news on that issue? :-)

[2017-02-27 10:59] dasch commented on #295
Not really – I don't think this feature would make sense in the main distribution: it doesn't actually guarantee message delivery and seems to place a higher burden on operations.

@cade I would suggest trying to implement your own async producer (take a look at AsyncProducer for inspiration) with the semantics you describe. It could make sense as a separate gem, maybe.

[2017-02-27 13:37] cade commented on #295
Sorry I didn't follow up on this before! Without the ability to determine when messages are lost (or easily access the messages currently being processed), the gem's failure scenarios make this a non-starter for us. Thanks for the suggestions though! I'm going to close this issue.

[2017-02-27 13:37] #295 closed

[2017-02-27 13:42] mensfeld commented on #295
@cade  can't you just use sync producer?

[2017-02-27 15:04] cade commented on #295
Using the sync producer alone would fold message delivery time and delivery failure scenarios into the main web request thread, which would be a regression for us. With our current setup, our Kafka nodes can disappear entirely and the app will remain unaffected.

As Daniel mentioned, we _could_ write our own async handling over the top of the sync producer, but that's pretty much the exact situati

[2017-02-27 15:19] dasch commented on #295
@cade no problem. I still think you should consider porting your setup to ruby-kafka, if for nothing else then because of the 0.9 support.

As for visibility: if `deliver_messages` succeeds on the sync producer, you can be confident that the messages were delivered. I would not want to introduce more advanced visibility than that. Writing an async producer that buffers messages and only clears mes

[2017-03-01 06:04] mikemar10 commented on #298
@MacTynow Unfortunately I no longer have access to the cluster in question because I've since changed jobs.  From memory though, it was a 3 node cluster running Confluent Platform v3 on CentOS 7 under docker.  A 3 node zookeeper cluster ran on the same nodes in a separate docker container.  The docker containers were using the `--net=host` option to bypass the docker port proxy.  I don't recall an

[2017-03-01 08:55] iam404 opened #321 "Support for .JKS format keystore and truststore."
Ref. http://kafka.apache.org/documentation.html#security_ssl

Kafka Broker require cert in .JKS format.
May be ruby-kafka could provide option for that. Currently only X509 format cert is supported.

[2017-03-01 10:42] dasch commented on #321
I'd be happy to accept a PR :-)

@tcrayford any opinion on this?

[2017-03-01 11:22] tcrayford commented on #321
@dasch I think it'd introduce a dependency on either jruby or another third party library for cert parsing (openssl doesn't support jks as far as I can tell), and I'm loathe to add any dependencies. Maybe we could write a doc on using another library to import these kinds of files to the openssl format.

[2017-03-01 11:25] iam404 opened #322 "certificate verify failed"
ruby : ruby 2.4.0p0 (2016-12-24 revision 57164) [x86_64-linux]
OS : Ubuntu precise
RVM

[code]
Tried with both self signed and comodo certificate. But getting above error.
Also `ssl_ca_cert: File.read('/root/new-ca.pem')` is set.

Variable:
[code]

Only solution to fix above is:

[code]
or commenting
` :verify_mode => OpenSSL::SSL::VERIFY_PEER,`
in `/usr/local/rvm/rubies/ruby-2.4.0/lib/ruby/2.4.0/

[2017-03-01 11:29] tcrayford commented on #322
This is due to the certificate you're verifying against being self signed. Whilst that is fairly typical for Kafka SSL certs, it isn't always the case that SSL certs are self signed, and having that be the default would be insecure.

As such, this is not something we should address.

[2017-03-01 11:39] iam404 commented on #322
@tcrayford
What about setting a variable that would disable `OpenSSL::SSL::VERIFY_PEER` when needed.

[2017-03-01 12:25] tmeinlschmidt commented on #119
@dasch I'm on adding SASL (kerberos) to ruby-kafka right now, as we need it. It seems to be working, so I'll create some pull request soon. Have to add support and tests for SASL_SSL then too.

[2017-03-01 12:31] tcrayford commented on #322
-1, as that's a global application wide setting that impacts e.g. how you verify SSL against https endpoints.

[2017-03-01 13:13] dasch commented on #321
@tcrayford that would be awesome! I've never used the SSL stuff, so I have little knowledge of it.

[2017-03-02 05:35] iam404 commented on #322
@tcrayford  Agreed !

Even I am not in favour of `OpenSSL::SSL::VERIFY_PEER = OpenSSL::SSL::VERIFY_NONE` . That would nullify the whole SSL thing and exploit to man-in-the-middle attack.

But what I am not able to get is even by passing `ssl_ca_cert: File.read('/root/new-ca.pem')` I am not able to make that work.

[2017-03-03 00:15] jpaskhay commented on #119
@tmeinlschmidt We are also in need of this feature for a project we're working on, so we'd be more than happy to help in whatever capacity possible. We were literally about to start doing this ourselves, so we are very thankful to have seen your comment :) We don't have a strong Ruby background on the team but willing to do what we can to help.

We are not currently using SSL, so we may not be abl

[2017-03-06 21:49] jscheel commented on #322
I too am experiencing this. Should I add it as a custom certificate authority to my server?

[2017-03-06 22:41] jscheel commented on #322
So, using the certs work fine on my dev machine, but not on my engineyard instance. This is weird.

[2017-03-08 09:07] michaelsauter commented on #321
A doc would definitely be great. I went through this process a couple of weeks ago and it was quite cumbersome. I think it goes sth. like this:

1. One-time setup, which is the same for all brokers:
[code]
Now you have the correct files for `ruby-kafka` in the `ssl` directory.

Additionally, on every broker you need to run:
[code]
HTH

[2017-03-10 11:25] chadlwm opened #325 "group"
If this is a bug report, please fill out the following:

* Version of Ruby:
* Version of Kafka:
* Version of ruby-kafka:

Please verify that the problem you're seeing hasn't been fixed by the current `master` of ruby-kafka.

###### Steps to reproduce

[code]

###### Expected outcome

What you thought would happen when running the example.

###### Actual outcome

What actually happened.

[2017-03-10 11:25] #325 closed

[2017-03-14 00:42] jpaskhay opened #327 "Major Bottleneck in Instrumentation When Using Acks"
Hey there,

We've been in the process of building a new FluentD/Kafka ingest platform and have recently discovered a major bottleneck when trying to produce messages using `required_acks` of anything other than 0. After tracing through the code, we identified the instrumentation being done on every message in the handle_response method at https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka

[2017-03-14 07:22] repeatedly commented on #327
Wow, good investigation.
In fluent-plugin-kafka, instrument feature is not needed.
I also hope ruby-kafka supports disabling instrument in some heavy point.

[2017-03-14 15:10] Kenterfie opened #328 "Possible memory leak in ruby-kafka"
* Version of Ruby: ruby 2.2.1p85 (2015-02-26 revision 49769) and 2.3.3
* Version of Kafka: 0.10
* Version of ruby-kafka: 0.3.16

After some hours the memory usage increase rapidly. In our example the code needs 6-8 GByte of virtual memory after 16 hours. We have switched our program from logstash to kafka, so we can say the library is the reason of the problem, before the memory usage of the whole

[2017-03-15 02:33] chadlwm opened #329 "Kafka::Error: Failed to find group coordinator"
Environment:

* Version of Ruby: 2.2.5p319
* Version of Kafka: kafka_2.10-0.8.1.1
* Version of ruby-kafka: b7981f6ff8b054affb1c3d874fa8e87a24d0244e

###### Steps to reproduce

[code]

###### Expected outcome

put message info

###### Actual outcome

[code]

[2017-03-15 19:49] dasch commented on #327
If no instrumentation subscribers have been set up, the instrumentation calls should be no-ops – is that not the case, or have you enabled Datadog reporting (which adds a subscriber)?

[2017-03-15 19:50] dasch commented on #329
Do you have a full stack trace?

[2017-03-15 19:51] dasch commented on #328
Would you be able to determine the type of objects that are leaking?

[2017-03-15 21:50] dasch commented on #327
I only think you pay the penalty for event names that are subscribed to - try excluding those events in your regex (or have an explicit whitelist, which is probably better) and see if that fixes the problem.

[2017-03-16 02:48] chadlwm commented on #329
@dasch I have find the point. Kafka version is wrong. I run the 0.10 version in the test servers, but my colleague change it to 0.8 because of his storm requirement.

When I turn back the version to 0.10 or 0.9, the code work fine.

thanks

[2017-03-16 03:01] #329 closed

[2017-03-17 06:57] rhinon commented on #288
I'm experiencing the same issue with 0.3.16 currently under different circumstances and versions.

If I have a very basic setup locally (1 kafka instance) and I stop that kafka instance, I get similar log spam. When I start the kafka instance back up, a `Kafka::Error` is thrown with "Failed to find group coordinator".

* Version of Ruby: 2.2.3
* Version of Kafka: 0.10.1.0
* Version of ruby-kafka:

[2017-03-20 16:19] eldan-klarna opened #330 "RuntimeError: can't add a new key into hash during iteration"
* Version of Ruby:           jruby-9.04.0
* Version of Kafka:          0.10.0.1
* Version of ruby-kafka:  0.3.16

I got "RuntimeError: can't add a new key into hash during iteration" in message_buffer.rb:82 in this line:
@buffer[topic][partition] ||= []

It's not consistent, which is not surprising..
another thread must be looping over @buffer[topic] since I'm running JRuby and not MRI,
having con

[2017-03-20 22:38] sophia-d opened #331 "Timestamp support for Kafka 0.10.2.0"
Hi,
Recently upgraded the Kafka server to 0.10.2.0, and the message timestamp turns out to be a showstopper with this gem. We need a ruby-kafka gem for the producer app, so any word on what the status on adding the timestamp support is?

Any help on this issue is much appreciated!
(If you or anyone has any alternate ways to work around it, please advise! Thanks!

[2017-03-22 18:40] dasch commented on #330
Are you sharing a synchronous producer object between threads?

[2017-03-22 18:42] dasch commented on #331
For now, you should be able to use the branch in https://github.com/zendesk/ruby-kafka/pull/279

This gem still primarily targets Kafka 0.10 - I expect to move it to 0.10 in the coming months, though.

[2017-03-22 19:07] sophia-d commented on #331
Thanks Daniel. I tried the branch in #270 after reading up and down all the issues here.. :) That branch didn't work for me using Kafka broker 0.10.2 - the messages weren't getting processed at all on the consumer KStreams app, and even the useful error messages/exceptions that I get with this gem, I can't get using the other branch. Seemed like a lost case, and running out of time, I had to switc

[2017-03-22 19:21] prestonwrthompson commented on #331
Not sure if this will help you, but you can alter the `message.timestamp.type` config on a per topic basis to `CreateTime`. This will have the brokers use the time that a message is ingested into Kafka as the message's timestamp. For topics produced to by ruby-kafka, you can use this command
[code]

[2017-03-23 08:25] eldan-klarna commented on #330
@dasch
No I'm using AsyncProducer

org/jruby/RubyHash.java:1007 in []=
.../lib/kafka/message_buffer.rb:82 in buffer_for
.../lib/kafka/message_buffer.rb:20 in write
.../lib/kafka/producer.rb:347 in block in assign_partitions!
org/jruby/RubyArray.java:1560 in each
.../lib/kafka/pending_message_queue.rb:36 in each
.../lib/kafka/producer.rb:338 in assign_partitions!
.../lib/kafka/producer.rb:300 in bl

[2017-03-23 09:16] dasch commented on #330
It shouldn't be a threading problem, then – only one thread has access to the Product object that is wrapped by AsyncProducer. It sounds like a limitation with JRuby's Array implementation.

Would you have time to do a PR that changes how that array manipulation is done such that it works with JRuby?

(also note that you should be able to use the official JVM client from JRuby, which is way faster

[2017-03-23 15:05] az3 commented on #331
@prestonwrthompson
Maybe you can use `LogAppendTime`, instead of `CreateTime` in TimestampType value.
[code]

[2017-03-23 15:17] prestonwrthompson commented on #331
yeah, thanks for catching that. i meant to suggest changing the config to `LogAppendTime`, not `CreateTime`

[2017-03-23 18:06] jpaskhay commented on #327
Sorry for the delayed response. Been tied up with load testing and working through some stability issues in our pipeline. Very possible that may work as well. Will give that a shot in the next week or so.

Thanks again for the prompt replies!

[2017-03-24 01:34] rhinon commented on #288
Another behavioral note: when it is in this state (Kafka unreachable loop), calling `stop` does not do anything. It will remain in an endless loop until it can reconnect.

[2017-03-24 12:11] mensfeld commented on #288
@rhinon  could you create a reproduction procedure including the script you run? This would be helpful as I'm trying to reproduce it as well.

[2017-03-24 15:26] michaelsauter opened #332 "Question about meaning of FetchedBatch#offset_lag"
I'm a bit confused what `FetchedBatch#offset_lag` actually means. Consider this:

[code]

The operation fetched all messages that are in the partition. However, the lag is 1. Shouldn't it be 0? I understand this is because the `highwater_mark_offset` is the offset of the next message, and `last_offset` is the offset of the last message in the batch.

But intuitively, if I have read the last messag

[2017-03-24 18:02] rhinon commented on #288
@mensfeld This is an excerpt of my code which runs in the context of a daemon ruby process.
[code]

With a single Kafka process running locally, I stop that Kafka process (via ctrl+c) and I immediately get rapid looping logs:
[code]

While in this state, calling `@kafka_consumer.stop` does not stop the looping.

If I start the Kafka process again it will raise this error and break the run loop (no

[2017-03-25 14:15] dasch commented on #332
That looks like a bug... the lag is supposed to be zero in this case. Care to create a PR?

[2017-03-25 20:03] michaelsauter commented on #332
Okay, I'll have a look early next week.

[2017-03-28 15:16] tmeinlschmidt commented on #119
Hey all, pushed some initial code for SASL/GSSAPI authentication. Working on adding some more tests and docs.

[2017-03-28 15:56] Kenterfie commented on #328
I was not able to identify exactly which objects. We have moved away from the ruby-kafka library because of these issue. Has caused to many out of memory problems.

[2017-03-28 18:17] #332 closed

[2017-03-28 18:25] dasch commented on #119
@tmeinlschmidt I think that code is being overly intrusive - can you make a change within the confines of the existing design?

Feel free to create a PR with design changes separately, although I won't promise that I'll merge it.

[2017-03-28 18:43] tmeinlschmidt commented on #119
The problem is - SASL needs to send some kafka messages before any auth can be made. that's the reason I cut ConnectionOperation out from Connection class. Is there any specific part you want to change/rewrite?

[2017-03-29 09:51] Kenterfie commented on #328
A hugh difference to the firehouse sample is we dont use multiple producer instance per thread, we use a singleton logger class which is used across all threads and we use many threads.

[2017-03-29 10:03] dasch commented on #328
That shouldn't cause memory bloat, although you might get a bottleneck.

[2017-03-29 10:04] dasch commented on #328
I'd love to see a gist with your complete Kafka setup – I've been running async producers for a long time and haven't seen the kind of memory leaks that you're describing.

[2017-03-29 12:17] dasch commented on #119
@tmeinlschmidt can you start by opening a PR? That makes commenting a lot easier.

[2017-03-29 12:23] tmeinlschmidt commented on #119
@dasch opened #334.

[2017-04-03 15:14] Kenterfie commented on #328
This sample shows it. In my case the memory usage increase constantly. https://gist.github.com/Kenterfie/e8f30e12ff1ec64e00b25485609b0120

When you replace the kafka producer by a simple puts/logger no or small increase, but no leak. In my case 2GB memory usage after short time

[2017-04-03 15:54] dasch commented on #328
@Kenterfie

1) Does removing multithreading change anything?
2) Have you tried with `required_acks: 1` – that could be the trigger.

[2017-04-03 16:10] Kenterfie commented on #328
@dasch
1. i have removed threads and it happens too. the memory increases infinity with kafka
2. the required_acks change to 0 was one try to fix/minimize the issue, so it hasnt nothing changed

[2017-04-03 16:13] Kenterfie commented on #328
When i use the single threaded producer no leak happens.

[2017-04-03 16:31] anthonynguyen opened #335 "Stuck on "Leader not available" for auto-created topics"
If this is a bug report, please fill out the following:

* Version of Ruby: 2.3.1
* Version of Kafka: 0.10.2.0
* Version of ruby-kafka: master (02169e9f1656c988a030e82466af4f9ad5e80e45)

Please verify that the problem you're seeing hasn't been fixed by the current `master` of ruby-kafka.

###### Steps to reproduce

Start a Kafka server with `num.partitions` > 8 (or adjust the number of threads cre

[2017-04-03 17:26] Kenterfie commented on #328
Another example

Single Threaded Logging with one Producer
https://gist.github.com/Kenterfie/2537aa726130bb80ab124cc6da3a358b

Constant increase of memory usage above kafka limits
`MEMORY[23613]: rss: 210316, live objects 53727
MEMORY[23613]: rss: 212268, live objects 53640
MEMORY[23613]: rss: 214448, live objects 53770
MEMORY[23613]: rss: 216784, live objects 53514
MEMORY[23613]: rss: 218908, liv

[2017-04-03 19:50] Kenterfie commented on #328
Ok, i think i have found the reason. The problem is not the library himself, its the ruby version. I have moved to 2.3.3 and the leak is gone.

2.2.1
`MEMORY[13951]: rss: 42376, live objects 30122
MEMORY[13951]: rss: 43960, live objects 29965
MEMORY[13951]: rss: 45544, live objects 30017
MEMORY[13951]: rss: 47392, live objects 30029
MEMORY[13951]: rss: 49240, live objects 30075
MEMORY[13951]: rss:

[2017-04-04 08:12] dasch commented on #328
Great!

[2017-04-04 18:41] dasch commented on #335
I think your patch is correct - please open a PR and I'll review it.

[2017-04-05 12:43] Nattfodd opened #337 "Offset is not saved on consuming messages"
Ruby: 2.3.3
Kafka: 0.10
Ruby-Kafka: latest master (0.3.16)

I am using Kafka consumer from the code example. It is running as a standalone ruby process.
[code]

Documentation in README states, Ruby-Kafka commits offset every 10 seconds. I send large amount of messages to the topic, consumer consumes them. Then I wait for 20 seconds to make sure offset is committed for sure, then I stop consumer pr

[2017-04-05 13:18] piavka commented on #328
BTW i've similar issue with producer causing memleak both async and sync producer
(consumer is ok BTW)
and i've tried with 2.2.x and 2.3.x versions and it leaks in both

[2017-04-05 13:19] dasch commented on #328
@piavka can you open a separate issue and add some more details there?

[2017-04-05 13:20] #335 closed

[2017-04-05 13:21] piavka commented on #328
sure will do soon

[2017-04-05 13:22] dasch commented on #337
I'm not sure thing will work if you call `yield` from within the `each_message` block – can you try to simplify your code and see if there's still a problem?

[2017-04-05 13:22] dasch commented on #337
Also: you need to make sure the group id does not change.

[2017-04-05 13:27] piavka opened #338 "Allow consumers to run with no assigned partitions"
Currently if consumer has no partitions assigned it will get exception and die.
If exception is handled and consumer tries to consume again this causes it to join the group again and trigger rebalance, so if there are more consumers than partitions it would cause endless rebalances. There should be option to keep the consumer alive idle in a group where it could get chance to get some partitions o

[2017-04-05 14:01] Nattfodd commented on #337
Thank you @dasch for quick response! It seems you were right, it's because of nested `yields` (I had like 2 or 3 in between). I just put my code into `.each_message` directly and it works fine now! Thanks!

[2017-04-05 14:01] #337 closed

[2017-04-05 14:21] eldan-klarna commented on #330
@dasch
Hi, sorry for the late reply,
The reason I think it's a threading issue is because:
1) I'm changing the hash in message_buffer.rb:82 and nowhere in the stack trace am I looping over any hash.
2) The hash is exposed, for an example if another thread calls .to_h on MessageBuffer then he gets exactly the same hash which includes the exact same buffer[topic][partition] hash.

[2017-04-05 15:35] dasch commented on #330
Yeah, I'm not sure why this is showing up...

[2017-04-05 15:35] dasch commented on #337
:+1:

[2017-04-05 15:36] dasch commented on #338
That's reasonable.

[2017-04-05 16:39] sophia-d commented on #331
Thanks all for your help.. We wound up rolling back to Kafka 0.10.1.0 due to incompatibility w/ this gem. Will upgrade when this gets upgraded.

[2017-04-06 11:04] dasch commented on #331
@sophia-d it's likely that I'll work on upgrading ruby-kafka to Kafka protocol version 0.10 this month.

[2017-04-06 11:54] Kenterfie commented on #328
In my case the memory usage is higher than before with logstash logger but the leak stops now. So i close it. @piavka possible your main thread is locked by thread join or something else, then i notice that the GC not working like it should.

[2017-04-06 11:54] #328 closed

[2017-04-07 21:47] jpaskhay commented on #327
I played around with the regexes yesterday and tested some more. Looks like there was a bit of confusion in our understanding of the instrumentation/monitoring implementation. We had copied the `ActiveSupport::Notifications.subscriber` example from the README **and** we were also including the Datadog reporter (patched to write plain statsd format so we can forward to Graphite).

So we overlooked

[2017-04-08 16:53] dasch commented on #327
Do you experience the same overhead if you don't include the datadog or statsd subscribers, so that nothing subscribes to the per-message instrumentation events? It's possible to just sample with statsd, so maybe that's a better approach.

[2017-04-08 16:53] dasch commented on #327
Also, feel free to contribute the plain statsd subscriber in a PR ;-)

[2017-04-11 12:34] meinac commented on #338
Do you know why this happens? In my case I have one consumer which is connected to 2 brokers for a topic which has only one partition and I get this error once in a while(eg. in each 4 hours).

[2017-04-11 12:36] dasch commented on #338
@meinac it shouldn't happen if there's only one instance of your consumer – it sounds like sometimes you have two instances running simultaneously.

[2017-04-11 12:47] meinac commented on #338
Thanks for your quick response, I've figured out we were using same group name on different environments with same kafka cluster 😢

Btw thanks for this cool gem.

[2017-04-11 12:55] dasch commented on #338
No problem :-)

[2017-04-11 19:56] jonathan-upstart opened #339 "Consumer API production-ready?"
Hi, thanks for your fantastic work on creating this gem. My company is interested in using this gem for our production system, but we're concerned that the consumer API may not be production ready. The readme says, `Warning: The Consumer API is still alpha level and will likely change. The consumer code should not be considered stable, as it hasn't been exhaustively tested in production environmen

[2017-04-17 14:09] dasch commented on #339
I should probably update that warning – the consumer API has been used in production at Zendesk (and probably a bunch of other places) for quite some time now. However, you should be aware that the current IO engine doesn't work well with very high throughputs or large consumer groups. There are lots of optimizations that need to be done, some of them rather involved, before I'd call the API "high

[2017-04-19 15:58] dasch commented on #339
I've updated the README.

[2017-04-19 15:58] #339 closed

[2017-04-19 18:21] ale7714 commented on #126
@dasch I was about to open an issue for this. Currently we consume each message and store it on a buffer until we received a message to stop buffering. At that point, we process the buffer and commit the offset. Because something could happen before we received a message we want to commit only if and after the buffer was processed.

I would be happy to help on adding support to this.

[2017-04-19 20:31] dasch commented on #126
@ale7714 what sort of API are you proposing?

[2017-04-19 21:58] ale7714 commented on #126
@dasch thanks for replying. I was thinking something like:

1. Updating `each_batch` to be able to avoid offsets commits.
2. Adding something to consumer like `process_and_commit(message)`  that would mark as processed and then commit the offset.
3. Add `buffered_offsets` to OffsetManager, so we could get the next offset from the buffer.

[2017-04-20 08:29] dasch commented on #126
Hmm.

How about we expose `Consumer#mark_message_as_processed` and `Consumer#commit_offsets` – those should allow a user of the batch API to control when offsets are committed. We'd need an option for disabling auto-commit.

Why do you need `buffered_offsets`?

[2017-04-20 12:47] ale7714 commented on #126
@dasch Yeah that's right. Exposing those methods would be more flexible. `buffered_offsets` will allow us to get next offset from the buffer instead of `processed_offsets` which hasn't been updated.
I'll submit an initial PR today and we can discuss more.

[2017-04-20 12:56] dasch commented on #126
Why would you need the next offset?

[2017-04-20 15:05] ale7714 commented on #126
@dasch you're right no need for it. I was too focused on my specific case without realizing the simple approach on your previous comment is more than enough. I opened a PR of what will give us the flexibility to achieve what we need https://github.com/zendesk/ruby-kafka/pull/342

[2017-04-20 18:26] dasch commented on #126
:+1:

[2017-04-20 21:30] #233 closed

[2017-04-20 21:32] dasch commented on #321
Closing this.

[2017-04-20 21:32] #321 closed

[2017-04-20 21:32] dasch commented on #315
Is this still an issue?

[2017-04-21 06:22] gokusleepy2 opened #343 "min_bytes will not be overridden by max_wait_time if max_wait_time is set a value which are more than 10 secs"
* Version of Ruby: 2.3
* Version of Kafka: 0.10.2-IV0
* Version of ruby-kafka: 0.3.11

I get messages by

    consumer.each_batch(min_bytes: 1024 * 5, max_wait_time: 30) do |message|
      # ...
    end

If the value of max_wait_time I set is less or equal to 10 secs, I will get the message as expected. But, when the value is between 12 and 30, I will not receive any message until the messages siz

[2017-04-21 06:55] michaelsauter commented on #321
@dasch If you think what I wrote as a guide makes sense, how about putting it into the wiki and linking from the readme? Otherwise it's pretty hard to find in here ...

[2017-04-21 11:11] dasch commented on #321
:+1:

[2017-04-21 11:12] dasch commented on #321
@michaelsauter I've opened up write access to the wiki – can you add a page there, preferably with a good introduction?

[2017-04-21 11:12] dasch commented on #321
I'll update the README once that's up.

[2017-04-21 13:45] michaelsauter commented on #321
@dasch I created an initial version at https://github.com/zendesk/ruby-kafka/wiki/Creating-X509-certificates-from-JKS-format.

[2017-04-21 15:59] dasch commented on #321
:heart:

[2017-04-21 16:06] dasch commented on #343
Can you try this with other versions of Kafka? The client doesn't really do anything here, the broker (i.e. Kafka itself) decides when to return data to the client.

[2017-04-24 05:33] gokusleepy2 commented on #343
Thanks for your reply!

I have tried an old verion 0.9.0.1 of Kafka, but the issue still exists.

I try to change the heartbeat, session_timeout, but it doesn't work.

[2017-04-24 11:18] dasch commented on #343
I think you should try to ask on a Kafka mailing list or add an issue to their repo – I don't think this is related to ruby-kafka, as it just passes those parameters along to the Kafka cluster.

[2017-04-24 11:45] gokusleepy2 commented on #343
OK, thank you!  Last question, The value about session_timeout and heartbeat_interval in ruby-kafka are refer to sec rather than msec, is this right?

[2017-04-24 13:37] dasch commented on #343
Yes, all durations in ruby-kafka are in seconds.

[2017-04-24 19:03] costa opened #346 "Weird behaviour of async producer: BufferOverflow woes"
Thank you for your work, now I'm using an async producer which produces a lot of messages fast (millions/minutes), and I'm currently stuck in the following loop:
[code]
Notice my "buffer overflown" log lines which are added when a `Kafka::BufferOverflow` error is rescued and production is delayed.

Now there might be something wrong with my kafka, but I have no indication of this in this log (or a

[2017-04-25 14:17] dasch commented on #346
Do you have monitoring set up, e.g. Datadog?

You may need to increase the queue size, but at the very least you need to be sure you can deliver messages as fast as you're producing them.

[2017-04-26 18:30] ale7714 commented on #126
@dasch hi :). i've been having this issue where `each_batch` fetches multiple times from the same offset until i process the messages. I think is related to this https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/offset_manager.rb#L44-L46, WDYT?

[2017-04-26 21:05] dasch commented on #126
Yes – it seems that I was wrong when I said that the offset tracking differentiated between that which had been returned to the user and that which had been processed.

If would make sense to have a separate tracker, e.g. `@next_offsets` that was updated after a message/batch had been passed to the user code.

[2017-04-27 08:34] dasch commented on #126
I do – we already tried avoiding commits, but that turned out to be slightly messy.

[2017-04-27 14:28] ale7714 opened #347 "Weird offset behavior after rebalancing"
* Version of Ruby: 2.2.3
* Version of Kafka: 0.9.0.1
* Version of ruby-kafka: master branch

Had an instance consuming from a `topicA/partition0`,  it fails to send a heartbeat but before failing it had committed the offset to X. Then the partition tries to join, gets assigned a different partition and `topicA/partition0` is picked up by another service but the offset is way behind than X (around

[2017-04-28 20:03] dasch commented on #347
Do you have logs from the incident?

[2017-04-30 19:34] ale7714 commented on #347
@dasch I do, here ithttps://gist.github.com/ale7714/1c3836cbf0d00d7e3c82c7c4e79c52f7
You can see how at 8:55:51 analysis-results/0 offset is 6683654259
[code]
And then at 08:55:55 the offset is 6678540862.
[code]
You can see how some instances failed to send a hearbeat so they join the group again and partitions are re-assigned.

[2017-05-01 08:30] dasch commented on #347
Hmm. This could be because the consumer that got assigned the partition after the re-sync had handled that partition some time in the past – and therefore had an out-of-date offset position for it. Would you care to take a look at the consumer and see if you can find some evidence for a bug?

[2017-05-01 10:39] costa commented on #346
Hi @dasch, thanks for your reply.

In this case I may produce messages faster than I can deliver them, and I don't see it much of a problem with reasonable back pressure.

I have worked around this issue by replacing
[code]
with
[code]
and it now works — possibly sub-optimally.

With async_producer it just becomes stuck after a while — as in failing to deliver any further messages — as described a

[2017-05-01 13:58] dasch commented on #346
That's a very slow way to produce – I think this is a better setup:

[code]

[2017-05-01 14:06] ale7714 commented on #347
@dasch actually that's a good clue. Looking at logs the instance that picked up analysis-results/0 at a really old offset, had been assigned this partition before.
[code]
As you can see,  the instance was only updating `analysis-results/7` offset pointer but sill had `analysis-results/0` on memory even  when is not changing.

Could there be an issue in this line https://github.com/zendesk/ruby-kaf

[2017-05-01 14:09] dasch commented on #347
That could be it – you may have to look at the implementation of that method and see if you can break it.

[2017-05-01 17:22] dasch commented on #346
Also, you need to monitor the queue and buffer size in production. I recommend statsd, Librato, or Datadog.

[2017-05-03 12:30] ale7714 commented on #347
@dasch is there a reason why the gem only clear all the offsets after joining only if the generation_id is different?

[2017-05-03 13:15] dasch commented on #347
@ale7714 there's a lot of subtlety in the group membership protocol – I believe that was done in order to not lose the uncommitted checkpoint state if not necessary.

[2017-05-03 13:16] dasch commented on #347
There may be a lot of rejoins if the group isn't completely stable (there's a leave/rejoin any time a member comes or goes) and we don't want to keep losing track of the offset positions.