[2017-05-03 14:11] ale7714 commented on #347
@dasch Right, thank you. I understand that. Although i think another side effect of only processing/committing offset manually is that we get quite often in the situation explained here https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/consumer.rb#L317-L329.
So discussing more about this with one of my coworkers, we were thinking we should be able to choose to clear_offset, either by:
 *

[2017-05-03 14:16] ale7714 commented on #347
In our case, handling a few duplicates from kafka is acceptable. Losing messages is not an option, so we prefer to fail and not commit the offset. So we wouldn't mind having a "lower" startup time when the instance is joining the group, if that avoids reading from an old offset.

[2017-05-04 15:35] ttamimi commented on #311
Pull request submitted to add the needed method: https://github.com/zendesk/ruby-kafka/pull/350

[2017-05-07 09:59] costa commented on #346
@dasch Thanks for your advice.

However, I did try sleeping for a few seconds upon buffer overflow, it didn't help, i.e. the slow workaround did the job, the async producer just gets stuck, never finishes the job, the sleeping workaround doesn't help, it get stuck still.

I can help conduct another experiment comparison between the methods, and I think it should be important to get to the bottom o

[2017-05-08 08:41] dasch commented on #346
@costa if you can come up with a minimal but complete script that reliably replicates the problem it would be a great help.

If you could also monitor the stats and post e.g. a screenshot of a graph it would be even better. There are various things that can go wrong in a Kafka setup, and not everything is intuitive without monitoring.

[2017-05-08 08:50] dasch commented on #347
It does sound like this is maybe related to your manual offset marking logic. Can you share a minimal but complete example script that reproduces the issue?

[2017-05-08 12:17] ale7714 commented on #347
@dasch that's right I've been trying out a couple of things and realize that on my buffer I could have a message from a previously assigned partition. And that would make the consumer have an old offset for a partition that consumer is not assigned anymore. Now that I feel more confident on how should we manage those edge cases when we don't auto commit. I'll open a PR.

[2017-05-09 11:07] dasch commented on #346
@costa also, can you look at these proposals for managing buffer overflows and see if they would help with your situation?

1. https://github.com/zendesk/ruby-kafka/pull/189
2. https://github.com/zendesk/ruby-kafka/pull/125

[2017-05-09 13:54] baelter opened #351 "consumer blocking all threads"
* Version of Ruby: 2.4.0
* Version of Kafka: 0.10.2.0
* Version of ruby-kafka: 0.3.17

###### Steps to reproduce

[code]

###### Expected outcome

"Another thread" every ~ 5 seconds

###### Actual outcome

Messages are consumed fine, but no other thread gets any cpu time.

[2017-05-09 17:20] baelter commented on #351
Nevermind,

[2017-05-09 17:20] #351 closed

[2017-05-17 17:46] vivekmarakana opened #354 "Latest version support"
Does this support producers and consumers fully in kafka 0.10.2.1? I'm frequently getting errors `Error committing offsets: Kafka::UnknownMemberId`

[2017-05-18 15:01] michaelsauter opened #355 "Expose heartbeat?"
I have a consumer which reads messages in batches, and needs to call an external API a few times for each batch (there is a limit on the external API, and the Kafka batch size might exceed that).

In that case, I've seen the consumer session timeout and when the consumer tries to commit the offsets, the broker thinks that the consumer died already.

I see a couple of options here:

1. Reduce the a

[2017-05-19 09:29] dasch commented on #354
Can you post some logs that could give more insight into what's happening?

0.10 is supposed to be backwards compatible with 0.9, which is the version we're currently testing against.

[2017-05-19 09:32] dasch commented on #355
What does your processing code look like? Is your API call synchronous?

There's a risk in decoupling the heartbeat from the actual processing, in that you may end up with a zombie consumer holding on to partitions. That's why I'm wary of exposing the heartbeat trigger directly, as well as why it doesn't happen on a background thread.

[2017-05-20 07:27] michaelsauter commented on #355
Yes, the API calls are asynchronous :/

Good point about the zombie processes. However, I agree only partially.

It makes a lot of sense not to trigger heartbeats automatically in a background thread because a) it might not be obvious that this is happening and b) as a user I cannot control it so in the end it is likely that some users would run into problems.

But exposing an API to trigger a hea

[2017-05-20 09:29] dasch commented on #355
Hmm. I'm still not sure it's worth the complexity cost. Have you tried
running with a longer session timeout? In most cases, consumers will send a
leave message on shutdown, so I don't think you'll run into problems very
often.
On Sat, 20 May 2017 at 09.27, Michael Sauter <notifications@github.com>
wrote:

[2017-05-21 12:10] michaelsauter commented on #355
No, I did not try to increase the session timeout. I would like to avoid that. I still think it is much better to have a shorter timeout, but telling the broker more often that we're still alive. Also, a longer timeout will make problems less likely, but it is not a reliable solution.

Let me try to explain our situation in more detail. The consumer in question is reading from one topic, and each

[2017-05-21 14:22] Elyahou commented on #331
Hey @dasch do you have any update on the upgrade ? Thanks

[2017-05-21 19:23] dasch commented on #331
I don't, I'm afraid - I don't have a production 0.10 cluster to test
against yet. Once I do I'll figure out a way to move to support that
version.
On Sun, 21 May 2017 at 16.23, Elyahou <notifications@github.com> wrote:

[2017-05-22 21:21] dasch commented on #355
Well, the session timeout is really only used to ensure that clients that
crash without sending a leave message get pruned from the group and their
partitions reassigned - so a longer timeout will only affect those cases.

I'm on vacation at the moment, but I'll take a look at this when I get home.
On Sun, 21 May 2017 at 14.10 Michael Sauter <notifications@github.com>
wrote:

[2017-05-22 22:37] pbrisbin opened #356 "Don't mask everything as a ProcessingError"
https://github.com/zendesk/ruby-kafka/blob/51dbfe2261817205415fc2ca8b9336dd115c73df/lib/kafka/consumer.rb#L202

This causes us a few headaches:

- Every exception in Bugsnag has this class, so we can't Ignore, Fix, or Snooze independently
- Our own outer `rescue` strategy (to tick metrics, silence expected issues, etc) can't just `rescue` what we want, it has to rescue this and check `#cause`

Is

[2017-05-25 00:51] jasantunes opened #357 "Connection to broker shouldn't be terminated when kafka returns `MessageSizeTooLarge` error"
I recently came across the `MessageSizeTooLarge` error response from kafka, which I think it's not being properly handled by the `ruby-kafka`, at least in the async call from the producer. Currently it seems to be disconnecting the producer, thus triggering a bunch on other issues and ultimately 500s. The synchronized call seems to be handling the error fine.

* Version of Ruby: 2.2.3, 2.3.3
* Ver

[2017-05-25 11:38] costa commented on #346
@dasch Hi, I've spent quite a lot of time trying to get to the bottom of this. I've come up with a script:
[code]
But it didn't reproduce the issue, unfortunately for me.
Oh, BTW, my benchmarks have shown x9±20% factor async vs sync in my simplistic setup.

I've run my system check again, with the same result, now I don't know what is the essential diff and what makes my system test stuck for good

[2017-05-25 11:42] costa commented on #346
@dasch a hunch: can it be the async producer doesn't handle `Kafka::MessageSizeTooLarge` or similar errors too well?

[2017-05-29 09:23] vivekmarakana commented on #354
This was the issue related to timeout which kicked the worker out of group after some idle time. Got is solved by changing configuration.

[2017-05-29 09:23] #354 closed

[2017-05-31 14:08] jurriaan commented on #322
I've got the same problem here, it does work however when I patch the client.rb to use `ssl_context.add_file` instead of `ssl_context.add_cert`.

[2017-05-31 14:36] jurriaan commented on #322
Had the same issue, it does work when specifying the ssl_ca_cert as an array of the full certificate chain.

[2017-06-05 22:23] jdconley commented on #338
I've run into this issue with the fluentd-kafka plugin. I have three fluentd instances for HA in a kubernetes cluster and they can consume from topics that have fewer than 3 partitions.

https://github.com/fluent/fluent-plugin-kafka/issues/129

I hacked in some exception handling and a random sleep for now, but I do not think this is an exceptional case.

[2017-06-06 08:46] dasch commented on #338
@jdconley I'd be open to a PR.

[2017-06-06 08:50] dasch commented on #346
That could be it, although that should have shown up in the logs...

It sounds more like the producer timer thread dies, causing the periodic deliveries to not happen. Are you using Timeout in your code? That can wreak havoc on things.

[2017-06-06 09:16] dasch commented on #357
The problem is that the only approach the async producer has when dealing with errors is to retry – but a message that is too large won't succeed when retried.

I've thought about this previously, but couldn't come up with a really good error handling API that

1) was simple to use,
2) provided actionable information to the user,
3) and guarded against data loss.

Especially 3) is tricky. It would

[2017-06-06 09:21] dasch commented on #356
There are several reasons:

1) I don't want to use a catch-all `rescue` in the async producer; it's important to be able to identify errors raised in the user code.
2) I need to be able to "decorate" the exceptions with the topic/partition/offset information in order to provide actionable information to operators.

Is it difficult to check `#cause`? You could simply do this:

[code]

We extract th

[2017-06-06 19:49] pbrisbin commented on #356
Thank you for the info, we will figure out one of the work-around options.

[2017-06-06 19:49] #356 closed

[2017-06-07 23:50] marcreynolds opened #360 "Confusion on thread safety"
This is an issue purely about documentation.

In the `Thread Safety` section, it says the following:

That is then followed by:

At first, this seemed like a bit of a contradiction, given that asynchronous producers reference a Kafka client.  Does this mean that asynchronous producers _can_ be shared across threads, but Kafka clients _cannot_ be shared across threads, which could then create async

[2017-06-08 08:57] dasch commented on #360
I see that it's a bit confusing – I should clear up the README. Basically, when you create a producer it gets its own, separate pool of connections to the Kafka cluster and is therefore operating independently of the main client object. Furthermore, the async producer can be shared between threads because that pool is only accessed in a single background thread – the foreground threads send messag

[2017-06-08 09:02] dasch commented on #360
Updated the README.

[2017-06-08 09:02] #360 closed

[2017-06-08 10:48] zhoplocal commented on #343
@gokusleepy2 how did you solve your issue? I'm facing the same.

[2017-06-08 10:50] #330 closed

[2017-06-08 10:51] #206 closed

[2017-06-08 10:54] dasch commented on #355
I would be open to a PR that implements `Consumer#heartbeat`.

[2017-06-08 11:27] gokusleepy2 commented on #343
@zhoplocal I never solved it. But, if your message requires strictly time limit，you can set max_wait_time less than 10secs, or just set min_bytes as a small value. In my case, the volume of my message is huge, so my key point is min_bytes.

[2017-06-08 11:44] SimSimY commented on #357
IMO there should be at least an option skip the failing message or to pass a block that will handle this case (so we can export them to some storage and handle them later)

In our case, we have api endpoint that receives events and pushes them to kafka, while we can tolerate some data loss ( around ~.001% in our case) every time there is `Kafka::MessageSizeTooLarge` error, the whole worker (we are

[2017-06-08 12:08] dasch commented on #357
I would be interested in knowing what the JVM client does in these cases.

[2017-06-08 12:09] dasch commented on #343
:+1:

Closing this.

[2017-06-08 12:09] #343 closed

[2017-06-08 15:52] marcreynolds commented on #360
@dasch Thanks!

[2017-06-10 07:08] michaelsauter commented on #355
Awesome! I'm away at the moment, but @headshota, could you look into opening a PR if you get the time?

[2017-06-13 10:28] huhongda commented on #119
@dasch when support the SASL/PLAIN? our team will use kafka replace with redis. I find only your gem support SASL.

[2017-06-13 10:48] tmeinlschmidt commented on #119
I would like to add PLAIN to SASL auth then as well.

[2017-06-13 18:19] jasantunes commented on #357
I like @SimSimY 's suggestion of the error handling block – stoplight uses this approach: https://github.com/orgsync/stoplight#custom-errors

A less elegant solution could be to request the broker the message max size (broker and topic) at the initialization and raise `MessageSizeTooLarge` if the client tries to call `produce` with a too large message w/o even trying to actually send the message.

[2017-06-14 00:09] dasch commented on #357
I'm not too happy about using blocks to set policies – I think it's rather inelegant.

If only I could determine the max message size programmatically! Unfortunately, there is to my knowledge no such API in Kafka. Rejecting too large messages in `#produce` would solve the problem nicely.

[2017-06-14 06:18] jasantunes commented on #357
Yes, getting the max message (per topic) might be unfeasible – I think it's managed by the zookeeper cluster...

[2017-06-14 06:19] jasantunes commented on #357
A hacky (partial) solution: `ruby-kafka` could track the _min_ of the messages that caused `MessageSizeTooLarge` per topic, i.e., an approximate of the max for each topic, _max*(topic)_: any messages to be produced larger than _max*(topic)_ will immediately raise a `MessageSizeTooLarge` without actually trying to send them to kafka.

**Caveats:**
* requires an additional key/value store to cache _

[2017-06-15 04:44] dasch commented on #357
I'm not sure that fixes the problem in a complete way – you'll still silently lose the first message to go over the max size at least.

[2017-06-18 05:05] jasantunes commented on #357
@dasch: Not a handler block but a handler object that implements a callback: https://github.com/zendesk/ruby-kafka/pull/358

[2017-06-20 02:15] tylerholien commented on #355
FWIW the official Java client does heartbeating in a background thread: https://kafka.apache.org/0101/documentation.html#upgrade_1010_notable

[2017-06-20 09:07] dasch commented on #355
@tylerholien it sounds like the entire consumer join/fetch/leave flow is being done in a separate thread, probably using an inter-thread communication mechanism when the user code calls `poll`. This is something I've thought about, but it would require quite a bit of work to make it 100% reliable. Error handling is always tricky when you introduce multithreading, for instance. I'm not sure it's th

[2017-06-20 16:33] tylerholien commented on #355
It is certainly complex and challenging! Sorry, I didn't mean to imply that it was trivial or that you should do it now. As of 0.10.1 the consumer does do heartbeating in a background thread (`HeartbeatThread` in [AbstractConsumer.java](https://github.com/apache/kafka/blob/0.10.2/clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractCoordinator.java)). This gives us the ability

[2017-06-21 10:46] dasch commented on #355
My reading of https://github.com/apache/kafka/blob/0.10.2/clients/src/main/java/org/apache/kafka/clients/consumer/internals/AbstractCoordinator.java#L269-L277 is that while a background thread _manages_ the heartbeat, the foreground threads needs to manually indicate that it's still running – so it's, functionally speaking, still a sequential operation relative to the message processing. It's just

[2017-06-27 15:12] headshota opened #365 "Consumer does not consume messages before all leader brokers receive a message"
Experiencing strange bug/behavior from consumer (group API) with the following setup:

1 consumer subscribed to a topic.
3 brokers, 10 partitions, replication factor of 2.

When message is appended, the consumer does not consume it immediately. Only when all 3 brokers get at least one message does the consumer start consuming. (`min_bytes` is set to 1)

Further testing with 2 partition only, revea

[2017-06-27 17:06] costa commented on #346
@dasch Hey, sorry for delay, I'm ready and willing to continue the investigation, I don't use timeout in the same component. Is there any message to look for in the logs re: producer timer thread death? What is the behaviour when Kafka exception is thrown upon delivery?

[2017-06-28 08:43] headshota commented on #365
Setting `min_bytes` to 0 seems to solve the issue, the messages are consumed immediately.

[2017-06-29 09:53] dasch commented on #346
The expectation is that if either the Worker (responsible for delivering messages in the background) or the Timer dies, the foreground process is aborted: https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/async_producer.rb#L149-L153

[2017-07-03 08:36] michaelsauter commented on #365
Onee issue with setting `min_bytes` to 0 is that the response from the server happens immediately, and then we have a lot more requests than we would want as we never wait  for `max_wait_time`.

@dasch Is the behaviour we see to be expected or does it look more like a bug?

[2017-07-03 08:56] dasch commented on #365
Do you mean that the messages are _never_ consumed or that you have to wait for `max_wait_time` to pass before any of the messages are consumed? If it's the latter case, that's a well-known limitation of the current, rather simplistic, approach taken by ruby-kafka when consuming messages.

I plan on rewriting the consumer to address this and other limitations, but I'm not sure when I'll have the t

[2017-07-03 12:14] #355 closed

[2017-07-03 12:14] dasch commented on #355
✅

[2017-07-03 12:26] michaelsauter commented on #365
I meant that the messages are never returned, which is why I find it surprising. My understanding of `max_wait_time: X` was that, whatever happens, after time X, all messages (or how many fit into `max_bytes_per_partition`) are returned to the consumer (even if `min_bytes` is not satisfied). What we are seeing however is, with `min_bytes: 1`, all leaders of the topic need to have at least one mess

[2017-07-03 12:35] dasch commented on #365
@michaelsauter can you post more details on your setup, including the Kafka broker version you're running with? My understanding of the API is what you're describing: after `max_wait_time`, all brokers _should_ return possibly empty message batches.

[2017-07-03 12:47] michaelsauter commented on #365
We have 3 brokers, version 0.10.1.0. The topic in question has 10 partitions, and 2 replicas (Kafka writes to a EBS volume, so we don't need 3).

The gem version is 0.3.17.

[2017-07-03 13:12] dasch commented on #365
@michaelsauter this could be a 0.10.1.0 issue.

Can you try with the most recent beta release?

[2017-07-03 13:19] tcrayford commented on #365
@michaelsauter you should know that kafka 0.10.1.0 had quite a few deadlocks and other issues that might result in problems like this. I'd recommend upgrading off it.

[2017-07-03 15:05] michaelsauter commented on #365
@dasch I'll give 0.3.18.beta2 a try tomorrow and report back.

@tcrayford Do you mean upgrading the brokers? I re-checked and noticed we're actually on 0.10.1.1. From there I only see the option to go to 0.10.2.0 or 0.11.0.0, but I thought there might be even more issues with this gem as it advertises 0.9 compatibility?

[2017-07-03 15:19] tcrayford commented on #365
@michaelsauter ah, yes. But you're already off 0.10.1.0, so it's not that.

[2017-07-03 20:19] headshota commented on #365
As mentioned above, we tested it through kafka cli tools and there it seems to work as expected.

[2017-07-04 08:48] dasch commented on #365
I'd be interested in seeing if this is also a problem on 0.9 – it could be that the broker's backwards compatibility layer is the source of the bug.

The client doesn't really _do_ anything besides declaring the behavior it wants of the broker, so unless the issue is on the client IO side (which seems unlikely) I think we should look at the brokers.

[2017-07-04 08:59] michaelsauter commented on #365
@dasch We tried with 0.3.18.beta2, but it does not solve the problem.

[2017-07-04 09:04] dasch commented on #365
Is this something you can reproduce locally? If so, could you try with Kafka 0.9 just to be sure?

[2017-07-04 09:20] michaelsauter commented on #365
@dasch Hmm. We could try but it is a bit of work to get everything setup, so I'd like to know what the implications would be. Assuming this issue does not exist with 0.9 brokers, what could we do to fix the problem? Downgrading our brokers to 0.9 is not an option, so is it possible for the gem not to use this compatibility layer?

I guess that implies cutting 0.9 support - how far are we from that

[2017-07-04 09:26] dasch commented on #365
My plan is to move the main line of development to only support 0.10 and have a stable branch with bug and security fixes for the 0.9 compatible version. The timing of that is mainly dependent on when Zendesk is done upgrading our clusters – I need to have access to a good testing ground.

Once the client uses the 0.10 versions of the APIs, no compatibility mapping will be done by the brokers.

I

[2017-07-04 09:40] michaelsauter commented on #365
@dasch Sounds good :+1:

I'll try to reproduce locally with 0.9 brokers.

Is it worth testing also against 0.10 with one of the "0.10 support pull requests" or are they out of date / not working?

[2017-07-04 09:43] dasch commented on #365
@michaelsauter I think they're very out of date, unfortunately, but you could give it a try.

[2017-07-04 16:52] mensfeld commented on #112
Isn't that supported already with manual offset commiting?

[2017-07-04 17:01] tcrayford commented on #112
note that… to get at most once,  you have to be very careful about your broker and producer set-up. If this is added, I'd like to see documentation on those.

[2017-07-05 08:31] mensfeld commented on #112
@tcrayford  what I've meant is that you could realise committing the offset to Kafka with ```#automatically_mark_as_processed``` before yielding to the user.

[2017-07-05 10:25] michaelsauter commented on #365
Okay, unfortunately we have been able to reproduce this locally under 0.9.0.1 as well.

Setup: 3 brokers (0.9.0.1, no SSL), 1 topic with 10 partitions and replication factor 2
Gem versions: 0.3.17 and 0.3.18beta2

[2017-07-05 10:46] dasch commented on #365
Thanks! Okay, then I'll have to dig in and see what ruby-kafka does wrong.

Do you have log snippets I could look at?

[2017-07-05 13:12] headshota commented on #365
Here's a log output from the consumer. Notice that initially there are no messages processed and in the end when all broker leaders get at least one message it starts consuming them.
[code]

[2017-07-05 13:35] dasch commented on #365
What timeouts have you set? (`connect_timeout`, `socket_timeout`) and what's the `max_wait_time`? This could be caused by the socket/connect timeout being shorter than `max_wait_time`.

[2017-07-05 14:21] michaelsauter commented on #365
Oh stupid us. `connect_timeout` and `socket_timeout` was `1`, `max_wait_time` was `5`. Setting `socket_timeout` to e.g. `6` solves the issue.

However, I'm still a bit confused:
* Why does this issue appear only if we have multiple brokers?
* We had `min_bytes: 1` set, so the brokers should not have waited for `max_wait_time` anyway?

But that aside, we have a solution now :)

Thanks for looking i

[2017-07-05 15:31] tylerholien commented on #355
It does do the heartbeat in the background without calling any methods on the consumer. You can confirm this by sleeping for longer than the session timeout:

        Properties props = new Properties();
        props.put("bootstrap.servers", "localhost:9092");
        props.put("enable.auto.commit", "false");
        props.put("session.timeout.ms", "10000"); // the default in 0.10.1 and later

[2017-07-05 16:32] dasch commented on #365
Happens to the best of us – I've made far worse mistakes in the past :-)

Also, we really should have better checks in place for that.

Probably because a broker with messages ready to be consumed will return before the timeout – with just a single broker, you're almost guaranteed to have messages waiting when you send a fetch request. Note that ruby-kafka sends a single request _per broker_, cont

[2017-07-05 17:27] mensfeld commented on #365
@dasch @michaelsauter we do that in Karafka framework (basics but will be extended) https ://github.com/karafka/karafka/blob/0.6.0wip/lib/karafka/schemas/config.rb

[2017-07-05 20:41] trthomps commented on #119
+1 for SASL/PLAIN

[2017-07-05 21:05] theduderog commented on #119
+1 I need SASL/PLAIN support as well.

[2017-07-06 07:03] michaelsauter commented on #365
@dasch Thanks. I'll see how tricky it is to add a warning/exception.

Racecar looks really nice! I was thinking about writing some small abstraction on top of ruby-kafka when we started out, then decided to do only the bare minimum in the beginning. But we will consider Racecar once it is announced. I had a brief look already through the code and the runner looks almost identical to our executable

[2017-07-06 07:56] dasch commented on #365
@michaelsauter :+1:

I plan to add batch processing support once I've gathered more use-cases. Batch processing is a bit more tricky since there's less interleaving of ruby-kafka and client code, and so fewer opportunities to mark messages as processed, commit offsets, and send heartbeats. It's also more difficult to pinpoint the message that caused a processing error.

Even the per-message API is

[2017-07-06 08:00] dasch commented on #119
@tmeinlschmidt would you want to head this or should we let one of these enthusiasts give it a go?

[2017-07-06 08:04] dasch commented on #355
@tylerholien hmm... that's not my reading of the documentation, and also doesn't really make any sense. Try sleeping for a _long_ time and see when the heartbeat thread triggers a group exit.

If your processing code is permanently blocked on IO you need the heartbeat to stop – otherwise there's no point in even having a heartbeat.

[2017-07-06 09:28] #365 closed

[2017-07-06 09:38] dasch commented on #365
@michaelsauter fixed in Racecar: https://github.com/zendesk/racecar/commit/127c1d0ede45ede98a7a1950f763a5794e791ded

[2017-07-06 11:55] michaelsauter commented on #365
@dasch Nice. In ruby-kafka this looks a lot trickier indeed. It would be kind of odd to pass it through all the way until it can be checked. Maybe it's best to just add a note in the comments (https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/consumer.rb#L168 and https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/consumer.rb#L235)?

[2017-07-06 12:03] dasch commented on #365
Yup, that's probably the best thing to do. ruby-kafka is a sharp knife – most people will want to use something like Racecar or Karafka when writing consumers.

[2017-07-06 14:01] tylerholien commented on #355
Yeah, the documentation about these timeouts is pretty poor. The important bits are hidden in the [notable changes in 0.10.1.0](https://kafka.apache.org/0101/documentation.html#upgrade_1010_notable) section, and even if you find them they're still a little confusing in my opinion.

This part covers the permanently blocked on IO issue:

So, if you sleep for longer than `max.poll.interval.ms`, you s

[2017-07-06 14:30] dasch commented on #355
That does sound like an improvement, although it'll be more work to implement. I'll be revisiting the entire Consumer design in the near future and will be sure to look at Heartbeat while I'm at it.

[2017-07-06 21:26] sidbits commented on #304
We have Samza tasks which reads messages from Kafka Output stream but if there is any retryable failure while processing the message then i would want my Samza task to read the same message again and reprocess it. And after successfully processing the message acknowledge it for checkpointing instead of auto commit.

Is there a way to manually control the checkpoint(just like what Kafka Consumer pr

[2017-07-07 07:14] michaelsauter opened #368 "Should consumers yield empty batches?"
Some background:

We have a few topics which are used for tracking. They have very different usage patterns, some receive a steady stream of messages, some receive a burst of messages every now and then. We want to aggregate some stats from these topics every day.

I see two options to go about this:

1. Using `Client#fetch_messages`. That allows to read from a specific offset, and it is possible

[2017-07-07 10:02] dasch commented on #304
@sidbits I think you're in the wrong repo – this has nothing to do with Samza :)

[2017-07-08 01:29] ale7714 commented on #347
i'll close this since this issue was related to our manual offset management.

[2017-07-08 01:29] #347 closed

[2017-07-12 12:50] sparrovv commented on #331
hey @dasch, is there any chance to get a support for 0.10.2 in the upcoming weeks? Thanks!

[2017-07-12 13:12] mensfeld commented on #288
I'm able to reproduce now:

1. Connect to Kafka node
2. Make it connect etc
3. Kill -9 everything (I mean kafka process) :D

Won't stop connection attempts

[2017-07-12 18:49] kyprifog commented on #62
I still get this behavior on 0.3.18.beta2.  Situation is that topic does not exist beforehand I get `Kafka::LeaderNotAvailable` error when trying to produce messages to the topic created by ruby-kafka.  Topics manually created on the broker do not yield the same behavior, have no issue with Leader and can produce.

[2017-07-13 15:37] mensfeld commented on #288
FYI this is how it drains disk space when it keeps spamming
![df-week](https://user-images.githubusercontent.com/392754/28174431-cc1e993e-67f1-11e7-92d0-fadc88d9e4bf.png)

[2017-07-17 09:19] dasch commented on #62
@kyprifog are you using the async or the sync producer? If you're using the latter, you'll need to back off until a leader has been elected for each partition in the new topic. The async producer should do this automatically.

Topic creation isn't immediate, it can take a while, especially if you have lots of partitions.

[2017-07-17 09:22] dasch commented on #288
@mensfeld sounds like a sleep in https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/consumer_group.rb#L48 would help?

[2017-07-17 09:23] mensfeld commented on #288
@dasch exactly :+1:

[2017-07-17 09:26] dasch commented on #368
I think option 1 is a better fit for your use case – consumer groups are really only useful for continuously running consumers. The consumer offsets will even be deleted if there's no activity for a long period of time.

I would store the per-partition offsets in your stats database and resume from there on each run.

[2017-07-17 09:46] michaelsauter commented on #368
Okay, thanks for commenting on this. We'll continue to use (1) then.

[2017-07-17 09:46] #368 closed

[2017-07-17 11:41] dasch commented on #331
Duplicate of #270

[2017-07-17 11:43] dasch commented on #88
Closing due to a lack of activity.

[2017-07-17 11:43] #88 closed

[2017-07-17 11:43] dasch commented on #101
Closing due to a lack of activity.

[2017-07-17 11:44] dasch commented on #102
Closing due to a lack of activity.

[2017-07-17 11:44] dasch commented on #103
Closing due to a lack of activity.

[2017-07-17 11:44] dasch commented on #112
Closing due to a lack of activity.

[2017-07-17 11:45] dasch commented on #218
Closing due to a lack of activity.

[2017-07-17 11:45] #218 closed

[2017-07-17 11:45] #101 closed

[2017-07-17 11:45] #102 closed

[2017-07-17 11:45] #103 closed

[2017-07-17 11:45] #112 closed

[2017-07-17 11:46] #290 closed

[2017-07-17 11:46] #293 closed

[2017-07-17 11:47] dasch commented on #313
I think people should use [Racecar](https://github.com/zendesk/racecar) to process messages, which has simple and easy support for testing.

[2017-07-17 11:47] #313 closed

[2017-07-17 11:48] dasch commented on #299
Closing due to a lack of activity.

[2017-07-17 11:48] #299 closed

[2017-07-17 11:48] #314 closed

[2017-07-17 11:49] dasch commented on #310
Closing due to a lack of activity.

[2017-07-17 11:49] #310 closed

[2017-07-17 11:50] dasch commented on #322
@sparrovv can you provide a PR that ensures that the CA cert is verified?

[2017-07-18 15:31] dm123455 opened #374 "Stability and v1.0"
I had some questions around using Ruby Kafka client for Kafka 0.9:

1. The roadmap states that "This release is running in production at Zendesk, but it's still not recommended that you use it when data loss is unacceptable. It will take a little while until all edge cases have been uncovered and handled." have we determined what work needs to be done to cover edge the cases or to make the client

[2017-07-18 15:37] haneefkassam commented on #346
@dasch Is there a suggestion on how we would recover from encountering that issue?

[2017-07-19 08:58] dasch commented on #346
@haneefkassam a simple restart should do the trick – but I'd love to see some logs from when it happens, as I'm not sure how it could...

[2017-07-19 13:32] dasch commented on #374
I think I'm ready to remove that disclaimer – ruby-kafka has been very stable for quite a while now.

v1.0 for me is more a testament to the breadth of the developer community's maturity than the maturity of the code base. Right now there's a very small group of developers and when I'm not around it's difficult to get support. I'll only bump to v1.0 when that changes. You should regard the current

[2017-07-19 15:42] dasch commented on #119
Done!

[2017-07-19 15:42] #119 closed

[2017-07-19 15:44] #315 closed

[2017-07-19 15:45] dasch commented on #270
Closing this issue, follow #279 for progress on timestamp support.

[2017-07-19 15:45] #270 closed

[2017-07-19 15:46] dasch commented on #298
Closing due to a lack of activity. Feel free to reopen if this happens again.

[2017-07-19 15:46] #298 closed

[2017-07-19 18:30] costa commented on #346
@dasch I'm not sure I've seen anything suspicious in the logs

[2017-07-19 18:33] costa commented on #346
I'm sorry, that was a mistap, I will check again, and will make sure the level is debug..

[2017-07-19 21:34] dm123455 commented on #374
Thanks for the response.

[2017-07-19 21:38] haneefkassam commented on #346
That's my question.....I need to, ideally, be able to recover from this without restarting my application.  Is this possible?

[2017-07-19 23:40] dasch commented on #346
Well, backing off for a few seconds upon buffer overflow and then retrying should really be enough. If it isn't then there must be a bug somewhere. The logs (with debug enabled) are usually enough to diagnose the issue.

I've considered blocking the caller thread when the producer queue is full (#93), but I'd need to fully understand the ramifications of that. If the producer thread is usable to d

[2017-07-19 23:49] dasch commented on #374
:+1:

[2017-07-19 23:49] #374 closed

[2017-07-20 13:28] dasch commented on #331
Resolved by #376.

[2017-07-20 13:28] #331 closed

[2017-07-20 17:18] dasch commented on #199
@MartinNowak I've just released `v0.5.0.beta1` with support for Kafka 0.10. Would you be willing to run this in production for some time and see if everything works as expected?

[2017-07-20 17:19] dasch commented on #331
@sophia-d I've just released `v0.5.0.beta1` with support for Kafka 0.10. Would you be willing to run this in production for some time and see if everything works as expected?

[2017-07-20 17:19] dasch commented on #354
@vivekmarakana I've just released `v0.5.0.beta1` with support for Kafka 0.10. Would you be willing to run this in production for some time and see if everything works as expected?

[2017-07-20 17:19] dasch commented on #270
@pbrisbin I've just released `v0.5.0.beta1` with support for Kafka 0.10. Would you be willing to run this in production for some time and see if everything works as expected?

[2017-07-20 17:29] pbrisbin commented on #270
That's great to hear @dasch ! Unfortunately, our pressures to get onto 0.10 have subsided for the moment, and so we're probably going to be on 0.9 for another quarter or so. If/when we do update though, I'd be happy to run the beta (if it's still beta then) and let you know.

[2017-07-20 17:34] dasch commented on #270
:+1:

Hopefully it'll be out of beta by then. Make sure to lock down your version to `~> 0.4.0` in your Gemfile, as v0.5 won't be compatible with Kafka 0.9!

[2017-07-20 17:48] sophia-d commented on #331
Hi @dasch, yes will give it a test run.. Mind that the biggest difference was the leap from Kafka 0.10.1 to 0.10.2. I already am using the gem as is for Kafka 0.10.1.

[2017-07-20 18:02] dasch commented on #331
@sophia-d was there a change in the wire protocol in v0.10.2? Otherwise it should work just as well, unless there's a bug in that version of Kafka.

The new thing in ruby-kafka v0.5 is that it uses the Kafka 0.10 message format, which should improve performance but would also be the source of any breakage. Everything looks fine in my testing, though, but it's nice to validate against a real cluste

[2017-07-24 08:05] mensfeld commented on #374
@dasch  just for the record - I use ruby-kafka a lot and despite some minor problems that I've already reported (and you've already fixed) I consider ruby-kafka stable as well. Great job!

[2017-07-24 08:41] dasch commented on #374
@mensfeld ❤️

[2017-08-02 03:42] Conanza commented on #126
Hi @dasch, just wanted to chime in to provide my use case where I think `#seek` would be helpful. Looks like @ale7714 already has #369, but I wanted to check in to see if maybe you think there's a workaround while `#seek` is being tested. I could even help test it if my use case is fitting.

I have an analytics use case, and I'm trying to enhance our Rails API to double as a Kafka consumer (messag

[2017-08-02 09:54] dasch commented on #126
@Conanza I have to say, I don't think using Kafka the way you're proposing will work out well – it's neither scalable nor fast. First of all, each consumer group comes at a cost – having a very large number of these will place undue load on the brokers. Especially since they're, as far as I can see, throw-away. Second, reading a partition from start won't be guaranteed to be as fast as reading fro

[2017-08-02 16:50] Conanza commented on #126
@dasch thanks for the feedback! There are no kafka experts here to bounce ideas off of, so I appreciate it. I don't want to get too off topic, but following up:

The hybrid approach is kind of what I was going for with (2). However, I have concern now about how we designed our topics to satisfy long-running consumers. We've designed topics in a way where we want to silo each user's data separate f

[2017-08-04 09:25] dasch commented on #312
@prestonwrthompson is this still a problem or can I close this?

[2017-08-04 11:17] #322 closed

[2017-08-04 11:17] dasch commented on #288
Should be fixed by #288.

[2017-08-04 11:17] #288 closed

[2017-08-04 11:19] dasch commented on #304
Duplicate of #126.

[2017-08-04 11:19] #304 closed

[2017-08-04 15:22] prestonwrthompson commented on #312
hey, sorry for dropping off here, i was having a bit of trouble getting a passing spec because of the threading. i have not tried to reproduce since, and we have been using my fork with the patch above. i'm not sure if it's still a problem but i assume it is because this line https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/async_producer.rb#L151 is still in the code.

[2017-08-07 09:04] dasch commented on #312
@prestonwrthompson I think the cause of the error is weird:

It would seem that you're writing integers rather than strings to the producer, e.g. `producer.produce(42)`.

I think a simpler fix would be to just call `#to_s` on these arguments.

[2017-08-07 09:21] dasch commented on #312
@prestonwrthompson can you try with #384 and see if that fixes your problem?

[2017-08-07 19:55] The-Drewid opened #387 "Connection Error Handling for Producer"
If this is a bug report, please fill out the following:

* Version of Ruby: 2.3.3
* Version of Kafka: 2.10-0.10.1.1
* Version of ruby-kafka: 0.3.17

Please verify that the problem you're seeing hasn't been fixed by the current `master` of ruby-kafka.

###### Steps to reproduce

Do not have a kafka server running.

kafka_server_connection  = Kafka.new(seed_brokers: ['localhost:5555'], client_id: 'r

[2017-08-08 09:18] dasch commented on #387
Can you paste the logs that you're seeing? The async producer is supposed to be resilient to problems, and is specifically designed to insulate the host app from crashes even when Kafka is unavailable, so it's not surprising that you're not seeing any errors.

[2017-08-08 14:43] prestonwrthompson commented on #312
hey @dasch, as i mentioned above writing an integer was just a reliable way to produce an error, but other uncaught errors would produce the same effect. here is an example stacktrace from when we were seeing it on our servers that was causing the exit.
[code]

[2017-08-08 19:13] dasch commented on #312
@prestonwrthompson by design, the async producer should handle any such error without impacting the caller – but also without silently dying. I think the right approach is to handle such exceptions, perhaps restarting the producer if need be. In this case, I'm not sure how we'd get the wrong correlation id – is this something you can reproduce?

Perhaps it would make sense to rescue that error spe

[2017-08-09 04:16] ale7714 opened #389 "gssapi error on require 'kafka`"
* Version of Ruby: 2.2.2p95
* Version of Kafka: 0.9
* Version of ruby-kafka: master

When using `ruby-kafka` master branch and trying to run the service, it fails on `require "kafka"`. The error looks something like:
[code]

We're not using `sasl_gssapi_auth` and that's why we don't have any dependency for gssapi installed.

[2017-08-09 11:00] dasch commented on #389
Argh, that's what I feared. I'd love a PR that conditionally and lazily requires the gssapi library only when needed.

[2017-08-09 11:46] ale7714 commented on #389
That sounds like a good plan, I'll look into it during the weekend

[2017-08-09 17:07] The-Drewid commented on #387
I don't have any logs. My kafka server is not running. When I run my ruby code which produces and delivers a message, it runs successfully even though there's nothing to write to.

The following is my kafka object that I create:
    Kafka.new(seed_brokers: [ENV['KAFKA_END_POINT']], client_id: 'ruby-kafka')

The following is the code to produce and deliver a message to a topic:
    producer = $kafk

[2017-08-10 08:30] dasch commented on #387
Can you instantiate the Kafka client like this?

[code]

Then run your code and paste the resulting output.

[2017-08-11 11:57] ryantownsend opened #390 "Error committing offsets: Kafka::UnknownMemberId"
My very basic consumer is having trouble with committing offsets back to Kafka, I have attempted to resolve this with the Heroku Kafka team, but they believe it to be a bug with `ruby-kafka` so have suggested I post an issue here.

Please refer to this log: [stdout.txt](https://github.com/zendesk/ruby-kafka/files/1217735/stdout.txt)

* Version of Ruby: `2.3.4`
* Version of Kafka: `0.10.2.1`
* Vers

[2017-08-11 20:27] The-Drewid commented on #387
I, [2017-08-11T16:22:17.960380 #12944]  INFO -- : New topics added to target list: streaming_output
I, [2017-08-11T16:22:17.960380 #12944]  INFO -- : Fetching cluster metadata from kafka://192.168.99.100:9092
D, [2017-08-11T16:22:17.960380 #12944] DEBUG -- : Opening connection to 192.168.99.100:9092 with client id ruby-kafka...
D, [2017-08-11T16:22:17.978883 #12944] DEBUG -- : Sending request 1 to

[2017-08-13 20:53] ale7714 commented on #389
@dasch i opened this PR https://github.com/zendesk/ruby-kafka/pull/391 to address this. Let me know what you think.

[2017-08-14 08:57] dasch commented on #390
1. Have you tried setting `max_wait_time` to 5? This could be due to the group having rebalanced while the consumer was busy processing messages.
2. Have many members are there in the group?

[2017-08-14 10:09] ryantownsend commented on #390
1. This is already set by `consumer.each_message(max_wait_time: 5)` isn't it? Am I doing that wrong somehow?
2. Just this one consumer and a single producer

[2017-08-14 10:33] dasch commented on #390
Sorry, meant setting it to 1.

[2017-08-14 11:04] The-Drewid commented on #387
OK. Thank you for your help.

[2017-08-14 13:59] The-Drewid opened #392 "Failed to find group coordinator"
Hi again,

This is not a bug, we are just unsure of what we're missing in our code or environment that is resulting in the following error:

[code]

[2017-08-15 08:26] dasch commented on #392
The group coordinator is a Kafka broker that is elected to coordinate a specific consumer group. It seems that your broker advertises its own hostname as `1b34de8e9eaa`, which is not accessible from where you're running the client.

[2017-08-15 08:26] #392 closed

[2017-08-15 08:35] dasch commented on #389
Fixed by #391.

[2017-08-15 08:35] #389 closed

[2017-08-15 12:58] ryantownsend commented on #390
@dasch thanks so much – that's working now.

[2017-08-15 12:58] #390 closed

[2017-08-15 14:13] dasch commented on #390
@ryantownsend you can probably increase the connect and socket timeouts in order to allow a higher `max_wait_time`. Note that [Racecar](https://github.com/zendesk/racecar) should shield you from these issues, as it does more validation on your config and in general has fewer sharp edges. Unless you need the raw power of ruby-kafka, you may be better off with a higher-level, opinionated framework b

[2017-08-15 21:06] Elyahou opened #395 "EOFError when the connection was closed by broker because of idle client"
client connections are being closed by broker after some time, defined by `connections.max.idle.ms` config on the broker (default to 9 min).

I noticed that such closed connections are still being used by ruby-kafka when producing message, and this cause EOFError exceptions, and sync retry after backoff time.

I saw that an attempt to fix this had already been added here https://github.com/zendesk

[2017-08-16 08:57] ryantownsend commented on #390
@dasch thanks – I've passed the feedback on to Heroku so they can see if this is expected behaviour or whether there is a problem that needs addressing.

I gave Racecar a go prior to using ruby-kafka directly, I had some other issues so thought I'd simplify down to the lower-level library, but my plan is to retry using Racecar now and see how that goes – we definitely need something higher-level f

[2017-08-16 09:10] dasch commented on #390
@ryantownsend great! Do let me know if you find a problem with Racecar – it's still relatively early stages, but it also doesn't actually do much aside from loading configuration and handling signals.

[2017-08-16 09:27] dasch commented on #395
@Elyahou the problem is that the timeout is configurable on the broker side, but we won't know the actual value. I've thought about sending some kind of keep-alive request periodically, but I'm not sure if that's the best solution, as it would add unnecessary traffic.

[2017-08-16 09:29] Elyahou commented on #395
I know Java client don't have this issue since 0.9 version. Maybe we should
mimic the same behavior as this client ?

On Aug 16, 2017 12:27 PM, "Daniel Schierbeck" <notifications@github.com>
wrote:

[2017-08-16 09:30] dasch commented on #346
@costa any news?

[2017-08-16 09:31] dasch commented on #327
Closing this down – if there's a way to get more efficient metrics I'm open to a PR.

[2017-08-16 09:31] #327 closed

[2017-08-16 09:33] dasch commented on #126
Done! 🎉

[2017-08-16 09:33] #126 closed

[2017-08-16 09:35] dasch commented on #395
Can you investigate what they're doing in order to avoid the problem? They may do client-side socket cleanup with a lower timeout than the brokers, but I'm not sure if it's bullet-proof.

[2017-08-18 13:51] Paxa commented on #351
Having save issue, how did you solve it?
Also process consumes all CPU

[2017-08-18 13:56] mensfeld commented on #351
@Paxa  @baelter
Don't use the same client from more than one thread.
Probably you will be better going with higher level libs that take care of stuff like that for you. See the https://github.com/zendesk/ruby-kafka#higher-level-libraries section of the readme file.

[2017-08-22 19:24] sparrovv opened #396 "[Minor] Kafka::ConnectionError (should be Kafka::AuthenticationError ?)"
* Version of Ruby: 2.3
* Version of Kafka: 0.1.2.0
* Version of ruby-kafka: 0.4

Hi, I've been trying to connect to kafka broker over SASL_SSL:

[code]

and when I was passing the wrong password I was getting:
[code]

It's minor, but I would expect something more specific than the `ConnectionError`.

[2017-08-23 13:13] dasch commented on #396
Hmm. I'm not sure if that's possible.

[2017-08-23 17:23] dasch opened #398 "Instrument consumer joins, syncs, and errors directly"

[2017-08-25 12:57] dasch commented on #395
Fixed by #399!

[2017-08-25 12:57] #395 closed

[2017-08-31 13:32] mensfeld commented on #338
@dasch  wouldn't a simple configurable sleep and retry on assignment be enough to handle that case?

[2017-08-31 13:37] dasch commented on #338
Probably – the consumer would have to wait for another group sync in order to get assigned new partitions.

[2017-09-07 10:00] elliotcm opened #406 "More/better error handling"
Hi there,

We'd like to be able to receive Kafka exceptions to HoneyBadger (or insert hosted exception platform here).  You have your async threads set to terminate on error which is great, but there's a couple of downsides to the library:

- Useful debugging information is left out of error bodies and instead relies on logging (if sent at all), e.g. https://github.com/zendesk/ruby-kafka/blob/8871

[2017-09-07 13:32] #398 closed

[2017-09-07 13:41] dasch commented on #406
I'm not sure this is the best approach, for the simple reason that errors in Kafka are not _exceptional_, and do not necessarily indicate bugs or misconfiguration. During some operations, the cluster will simply be a bit unstable, which will result in errors being returned. The right approach to this is to _monitor_ the error counts and trigger an alert if the errors _persist_. Exception trackers

[2017-09-07 13:55] dasch commented on #396
I think https://github.com/zendesk/ruby-kafka/pull/385 will help with this.

[2017-09-13 13:05] ilikecodingg opened #413 "unable to specify message content Type (ex:- application/json) when delivering message to kafka topic"
If this is a bug report, please fill out the following:

* Version of Ruby: JRuby 9.1
* Version of Kafka: 2.10-0.10.1.1
* Version of ruby-kafka: 0.3.17

Please verify that the problem you're seeing hasn't been fixed by the current `master` of ruby-kafka.

###### Steps to reproduce

# Please write an example that reproduces the problem you're describing.
[code]

[2017-09-13 13:14] Elyahou commented on #413
https://github.com/zendesk/ruby-kafka#serialization

[2017-09-14 12:14] alexandrapersea opened #414 "unable to set request headers"
I need to use some custom headers when connecting to Kafka. Is there a way i could set them in the ruby kafka client?

[2017-09-14 12:20] mensfeld commented on #414
@alexandrapersea no. It is a Kafka v0.11.0.0 feature that is not yet implemented.

[2017-09-14 12:46] alexandrapersea commented on #414
Thank you!

[2017-09-14 12:46] #414 closed

[2017-09-14 14:29] dasch commented on #413
@ilikecodingg that is not a Kafka feature.

[2017-09-14 14:29] #413 closed

[2017-09-19 11:40] alexandrapersea opened #415 "Request content-type"
When i'm writing to the kafka topic using the api like so ```curl -X POST -H "Content-Type: application/vnd.kafka.json.v2+json"  --data '{"records":[{"value":{"foo":"bar"}}]}' "http://kafka:port/topics/abc```  it works.

 When i'm trying to write to a topic using the ruby-kafka client i get
`Failed to fetch metadata from http://kafka:port: Connection error: EOFError`.

My guess would be that the r

[2017-09-19 11:50] Elyahou commented on #415
ruby-kafka do not use the http protocol, but kafka protocol, and there is content-type to send when using the kafka protocol.

which seed broker do you use with ruby-kafka ?

[2017-09-19 11:51] mensfeld commented on #415
Hey. There were several similar issues. Ruby Kafka is agnostic and does not support headers.

[2017-09-19 12:08] Elyahou commented on #415
@alexandrapersea You should use `18.220.190.71:9092` in place of `http://18.220.190.71:9092`

[2017-09-19 12:10] alexandrapersea commented on #415
I have changed to protocol because of this error:

`Kafka::ConnectionError: Could not connect to any of the seed brokers:
- kafka://18.220.190.71:9092: Operation timed out`

[2017-09-19 12:15] Elyahou commented on #415
it seems your broker is not available, you can check if maybe some firewall block this port

[2017-09-20 08:23] victorphamdeveloper opened #416 "Weird paused topic partition"
Hi, I'm using karafka to run the karafka server which is responsible for consuming the message off the kafka topic. It is printing these messages like forever.
[code]
Additional info: I tried to query whether a topic partition is paused or not by running  `consumer.paused?('new_order', 0)` and it returns `nil`
Anyone can shed me a light on this.
Thanks

[2017-09-20 08:27] Elyahou commented on #416
It it because your process block raised an exception

[2017-09-20 12:09] mensfeld commented on #416
@victorphamdeveloper Karafka is irrelevant here. It happens because:
- you had an error in your code and ruby-kafka paused your topic consumption
- in your consumer group you have only a single topic subscribed, so when you pause your partition, consumer does not have anything else to do

Although @dasch  I must say that in a scenario like the one above, the amount of log messages can be a bit ove

[2017-09-20 12:52] mensfeld commented on #416
@dasch I will answer for him ;)
There is a stack trace, the problem with a scenario that I've described, is that log file gets clogged so fast, that it's even hard to notice the initial cause error before it disappears.

The default pause timeout for karafka is 10 seconds.

This is way less painful when you have multi topic consumers as ruby-kafka then have some other stuff to do and does not clog

[2017-09-20 12:55] dasch commented on #416
Yeah, handling the case where a consumer has no active partitions assigned would be nice – this can also be the case if e.g. you want to have a backup consumer for a one-partition topic, i.e. two members but only one partition. Having a sleep loop would be nice, although we'll need to make sure to send heartbeats and whatnot.

[2017-09-20 12:58] mensfeld commented on #416
@dasch  there are more problems with the current implementation of the ```fetch_loop``` as the way it is now, forbids you to have a pre ```stop``` code that could be executed when there are no new messages received (I will create an issue for that layer today or tomorrow as I need to describe it with a lot of details).

[2017-09-21 09:58] dasch commented on #415
@alexandrapersea can you start by following these steps in the README? https://github.com/zendesk/ruby-kafka#setting-up-the-kafka-client

[2017-09-25 16:57] MartinNowak commented on #199
Yes. should have some time next week to cater for Kafka and ruby-kafka updates.

[2017-09-28 15:03] film42 commented on #312
@dasch In the past I've solved this in projects by exposing an `error_handler` callback (configurable by the user) which the publisher can invoke if an error occurs. By default it just logs to the logger. But this also let's the user send those errors to an exception monitoring service like honey badger. This is essentially the same thing as `abort_on_exception` but better for service availability

[2017-10-02 21:36] will89 opened #420 "Consumer infinite OffsetOutOfRange loop"
* Version of Ruby: 2.4.2
* Version of Kafka: 0.9.0.1
* Version of ruby-kafka: 0.4.0

In our production application, which had been running for about 10 days. We received the following log message repeatedly from ruby-kafka for about 3 hours.

`Invalid offset for topic/23, resetting to default offset`

Restarting our consumer process seemed to fix the issue. After investigating, it appears our repl

[2017-10-03 14:28] cgeers opened #421 "async max_queue_size"
ruby: 2.3
ruby-kafka: 0.4.2

The async producer's `:max_queue_size` option may be misleading.  [Some of the documentation](https://github.com/zendesk/ruby-kafka/blob/v0.4.2/lib/kafka/async_producer.rb#L23-L36) indicates that it would be unreasonable to expect that any more messages than `:max_queue_size` would ever be in the buffer, but this doesn't seem to be true. In the cases where max_queue_si

[2017-10-03 15:10] dasch commented on #420
Thanks for reporting this! I’m on vacation for the next two weeks, but I’ll take a look at this when I’m back.

[2017-10-03 15:12] dasch commented on #420
Can you start by updating to the most recent version of the library?

[2017-10-03 15:14] dasch commented on #421
The queue is bounded - once the max size is reached, no new messages will be placed in it..

[2017-10-03 15:39] mensfeld commented on #420
@will89 @dasch we do the same: we recreate consumer after stopping the problematic one.

[2017-10-03 17:48] cgeers commented on #421
whoops. I see now that is indeed the case.  sorry for the noise

[2017-10-03 17:48] #421 closed

[2017-10-03 20:49] kyprifog commented on #406
I have to disagree, I think the error handling can definitely be tightened up.  The proposed solution may not be the best one but I find this library very frustrating in that 90% of most errors Ive encountered (with causes ranging across the board) result in a "Could not connect to any of the seed brokers".  My guess is there is a giant forgiving rescue for a broad range of errors somewhere pointi

[2017-10-04 06:45] dasch commented on #406
The reason errors are not bubbles up to clients of the async producer is that it is designed for resilience - your producer be partitioned from the brokers at times, but once a connection has been made everything can continue. In fault tolerant systems, errors are part of the game.

Do you have a proper monitoring system set up?

[2017-10-04 20:32] will89 commented on #420
Updated to 0.4.2.

Reproduced by doing the following:
Running with 3 brokers
3 brokers
And a topic with the following config
[code]

The next part is a bit unscientific but while data is being published and consumed, turn brokers on/off. You might need to keep repeating this process until the loop hangs, since sometimes it results in crashes.

I got the following several times, not sure if it's ex

[2017-10-05 12:09] dasch commented on #420
In the case of a offset error, `seek_to_default` should fix the error...

[2017-10-05 12:11] dasch commented on #420
I am currently on vacation, but will look at this once I’m back.

[2017-10-06 12:21] mensfeld opened #424 "Insufficient #stop behaviour for non busy topics with manual offset commits"
This problem is related to all the ruby-kafka versions, since they all have the same ```#stop``` logic.

As described in th docs, the signal gets caught and consumer shuts-down:

[code]

The problem itself is the trap context which is in a separate thread. It modifies the ```@running``` flag on a consumer and during the next ```consumer_loop``` iteration it stops. It creates a problem with manual

[2017-10-06 21:44] marcosArruda opened #425 "Kafka 0.11.0.0 log format?"
1) Hi guys, do you plan to implement 0.11.0.0 support?

2) Do you know if we change kafka(server) 0.11.0.0 log format to 0.11.0 ruby-kafka works?

Thanks!

[2017-10-09 11:27] Barlog951 opened #427 "Always getting Kafka::LeaderNotAvailable"
* Version of Ruby: 2.3.1
* Version of Kafka: 0.11.0.1
* Version of ruby-kafka: 0.4.2
###### Steps to reproduce

[code]

###### Error message

[code]

[2017-10-10 10:37] tcrayford commented on #425
I can't speak to `1`, but as to 2.:

ruby-kafka does work fine with 0.11.0.0 and 0.11.0.1, barring the considerations in kafka's 0.11 upgrade guide: http://kafka.apache.org/documentation.html#upgrade_1100_notable

[2017-10-10 10:37] mensfeld commented on #425
@marcosArruda @tcrayford work with 0.11 here as well - at least in mine scope.

[2017-10-12 14:55] will89 opened #429 "Consumer gets stuck in loop fetching partial message"
* Version of Ruby: 2.4.2
* Version of Kafka: 0.9.0.1
* Version of ruby-kafka: 0.4.2

Recently, a consumer got silently stuck trying to pull a message that was larger than the max_bytes_per_partition we had configured for it. It would have been nice if our consumer had raised an error when this scenario occurred. This looks like something the java consumer does in kafka 0.9 based on https://issues.

[2017-10-14 13:13] dasch commented on #429
Do you have logs from the incident?

[2017-10-16 08:06] dasch commented on #199
@MartinNowak I've since pulled that release from Rubygems because I didn't feel that I wazs able to adequately support it without running Kafka 0.10 myself. I hope to re-release soon-ish.

[2017-10-16 09:45] dasch commented on #429
If the broker simply returns an empty message set there's not much we can do on the client side. Any logs would be helpful, but also a close reading of any recent changes to the protocol or Java client that would allow us to detect this issue.

[2017-10-16 09:58] dasch commented on #425
@marcosArruda I plan to add 0.10 support in the near term – this will provide message timestamp support. It will take a while before 0.11 features will be supported, but ruby-kafka should continue to work with 0.11 brokers.

[2017-10-16 09:58] #425 closed

[2017-10-16 09:59] dasch commented on #427
Does the topic exist? After a topic is created, it takes a while for a leader to be elected for all its partitions. The simple producer API doesn't support retries, so this (ephemeral) error is to be expected.

[2017-10-16 10:03] dasch commented on #424
I really want to avoid having a bunch of callbacks. The issue here seems to be that manual offset management isn't really thought out completely. I must admit that I'm sort of skeptical of adding a bunch of complexity to support what seems to me to be an edge case. Why is manual offset management used here?

I would personally _always_ have a time bound on commits...

[2017-10-16 10:09] filiptepper commented on #424
@dasch Not sure if @mensfeld is referring to our case, but what we do is:
- start a consumer,
- start consuming,
- store processed messages locally,
- when a certain file size is reached - we store messages in external store, commit offsets.

Our consumers run in Docker containers and we would really like to make sure that processed are pushed out to external storage on shutdown as well, and for t

[2017-10-16 10:13] dasch commented on #420
@will89 can you try to see if this fixes the issue? https://github.com/zendesk/ruby-kafka/pull/431

[2017-10-16 10:13] mensfeld commented on #424
@dasch hello. Good to have you back after the holiday ;)
@filiptepper I have a case like this one as well ;)

On the other hand, we cannot use a transaction like multi-batch approach due to this issue (and the transaction spin up for couple of hours for me).

I'm not a huge fan of callbacks as well, but due to how ruby handles signals, I don't see any other way to do this, especially with the curr

[2017-10-16 10:38] dasch commented on #424
Would it not be possible to do something like this?

[code]

[2017-10-16 10:39] dasch commented on #424
Is it because you want to use Kafka's offset API but don't want things to be done automatically? Maybe it would be better to use a separate offset database that isn't tied up to the consumer group lifecycle stuff, although you'd lose some double-processing protections.

[2017-10-16 10:41] dasch commented on #424
As for this:

[code]

Calling `mark_message_as_processed(buffer.last)` would essentially drop processing of those messages. Is that what you want?

I'm open to adding a callback as a last resort, I just want to make absolutely sure there isn't a better alternative first.

[2017-10-16 10:43] mensfeld commented on #424
@dasch no because the consumer is already without a group:

https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/consumer.rb#L337

it will leave it before I can do anything (aka commit the offset).

What I want to achieve, is possibility to commit the offset manually on the exist.

I named it shitty ;) I would expect it to run before the consumer is stopped but after I've processed those me

[2017-10-16 11:09] dasch commented on #424
So the basic use case is a long-running buffer that exceeds individual batches, with processing taking place periodically and unrelated to the Kafka message processing. I think it might be worth exploring using an external offset store and manually seeking the partitions on startup – maybe even store the offsets in your output database alongside your data. Would that be impossible for you?

[2017-10-16 11:10] #415 closed

[2017-10-16 11:10] #396 closed

[2017-10-16 11:10] dasch commented on #396
Closing this for now. I would be open to a PR that improved the error message, if possible.

[2017-10-16 11:12] dasch commented on #406
Closing this for now. ruby-kafka should _not_ just be monitored with exception trackers, you need a full-fledged monitoring solution that lets you look at buffer sizes and error rates, not just individual exceptions.

[2017-10-16 11:12] #406 closed

[2017-10-16 11:12] dasch commented on #346
Closing this due to a lack of activity.

[2017-10-16 11:12] #346 closed

[2017-10-16 11:15] will89 commented on #429
In the logs, the committing offsets messages showed several partitions not moving for 8 days. When we started reading from those partitions again we skipped forward several thousand offsets. When we dug in to it, our producer had generated a single message that was larger than the configured max_bytes_per_partition for the consumer.

When experimenting locally, I produced a message that was 600KB

[2017-10-16 11:15] will89 commented on #420
Will do.

[2017-10-16 11:22] dasch commented on #429
That would be great. From your comment, it sounds like the broker _does_ return _some_ of the content. I'm not quite sure what the client is supposed to do in that situation – I would err on the side of an explicit error in the log, telling the user that she needs to increase `max_bytes_per_partition` in order to process the message.

[2017-10-16 11:28] dasch commented on #424
I think it would always be a challenge to shoehorn a processing system that goes beyond the fetch-batch lifecycle. With that being said, have you looked at https://github.com/zendesk/ruby-kafka/pull/369? It might provide a more fitting level of abstraction.

[2017-10-16 11:37] mensfeld commented on #424
@dasch I agree but kafka transactions seem really natural and easy to grasp in terms of using them the way I intend.

The code presented in #369 could do what I need with some additional flavor on my side but on the other hand using that instead of the std api creates more cases to handle (as I have only a single case in which I want a manual offset like that) but I guess it is inevitable. The las

[2017-10-16 11:39] dasch commented on #424
Yeah, you lose some of the automatic offset handling and error recovery stuff, but once you disable automatic offset management you have to handle a lot of stuff anyway...

[2017-10-16 11:39] dasch commented on #424
Can you give it a shot and let me know if the API would work for you? I'm hesitant to merge the PR if it doesn't solve real problems like these.

[2017-10-16 11:43] mensfeld commented on #424
@dasch yeah - just give me max 1 week as I'm quite busy till Friday.

The only issue that I see, is that now I will have to do a lot more things that I used to do with the standard consumer API (minus the stop callback) and in terms of amount of work, monkey patching the stop API would be much easier and would require way less work than using manual ```poll```. Nonetheless I will give it a try.

[2017-10-16 13:05] will89 commented on #429
Reading through, https://cwiki.apache.org/confluence/display/KAFKA/A+Guide+To+The+Kafka+Protocol#AGuideToTheKafkaProtocol-FetchRequest, doesn't seem to give too much guidance on what to do. When going through the source of the 0.9.0.1 java consumer, they made the decision to raise an error in this scenario. https://github.com/apache/kafka/blob/0.9.0.1/clients/src/main/java/org/apache/kafka/clients

[2017-10-16 13:07] dasch commented on #429
Yeah, that sounds like the only sensible option, although I'd prefer to keep the consumer running so that the other partitions can be processed...

[2017-10-16 13:08] dasch commented on #429
Maybe this error is sufficiently exceptional to warrant crashing the consumer process with an error message.

[2017-10-16 14:31] will89 commented on #429
In our situation, I think crashing the consumer process would have been the preferred behavior. As this misconfiguration could have eventually led to no partitions processing.

[2017-10-16 15:08] will89 commented on #420
I got the following stack trace
[code]

[2017-10-16 15:28] dasch commented on #420
@will89 I've force pushed the branch, can you try at the latest revision?

[2017-10-16 15:46] dasch commented on #429
When the message fails to decode, is there no exception being raised?

[2017-10-16 15:46] dasch commented on #429
I would expect the consumer to crash, actually... or at least write an exception to the logs.

[2017-10-16 16:09] will89 commented on #429
I think it's because this partial message scenario manifests as an `EOFError` and that error gets ignored here https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/protocol/message_set.rb#L40.

[2017-10-16 16:36] will89 commented on #420
Seems to be working now. 👍

[2017-10-16 16:39] dasch commented on #429
Ugh, that's bad – we also get EOFError during normal fetches, since Kafka just hands a slice directly from disk to the client, not worrying about including a whole number of messages...

I guess we could check whether any _other_ messages have been read, and raise an error if the first message results in EOFError.

[2017-10-16 16:45] dasch commented on #420
Awesome, thanks for testing!

[2017-10-16 17:11] will89 commented on #429
Can the EOFError be raised by more exceptional circumstances like the connection dying?

[2017-10-16 18:34] dasch commented on #429
I’m not entirely sure, would have to dive into the IO docs.

[2017-10-17 13:50] jturkel opened #433 "Non-obvious interaction between max_wait_time and number of brokers"
* Version of Ruby: 2.4.2
* Version of Kafka: 0.9.0.1
* Version of ruby-kafka: 0.4.2

The `max_wait_time` option for the `Consumer#each_batch`/`Consumer#each_message` methods seems to apply to the fetch from each broker rather than the overall fetch operation. This can lead to frequent session timeouts if there are more than a few brokers and a consumer is fetching from low traffic topics.

In our

[2017-10-18 07:49] dasch commented on #433
The plan is to fetch from the brokers concurrently, but as you say, it's quite complicated once you have to deal with all the error scenarios. I hope to be able to work on it soon, though.

In the meantime, maybe a change of the defaults would make sense (unfortunately, I believe the session timeout is already as high as is allowed by Kafka) as well as a note in the README. PRs are always welcome.

[2017-10-18 14:09] jturkel commented on #433
I've opened #434 to change the default and update the README. Let me know what you think. Thanks!

[2017-10-18 18:33] spectorar opened #435 "Frequent opening and closing of connections and large number of connections with async producer"
This is a bit of a general question to get a sanity check that what I am seeing is not normal behavior. Note that I am using an async producer.

I am seeing a ton of the following in my ruby-kafka logs:
[code]
I might get roughly 50 or more of these blocks per second. What is confusing and concerning is that the app seems to be constantly opening and closing connections to Kafka and that each one

[2017-10-19 09:00] #433 closed

[2017-10-19 09:09] dasch commented on #435
This is definitely unusual – can you paste a snippet containing the way you set up and keep track of your async producer instances? My guess is that you're instantiating a _new_ async producer whenever you send a message. That would explain that you only send a single message at a time, and that you have so many open connections – each async producer's background worker is keeping a connection ope

[2017-10-19 09:10] dasch commented on #435
Also, is this a Rails app? If so, may I recommend you use [DeliveryBoy](https://github.com/zendesk/delivery_boy), which handles all of this for you?

[2017-10-19 15:03] film42 commented on #357
This shouldn't be a problem anymore after https://github.com/zendesk/ruby-kafka/pull/432

[2017-10-19 15:03] film42 commented on #312
This shouldn't be a problem anymore after https://github.com/zendesk/ruby-kafka/pull/432

[2017-10-19 17:19] spectorar commented on #435
Thanks for the response. This was my hunch as well but the first 5 times I stared at the function that memoizes the producer it looked fine to me. Took some print statements to find a variable scoping issue that was causing a new producer to be created for each request. I tested a fix and it looks way better. I unfortunately found delivery boy a little while after one of our engineers deployed rub

[2017-10-20 09:30] #312 closed

[2017-10-20 10:06] dasch opened #437 "Cancel socket reads on shutdown"
When e.g. a consumer is shut down while in the midst of a socket read, the time to gracefully shut down can be quite long, especially if a fetch's `max_wait_time` is high. This can cause some process managers to run out of patience and kill the process. This is not a problem by itself, but it can show up as noise in monitoring systems and generally be confusing.

Ideally, we'd be able to cancel an

[2017-10-20 11:46] dasch commented on #435
Unless you're doing fancy stuff, it should provide all you need. It also gives you some nice options when configuring.

The datadog integration works the same – it's just a wrapper around ruby-kafka.

[2017-10-20 11:46] #435 closed

[2017-10-20 11:46] #420 closed

[2017-10-20 15:20] prestonwrthompson commented on #312
thanks @film42 and @dasch!

[2017-10-22 15:13] mensfeld opened #441 "automatically_mark_as_processed false causes infinite loop"
* Version of Ruby: ruby 2.4.2p198 (2017-09-14 revision 59899) [x86_64-linux]
* Version of Kafka: 0.10.2.0
* Version of ruby-kafka: '0.4.3'

Fixed on master? **no**

## Required Kafka cluster setup

- Single Kafka node
- Single topic named 'a') with single partition (our favorite setup :D)

## Steps to reproduce

[code]

###### Expected outcome

Ruby-Kafka should consume messages one after another,

[2017-10-22 16:40] mensfeld commented on #424
I'm closing this one after discussion with @dasch. ```#stop``` behavior is still insufficient and other means must be taken to ensure a possibility to do some pre stop stuff, but due to the #438 I will solve it in another way. Also I will further explore #369 to make sure that it also can  be sufficient enough for advanced usage.

Please reopen if needed.

[2017-10-22 16:40] #424 closed

[2017-10-23 07:13] #416 closed

[2017-10-23 13:31] dasch commented on #338
Fixed by #439.

[2017-10-23 13:31] #338 closed

[2017-10-23 13:31] dasch commented on #319
Apparently the standard Statsd integration is enough :+1:

[2017-10-23 13:31] #319 closed

[2017-10-23 13:32] mensfeld commented on #338
<3 waited for this one!

[2017-10-23 13:33] dasch commented on #427
Closing due to a lack of activity. The problem seems to be due to the topic either not existing or not being configured correctly.

[2017-10-23 13:33] #427 closed

[2017-10-23 13:33] #357 closed

[2017-10-23 13:33] dasch commented on #357
@jasantunes this should be fixed by #432.

[2017-10-23 13:42] dasch commented on #338
![](https://media.giphy.com/media/YTbZzCkRQCEJa/giphy.gif)

[2017-10-23 15:33] mensfeld opened #444 "Retry upon processing failures processes message twice"
* Version of Ruby: ruby 2.4.2p198 (2017-09-14 revision 59899) [x86_64-linux]
* Version of Kafka: 0.10.2.0
* Version of ruby-kafka: master

Fixed on master? **no**

## Required Kafka cluster setup

- Single Kafka node
- Single topic named 'a') with single partition (our favorite setup :D)

## Steps to reproduce

[code]

###### Expected outcome

Ruby-Kafka should reconsume message once, not twice.

[2017-10-24 11:58] dasch opened #445 "Support the Kafka 0.9 message format"
Even if a broker is running Kafka 0.10+, it's not guaranteed that the _disk format_, and hence the format that the client receives messages in, is compatible with that protocol. We may get the 0.9 format instead.

We should support both.

[2017-10-24 12:46] #445 closed

[2017-10-25 17:07] stevo opened #448 "Cannot authenticate using SASL PLAIN"
* Version of Ruby: 2.4.2
* Version of Kafka: 0.10
* Version of ruby-kafka: 0.5.0.beta3, 0.4.3

###### Steps to reproduce

[code]

###### Expected outcome

[code]

###### Actual outcome

[code]

Somehow during authentication (https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/sasl_plain_authenticator.rb#L29) decoder tried to read (https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka

[2017-10-25 18:20] dasch opened #449 "Support JKS certificates directly"
https://github.com/rylarson/keystores

[2017-10-26 08:18] dasch commented on #448
Returning an empty string when asked to read zero bytes makes sense, but I'd like to understand why this happens – surely the SASL PLAIN protocol has the answer for what to expect.

[2017-10-26 08:22] stevo commented on #448
Exactly @dasch ! Do you know where can we find some detailed specification of how communication between client and kafka looks like during SASL PLAIN authentication?

[2017-10-26 08:25] dasch commented on #448
Not really, I didn't add that feature myself.

[2017-10-26 08:25] dasch opened #450 "Failure to decode Kafka 0.9-protocol message"
* Version of Kafka: 0.11
* Version of ruby-kafka: 0.5.0.beta3

###### Steps to reproduce

[code]

[2017-10-26 08:31] stevo commented on #448
Maybe @trthomps can help here ? :)

[2017-10-26 08:50] #450 closed

[2017-10-26 09:43] #437 closed

[2017-10-26 10:40] #441 closed

[2017-10-27 22:58] trthomps commented on #448
It's possible something changed in newer versions of Ruby because when I wrote this I was testing against a SASL PLAIN 0.11.x cluster using ruby 2.3.3.  I used the python library for inspiration:

https://github.com/dpkp/kafka-python/blob/34dc9dd2fe6b47f4542c5a131e0e0cbc1b00ed80/kafka/conn.py#L519

[2017-10-28 09:57] stevo commented on #448
It seems that this `0` we get is something that should be expected when authentication succeedes...

https://github.com/dpkp/kafka-python/blob/34dc9dd2fe6b47f4542c5a131e0e0cbc1b00ed80/kafka/conn.py#L542

It seems it is also ok to read 0 bytes from socket. The timeout occurs rather during

[code]

I understand that we're waiting for data here, but in fact we do not expect any data to be received. S

[2017-10-28 13:07] gaffneyc opened #457 "Infinite reprocessing of messages from Snappy compressed producer"
We have a message producer written in Go and a consumer written in Ruby. It appears that enabling snappy compression on the producer causes messages to be infinitely reprocessed in the Ruby consumer.

The example below works fine on 0.4.3 and a `git bisect` shows that it may have been introduced by 7acbd7b. I've tried to reduce the problem to the smallest reproducible version (consumer groups are

[2017-10-28 13:23] gaffneyc commented on #457
I've been able to recreate this issue using a Ruby producer. Strangely, when using the Ruby producer the repetition is harder to produce and the loop appear to happen at a slower rate. It also appears that the below producer may need to be run twice before the infinite loop starts in the consumer.

[code]

[2017-10-28 13:38] mensfeld commented on #457
@gaffneyc possible duplicate of #429 and maybe related to #444. Tracking might be off not only for snappy.

[2017-10-28 14:37] gaffneyc commented on #457
I saw #429 and I don't believe this is a duplicate. The messages in the test are much smaller than the default for `max_bytes_per_partition`. I've also removed the rescue at https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/protocol/decoder.rb#L81 and it's showing the behavior but not raising exceptions.

It's worth pointing out that this is is happening without using a consumer group (s

[2017-10-28 20:13] dasch commented on #457
Can you paste some logs at DEBUG level?

[2017-10-28 20:16] gaffneyc commented on #457
https://gist.github.com/gaffneyc/f2de66eceb7a4c2f9967c0ba4acda402

[2017-10-30 10:50] dasch commented on #448
@stevo the decoder calls the socket, so if we make the decoder just return an empty string from `#bytes` when `size` is zero we should be good to go.

[2017-10-30 10:51] dasch commented on #448
Even better would be implementing it in `Decoder#read`.

[2017-10-30 10:54] dasch commented on #457
@gaffneyc can you try with the consumer group API, i.e.

[code]

And paste the logs if it's still not working?

[2017-10-30 12:40] gaffneyc commented on #457
Sure thing, here are the logs and the consumer: https://gist.github.com/gaffneyc/7fea8395235c07d5c0f7619570c3aac9

As part of this test I've also reduced the number of Kafka brokers from 5 to 2 and partitions from 64 to 4 to try to reduce the log output.

[2017-10-30 13:25] dasch commented on #457
That's weird. Can you investigate whether there have been any changes to how compression is done in Kafka?

[2017-10-30 14:27] gaffneyc commented on #457
Yeah, it is weird. In further testing, with Snappy disabled in the producer everything worked as expected with 0.5.0. As soon as I send a message with Snappy enabled it enters the infinite processing loop.

I'm not sure if you saw but it looked like 7acbd7b3ba1b9a3072f4bf1f5b11890263232435 was the commit that introduced the problem (found via git bisect). My first thought was that the updated API

[2017-10-30 14:41] dasch commented on #457
It could be that v2 of the fetch API introduces some change in how compressed messages work. It's just weird that you're not getting an error then, as the message is correctly processed...

[2017-10-30 14:48] gaffneyc commented on #457
Tested it again on 0.10.2.1 and was able to reproduce it (added the logs [to the gist](https://gist.github.com/gaffneyc/7fea8395235c07d5c0f7619570c3aac9#file-0_10_2_1-log)).

Each test is run against a fresh Kafka cluster.

[2017-10-30 14:50] dasch commented on #457
It sounds like a change in API semantics for the fetch API, although I'm baffled that it seems like the problem is at the processing level – I would assume that we'd maybe get back the same message from the broker repeatedly.

[2017-10-30 14:51] gaffneyc commented on #457
[code]

In the logs it stands out that the offset is 0 for each of the messages. Value is an incrementing number so they should may (roughly) to the offset in Kafka. If the offset isn't being parsed correctly then it could explain why it's never moving forward.

[2017-10-30 14:51] dasch commented on #457
If you can run with a local version of ruby-kafka, can you just pretty print all the batches returned from the broker to the terminal?

[2017-10-30 14:52] dasch commented on #457
Ah, they're different messages! I thought the same message was being re-processed.

[2017-10-30 14:54] gaffneyc commented on #457
Ah yeah, the producer is pushing 30 messages to the topic.

[2017-10-30 15:02] dasch commented on #457
Hmm, it could be that the client has to calculate the offset itself when decompressing the messages – compression is sort of weird in Kafka version < 0.11. Basically, you jam all the messages together in a message set, then compress and place those bytes in the _value_ of a _new_ Kafka message, which is the one that is actually written to the broker...

[2017-10-30 15:03] dasch commented on #457
My guess would be that in Kafka 0.10, they brokers no longer decompress those message sets in order to set the correct offsets, instead relying on the clients to calculate them based on their relative offset from the "container" message.

[2017-10-30 15:08] dasch commented on #457
Can you see if this fixes the problem? https://github.com/zendesk/ruby-kafka/pull/458

[2017-10-30 15:10] dasch commented on #457
Force pushed a new version that should work.

[2017-10-30 15:15] gaffneyc commented on #457
Yep! That looks to have fixed the issue. I'm getting the correct offsets in the logs and messages are only being processed once.

[2017-10-30 15:43] dasch commented on #457
🎉

I'll try to add a test and will merge it tomorrow.

[2017-10-30 15:44] gaffneyc commented on #457
Awesome! Thank you for getting a fix in there and building ruby-kafka in the first place.

[2017-10-31 14:01] #457 closed

[2017-11-02 13:19] dasch opened #467 "Support the v3 Fetch API"
This version allows specifying a request-global `max_bytes`, which should fix cases where the data returned by a broker cannot be read fast enough to avoid missing the group heartbeat deadline.

[2017-11-02 15:21] #467 closed

[2017-11-06 09:27] stevo commented on #448
https://github.com/zendesk/ruby-kafka/pull/471

[2017-11-06 10:33] dasch commented on #448
Fixed by #471.

[2017-11-06 10:33] #448 closed

[2017-11-06 13:00] #429 closed

[2017-11-08 13:36] michaelsauter opened #474 "Joining a group does not update offsets"
* Version of Ruby: 2.4.1
* Version of Kafka: 10.1
* Version of ruby-kafka: 0.4.1

Given the following:

* 1 broker with topic "test" which has 3 partitions
* 3 consumer processes (one consumer group), with the following pseudo-code:
[code]

When all processes are started at the same time, sometimes all partitions are assigned to one process only, and it starts fetching messages before a rebalance

[2017-11-08 16:26] dasch commented on #474
It looks like a bug to me, as well. Unfortunately, we cannot commit those offsets until we've joined the group – but I guess the right course of action would be to immediately commit those offsets once we have.

[2017-11-08 16:28] mensfeld commented on #474
@dasch can't we refetch the offset upon joining?

[2017-11-08 18:34] dasch commented on #474
Not if they haven't been committed yet :)

[2017-11-09 07:53] michaelsauter commented on #474
@dasch I'm not sure I'm following. One process (let's call it A), is fetching messages and commits offsets, while the other two (B and C) do nothing. Then a rebalance is triggered. B and C are assigned one partition and start from the original offsets, not from the ones that A committed. I thought we could simply fetch offsets from the broker whenever a consumer joins a goup?

[2017-11-10 10:35] dasch opened #478 "Consumer resets to invalid offset"
[code]

[2017-11-10 11:46] #478 closed

[2017-11-14 17:23] klippx opened #484 "Phobos issues in 0.5.x of Ruby Kafka"
We have an issue with ruby kafka >= 0.5.0 in Phobos that we might need your help to investigate, see https://github.com/klarna/phobos/issues/48

We realize that this is our problem, and we have the workaround  to lock < 0.5.0 of Ruby Kafka, but we think you might have seen something similar and can help put us on the right track. I guess the outcome can be either of two things
- There is a bug in

[2017-11-15 10:59] dasch commented on #484
Do you have ruby-kafka logs (with DEBUG level) that you can share?

[2017-11-15 11:01] dasch commented on #484
Also, can you give a full stack trace and include information about the API that's being called?

[2017-11-15 16:19] klippx commented on #484
I ran the suite with 0.4.4 and 0.5.1 to try to compare the (normalized) debug log output.

The output is available here:
0.4.4: https://gist.github.com/klippx/a119fcb8225bd9df46f4941562572040
0.5.1: https://gist.github.com/klippx/0ca38936059118ecbd8d701b9d7ddb3d

I need to analyse this more thoroughly tomorrow.

[2017-11-15 16:38] tcrayford commented on #484
@klippx which version of kafka are your tests running against?

[2017-11-16 07:15] klippx commented on #484
We are using `jplock/zookeeper:3.4.10` and `ches/kafka:0.10.2.1` for the test suite.

[2017-11-16 07:29] dasch commented on #484
It looks like you're returning from the `each_batch` block – that's not the intended way of terminating the loop, you need to call `stop` on the Consumer instance.

[2017-11-16 12:32] klippx commented on #484
Actually, I think we are doing it right, give me a chance to explain what is going on in `listener_spec.rb:87`

https://github.com/klarna/phobos/blob/62c77a3390e873fc2bf29614ab2fc3eca4978388/spec/lib/phobos/listener_spec.rb#L89
First, we start a listener thread in the background and wait for it to signal ready. The listener thread is running a RubyKafka each_batch event loop, until we eventually s

[2017-11-16 13:16] dasch commented on #484
If you return from the block, `stop` won't have the effect you're looking for. Also, `Timeout.timeout` is weird and may cause problems.

[2017-11-16 16:35] klippx commented on #484
I tried to remove the return completely, I still face the `IOError: closed stream`.

I will have a look at ruby-kafka changes in 0.4.4...0.5.1 (or even 0.5.0) and see if I can deduce what was the breaking change and/or how we are using it wrong. Looking at the stacktrace it could be anywhere from our consumer code to ruby-kafka consumer, connection or instrumentation.

Seems like there is a wait_f

[2017-11-17 11:25] klippx commented on #484
[code]

I did a git bisect and found the bad commit:

https://github.com/zendesk/ruby-kafka/commit/9a5ef827fd4a89222b093c7c425d3e011baebb20

It seems that after we call consumer.stop, we are still in the consumer_loop trying to do stuff. I am seeing errors that arise from various places within the loop:
- https://github.com/zendesk/ruby-kafka/blob/9a5ef827fd4a89222b093c7c425d3e011baebb20/lib/kafka

[2017-11-20 08:50] klippx commented on #484
After working with this issue and trying different solutions, I have come to believe this is more of a test issue than an actual compatibility problem.

When consumer is stopped, the cluster is disconnected, and a number of different things can be going on concurrently in the consumer loop. This can lead to many unexpected behaviors such as IOErrors, becoming unresponsive because of internals migh

[2017-11-20 08:53] mensfeld commented on #484
@klippx Karafka handles that that way. We basically catch it, report, silence and retry. Only heavily failing upon  a general crash (but that will cause main thread to exit). Also, maybe this will be helpful for you guys on how to wrap consumer loop with additional logic: https://github.com/karafka/karafka/blob/master/lib/karafka/patches/ruby_kafka.rb

[2017-11-20 09:38] #484 closed

[2017-11-20 11:09] klippx commented on #484
@mensfeld thanks for the support, and nice project you have btw. Very clean structure, well organized and clean code! 👍

[2017-11-23 11:42] michaelsauter opened #492 "Instrument batches in each_message?"
We use the `process_batch.consumer` instrumentation to monitor consumer offset health (e.g. growing offset lag, constant offset lag, very large offset lag, and offset progression). We also have some consumers that use `each_message`, but for those I'm not sure how to monitor offset lag.

There is an offset lag in `process_message.consumer` but I don't want to call monitoring for each message, plus

[2017-11-24 04:59] lee2014 opened #493 "Cannot get topic list in ruby-kafka v0.5.1"
If this is a bug report, please fill out the following:

* Version of Ruby:  2.4.1
* Version of Kafka: 0.10.0
* Version of ruby-kafka: 0.5.1

Please verify that the problem you're seeing hasn't been fixed by the current `master` of ruby-kafka.

###### Steps to reproduce

[code]

###### Expected outcome

When I use ruby-kafka v0.5.0 or v0.4+ and run the same code, those return
[code]
But v0.5.1 cli

[2017-11-24 10:56] dasch opened #494 "Instrument start of message processing"
We should instrument the start of `process_message` and `process_batch` so that tracers can know about it.

/cc @palazzem

[2017-11-24 12:23] dasch commented on #492
I'd be open to that.

[2017-11-24 12:29] dasch commented on #474
Re-reading the original comment, this doesn't actually sound like a bug to me – `seek` is _supposed_ to overwrite the offsets that have been committed. Seeking just once is a bit tricky, since the overwriting of offsets must happen while the consumer is part of the group.

Probably a better way to seek a group is to shut it down, then launch a script that joins the group, seeks the partitions to t

[2017-11-24 12:30] dasch commented on #493
I should add a comment in the README – Kafka 0.10.0 is not supported, you need to upgrade to Kafka 0.10.1 or higher.

[2017-11-25 04:56] #493 closed

[2017-11-29 10:13] michaelsauter commented on #492
Cool. What name doe you suggest for the instrumentation? Seems weird to use `process_batch.consumer` as we are processing messages (even though I would instrument exactly the same as `process_batch.consumer`.

I'll come up with a PR then.

[2017-11-29 10:25] dasch commented on #492
One option would be to instrument the offset commits rather than the processing itself...

Otherwise, perhaps it's better to name this `fetch_batch.consumer`, since that's really what you're aiming for. I don't think you need to capture timing (batch fetches are multiplexed anyway) so perhaps just `instrument("fetch_batch.consumer", ...)`.

[2017-11-29 11:16] michaelsauter commented on #492
Okay, I'll go with that and see how that works out.

[2017-11-29 13:54] #494 closed

[2017-12-06 01:06] edsiper opened #498 "Connection Error / Failed to fetch metadata / Errno::ETIMEDOUT: Connection timed out"
If this is a bug report, please fill out the following:

* Version of Ruby: 2.4
* Version of Kafka: v0.10.0.0
* Version of ruby-kafka: v0.5.1

Please verify that the problem you're seeing hasn't been fixed by the current `master` of ruby-kafka.

###### Steps to reproduce

We are facing an issue when delivering a message we get a timeout from Kafka Side, this is the output error we are getting from

[2017-12-11 10:41] dasch commented on #498
@edsiper unfortunately, you'll need to upgrade your Kafka cluster to v0.10.1 or higher – see [the compatibility table](https://github.com/zendesk/ruby-kafka#compatibility).

[2017-12-11 10:41] #498 closed

[2017-12-11 15:11] michaelsauter commented on #492
Merged via #501.

[2017-12-11 15:11] #492 closed

[2017-12-12 17:36] syndbg opened #503 "[suggestion] Producing byte arrays and not only Strings (incl. binary strings)"
We have an use case where we would want to produce byte arrays.

The following snippet is a small example with bytes array:

[code]

Obviously the difference is that the current implementation depends on Strings.

[2017-12-15 08:36] mhakeem commented on #493
I am having the exact problem too. I also get an empty list when calling `Client#topics`. I used Python's libraries and they seem to work just fine. I am using a higher version of Kafka 0.10 as listed below.

- Version of Ruby: 2.4.2
- Version of Kafka: 0.10.2.1
- Version of ruby-kafka: 0.5.1

[2017-12-15 08:57] dasch commented on #493
@mhakeem can you paste some DEBUG logs here?

[2017-12-18 10:34] mhakeem commented on #493
I have pasted my code which is very similar to `simple-consumer.rb` example provided in this repo. My Kafka topic is called `simple-test` and I can't find it when I run `Client#topics`, which displays an empty list in this log.

**My code:**
[code]
**The logs:**
[code]

[2017-12-18 11:02] dasch commented on #493
@mhakeem can you try this?

[code]

[2017-12-19 10:04] mhakeem commented on #493
Here is the log. Still an empty list, sadly.

[code]

I also tried printing `kafka.inspect` and here is what I got.
[code]

[2017-12-19 10:37] dasch commented on #493
1. are you 100% sure there are topics in those brokers?
2. are you sure that no access restrictions have been added?

[2017-12-19 13:31] klippx opened #505 "Compressed messages are yielded with incorrect offsets"
If this is a bug report, please fill out the following:

* Version of Ruby: 2.4.1
* Version of Kafka: 0.10.2.0
* Version of ruby-kafka: 0.5.1

- [x] Please verify that the problem you're seeing hasn't been fixed by the current `master` of ruby-kafka.

###### Steps to reproduce

See failing tests and investigation below

###### Summary

We are investigating a case which causes our consumer to crash

[2017-12-19 15:24] dasch commented on #505
The problem is that this breaks Kafka 0.11, which is the reason for the original bugfix: https://github.com/zendesk/ruby-kafka/issues/457

The JVM Kafka client has a different algorithm for getting the correct offsets – could you look into that and see if you can port that algorithm over?

https://github.com/apache/kafka/blob/88c2b6849a5af2af74972c8b2e8431473542ca83/clients/src/main/java/org/apach

[2017-12-19 16:32] costa commented on #346
@dasch I'm really sorry for the lack of activity, I'm not exactly at Kafka optimisation at the moment, but I've run the test above with large messages — with the same old gem version (from August) — and async seems to fail on `MessageSizeTooLarge` irrecoverably, so I guess this is the culprit, I don't know what to advise besides putting a warning in the readme.

[2017-12-19 17:17] zmstone commented on #505
This is because the messages were in 0.9 format in kafka.

It's not just 0.11. Relative offset feature was introduced in 0.10:
KIP: https://cwiki.apache.org/confluence/display/KAFKA/KIP-31+-+Move+to+relative+offsets+in+compressed+message+sets
JIRA: https://issues.apache.org/jira/browse/KAFKA-2511

Cases when client will receive corrected offsets:
1. When fetch request is version 0, kafka will corr

[2017-12-19 21:32] mhakeem commented on #493
Yes because 1) the consumer works fine when reading data from any given topics, but no topics are shown when running `Client#topics`, 2) I have used different versions of Ruby [2.2.x - 2.4.x] using my system's default version; rbenv; and rvm, and 3) I have tried w/ Python and I can see a list of topics normally. I am using Ubuntu 16.04.3. I'll ask a friend with a Mac to test for me.

[2017-12-20 10:55] dasch commented on #505
@zmstone can you write a PR that implements this?

[2017-12-20 11:05] dasch commented on #493
In [the protocol docs](https://kafka.apache.org/protocol#The_Messages_Metadata) there's a subtle change between version 0 and 1 of the metadata request format, which is used to discover the topics in a cluster.

Before:

After:

It could be that it's now possible to pass in `nil` instead of an empty array, and that will cause all topics to be returned. _sigh_ yet another breaking change...

[2017-12-20 11:16] zmstone commented on #505
I believe @klippx is working on it.

[2017-12-20 11:30] dasch commented on #493
Found a fix.

[2017-12-20 14:13] klippx commented on #505
We verified that with the fix in #506 the result of the test is

[code]

And

[code]

It should be noted that we are testing our scenario, we have no way of testing all possible real life scenarios (especially in production).

[2017-12-20 14:15] dasch commented on #505
I'd have to do at least one pre-release and ask contributors to deploy it and test.

[2017-12-20 16:18] piavka commented on #505
we are suffering from same issue after upgrading from `0.4.3` to `0.5.1` yesterday  and had to change all consumers to be reset to `:latest` offsets to avoid full partition re-consumption all the time
at the cost of loosing the unconsumed messages lag on reset
(this is happening at 4 different consumers with different workloads, with heavy workloads this happens very often)

we are running `kafka

[2017-12-20 16:43] dasch commented on #505
@piavka I've just released v0.5.2.beta1 – can you test that and report back? I won't be able to test in a real-life workload until January.

[2017-12-20 16:45] dasch commented on #505
Should be fixed by #506.

[2017-12-20 16:45] #505 closed

[2017-12-20 22:59] mhakeem commented on #493
Awesome! Thanks for fixing it. It lists all topics in Kafka now.

Just FYI, I had to install snappy & extlz4 gems because the new beta version of the gem raised exceptions for not having these 2 gems.

Besides that, thanks a lot :)

[2017-12-21 09:16] dasch commented on #493
Ah, that's a bug – I'll take a look at that.

[2017-12-22 10:05] klippx opened #513 "Datadog"
Just a friendly question, I dont have strong opinion, but I think it is a question more people could have.

So the question is, **why is DataDog part of RubyKafka client?**

Wouldn't it have been nice if stuff like this was kept as a separate concern (probably separate gem) that could be opted in to?

In our case for example, we are using Prometheus+Grafana, and we are relying on instrumentation f

[2017-12-27 10:18] dasch commented on #513
As per the docs, the code isn't loaded by default – you have to `require "kafka/datadog"`. One day it may be extracted, but for now it's much more convenient to ship it in the same gem, especially as there's a rather large API surface between the two code bases (all the AS::N events).

Feel free to contribute e.g. a Prometheus adapter if the Statsd doesn't work for that.

[2017-12-27 10:18] #513 closed

[2017-12-27 10:24] dasch commented on #505
Great!

[2018-01-03 02:09] bradurani opened #515 "SSL connection should not require cert"
Forgive me in advance, I don't much about SSL. I'm connecting to a Confluent-cloud managed cluster on AWS (https://www.confluent.io/confluent-cloud/). They give me SASL PLAIN credentials but no cert and specify HTTPS as the authentication algorithm:
[code]
I can't connect normally, however when I comment out this line: https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/client.rb#L546
It w

[2018-01-03 10:04] dasch commented on #515
Without a certificate, you'd have no way to guard against man-in-the-middle attacks. Can you contact Confluent support and hear why they don't give out their certificate?

[2018-01-03 10:07] dasch commented on #515
@tcrayford what's your take on this?

[2018-01-03 11:54] GeminPatel opened #517 "Each batch processed twice."
If this is a bug report, please fill out the following:

* Version of Ruby: 2.3.1
* Version of Kafka: 0.11.0.1
* Version of ruby-kafka: 0.4
* Version of racecar: 0.3.5

I am running a single batch consumer on a single broker kafka. There are 40k records in the topic so on the first batch fetch it is fetching around 11k records. Time taken in processing these records is 15-17 mins. And then when of

[2018-01-03 12:30] tcrayford commented on #515
@dasch It could be fine if they're using a certificate that's already in the OS' trust store, but if not, it's ripe for MITM.

[2018-01-03 12:33] dasch commented on #517
It's very unlikely that your consumer is still in the group after 15-17 minutes of processing time – I don't think Kafka allows more than 30 seconds of "away time".

I would either switch to single-message processing or ensure that batches are small enough that they can be processed in under 30 seconds.

[2018-01-03 12:34] dasch commented on #517
Also, you should upgrade to the most recent release of ruby-kafka.

[2018-01-03 12:35] dasch commented on #515
It's pretty unlikely that Confluent has a cert in the OS cert store...

@bradurani try contacting Confluent support first – you can point them here.

[2018-01-03 12:36] tcrayford commented on #515
@dasch it seems entirely possible if they use letsencrypt or a wildcard cert

[2018-01-03 12:37] GeminPatel commented on #517
@dasch '~> 0.4' is in racers gemspec.
For Doing small batch I am unable to find a way to configure this. Max I could find was, I would stop using racers and use ruby-kafka directly and specify the max_bytes to something lesser. What do you suggest?

[2018-01-03 12:44] dasch commented on #517
@GeminPatel you should still be able to upgrade ruby-kafka to 0.5.1 even with that constraint.

It's not documented in the README, but the code docs describe how you can limit the size of the returned batches on a per-partition level: https://github.com/zendesk/racecar/blob/437cb7e38349837f97bf46a65ae6e72b9648788c/lib/racecar/consumer.rb#L17-L18

[2018-01-03 12:44] dasch commented on #517
Note that if you use `#process` instead of `#process_batch`, your consumer will checkpoint more frequently and you won't run into this problem. Do you really need batch processing?

[2018-01-03 12:45] dasch commented on #515
Hmm.

[2018-01-03 12:45] GeminPatel commented on #517
This also happens on single message processing by the way. But the circumstances are a bit different. I was able to observer it on an older version of racecar where pause config was not present. Even in current version, if u specify pause as 0 you can reproduce this.

Scenario: message processing should break due to raise. What is expected is that this message is retried only once. But this messag

[2018-01-03 12:47] dasch commented on #517
The expectation is not that a message is retried once – it is retried indefinitely.

[2018-01-03 12:50] GeminPatel commented on #517
I had seen this, but missed it. Thanks for pointing out.
https://github.com/zendesk/racecar/blob/437cb7e38349837f97bf46a65ae6e72b9648788c/lib/racecar/consumer.rb#L17-L18

"The expectation is not that a message is retried once – it is retried indefinitely."
Let me rephrase. 1st time failure -> expect to retry. It is tried and it is success. Still it is processed for third time.

Yeah I wanted to ba

[2018-01-03 12:53] dasch commented on #517
Are you using batch operations, or processing each message individually? The single-message processing mode still uses batching under the hood, it just makes sure to handle checkpointing in between message processing as per the offset commit policy (e.g. commit every _n_ seconds or after _n_ messages). It's typically what you want.

[2018-01-03 12:57] GeminPatel commented on #517
Ok. This makes things much clear. I will try and follow on what I have understood.

PS: I will put a code and log in sometime which will reproduce the bug I mentioned for single-message processing(#process) with pause 0.

[2018-01-03 13:17] GeminPatel commented on #517
Config:
[code]

Consumer Code:
[code]

Run the code using:
`bundle exec racecar IssueConsumer --log issue_consumer.log`

STDOUT:
[code]

 issue_consumer.log
[code]

[2018-01-03 13:38] dasch commented on #517
I think https://github.com/zendesk/ruby-kafka/pull/518 will fix that problem. Can you try pinning your version of ruby-kafka to that commit and then test again?

[code]

[2018-01-03 17:27] bradurani commented on #515
After some research, I think I need to find the ca cert used to sign the confluent domain on my local os. Thanks!

[2018-01-03 17:27] #515 closed

[2018-01-04 06:10] GeminPatel commented on #517
Yes this fixes it.

[2018-01-04 09:24] dasch commented on #517
Fixed by #518.

[2018-01-04 09:24] #517 closed

[2018-01-04 18:28] rishijain opened #520 "integration with storm"
Hi,
Anyone have integrated kafka with storm in ruby? Or java is the only realistic operation. I understand this library is pretty awesome working with kafka alone. And Storm also have support for ruby independently. But when it comes to creating toplogies of kafka - storm, I could not find any documentation for ruby. Anyone have any ideas on this?

Thanks

[2018-01-09 10:05] dasch commented on #444
@mensfeld is this still the case on `master`?

[2018-01-09 10:17] mensfeld commented on #444
@dasch yes:

[code]

[2018-01-09 10:23] dasch commented on #444
Hmm.

[2018-01-09 11:24] mensfeld commented on #444
@dasch - sorry had conflicts and didn't notice, that my fork didn't get synced. Fixed.

[2018-01-09 11:24] #444 closed

[2018-01-09 13:46] dasch commented on #444
🎉

[2018-01-10 22:53] jturkel opened #525 "Confusing behavior when consumers in the same group subscribe to different topics"
* Version of Ruby: 2.3.4
* Version of Kafka: 10.2.1
* Version of ruby-kafka: 0.5.2

When a consumer joins a consumer group, it is only assigned partitions in topics the leader has subscribed to. This leads to the following behavior:

* The consumer won't receive any messages on topics it has subscribed to but the leader hasn't subscribed to
* The consumer will cause reads to stall in partitions in

[2018-01-11 10:48] dasch commented on #525
When would you want to consumers in the same group to subscribe to different topics? Doesn't that defeat the entire idea of groups?

[2018-01-11 14:51] jturkel commented on #525
I can't think of a good reason for having consumers in the same group that subscribe to different topics. We did it by accident due to a configuration error so I would be fine with ruby-kafka explicitly disallowing this configuration. That said I'm not sure if the official Java Kafka client supports this configuration. The most relevant part of the doc I could find is [this](https://kafka.apache.o

[2018-01-11 15:00] dasch commented on #525
I'm not sure if doing what you're proposing – only subscribing to topics that the consumer specified – solves the actual problem here, which is that you're running two different "versions" in the same group for a prolonged period of time.

[2018-01-11 18:13] #520 closed

[2018-01-12 02:23] jturkel commented on #525
Can you elaborate on what you mean by different "versions"? Are you referring to consumers in the same consumer group that are doing different things with the message they receive?

[2018-01-12 10:55] dasch commented on #525
@jturkel yup.

[2018-01-12 14:26] jturkel commented on #525
It shouldn't be a problem if the two different types of consumers that share a consumer group are listening on a disjoint set of topics. The two different types of consumers are performing different kinds of logic but they're doing it on messages from different topics. I'm still not sure why you'd ever want that setup though :) I guess you could end up in a similar scenario temporarily if you're c

[2018-01-12 14:29] dasch commented on #525
I'd need a concrete use case in order to support something like that. Closing this for now.

[2018-01-12 14:29] #525 closed

[2018-01-12 14:42] jturkel commented on #525
To be clear I'm fine with ruby-kafka not supporting this setup. We got ourselves into by accident and I don't think there's a compelling use case for it. The thing feels problematic was our two different types of listeners were happily running without any errors to indicate there was a problem so we stopped reading from certain topic partitions for an extended period of time (definitely a gap in o

[2018-01-12 14:44] dasch commented on #525
The only way I think it could work is if each consumer passed a digest of its own source code when joining the group (in the user data segment) and the chosen leader then verified they were all identical before assigning partitions. But that still seems messy, and I'm not sure how to do it.

[2018-01-12 14:52] jturkel commented on #525
Could we detect the problem in `Kafka::Consumer#join_group` since we know the topics that consumer has subscribed to and the partitions assigned by the consumer group leader?

[2018-01-12 15:02] dasch commented on #525
I'm not quite sure.

[2018-01-19 15:38] dasch opened #527 "Add property tests"
For the consumer:

* Messages are processed in-order.
* There are no missing messages.
* There are no duplicate messages under normal operation.

[2018-01-23 00:58] spectorar opened #532 "Kafka 1.0 Support"
I know that it's not listed in the compatibility matrix but I'm curious if there is any known usage of this library with a Kafka 1.0. We wouldn't necessarily need new features but we are upgrading our cluster from 0.8.x and want to take it as far as possible. Is there any known successful usage of the client with Kafka 1.0? Is official support on the roadmap?

[2018-01-24 11:45] dasch commented on #532
We run the integration test suite against Kafka 1.0, so things should work as expected. I've updated the matrix to document that.

[2018-01-24 11:45] #532 closed

[2018-01-25 00:52] spectorar commented on #532
Thanks!

[2018-02-06 22:54] bellemare commented on #525
While not a critical issue, this is something that has affected us in our application development.

A very reasonable use-case would be that an application is consuming two topics: Event data and Entity Data. For instance, lets say we are a company that bills our partners on how much traffic we drive to their site. For each unique user we drive there, we record the event as an "Engagements" event.

[2018-02-07 01:03] felixzh2015 opened #539 "Send exception occurred: data error"
If this is a bug report, please fill out the following:

* Version of Ruby:
ruby-2.4.0
* Version of Kafka:
0.10.2
* Version of ruby-kafka:
0.4.0
* Version of flunetd:
0.14.20
* Version of flunet-plugin-kafka:
0.6.0
* Version of OS:
centos in docker

Hello, when I use fluentd(https://github.com/fluent/fluentd)'s  fluent-plugin-kafka(https://github.com/fluent/fluent-plugin-kafka) , I produce message

[2018-02-07 09:58] dasch commented on #525
@bellemare in your example it sounds to me like you'd want _one_ consumer that subscribes to multiple topics, and does different things based on which topic a message came from, e.g.

[code]

I'm not trying to make ruby-kafka align perfectly with the Java library, but rather to create a library that is simpler and more approachable to Ruby devs. Sometimes that means not supporting esoteric use cas

[2018-02-07 10:00] mensfeld commented on #525
@bellemare also worth pointing out, that if you need to somehow make them dependent on one another, you can use manual offset management to achieve that - ruby-kafka supports that.

[2018-02-08 12:41] dasch commented on #539
1) This probably belongs in the fluentd error tracker.
2) Can you see what the original exception class was?
3) Start by upgrading to ruby-kafka v0.4.4.

[2018-02-16 10:45] #539 closed

[2018-02-20 16:57] fxn opened #542 "Q: One partition, many consumers"
Asking here as per the README instructions.

I need to consume a topic that has one partition and I am trying to understand two scenarios in which the same consumer group could have two consumers:

* Setting up two machines for high-availability.
* Coexistence of listeners in deployments of code updates without downtime.

I know that one consumer group normally has less consumers than partitions (

[2018-02-21 06:47] nguyenquangminh0711 commented on #542
Hi @fxn,

The behaviors of your consumers are totally normal and intentional. By the design, each partition of a topic is exclusively consumed by a consumer; and a partition could not be shared between many partitions. This design ensures the consuming order of the same partition. The consumer group must respect this principle when they decide the group assignment. Therefore, when the number of co

[2018-02-21 08:16] fxn commented on #542
Awesome reply!

Let me try to understand the impact of extra consumers in the client-side. Let's say we have one partition, one active consumer, and you launch three extra machines, each one with one consumer for that same consumer group.

Are those three extra consumers able to join the consumer group and then `poll` but receive no messages? If yes, is that `poll` call just bloking for `poll.ms`

[2018-02-21 08:44] dasch commented on #542
Actually, fetching is not part of the consumer group API. Rather, the periodic heartbeat request that each consumer is required to send back to the group's controller broker is used to notify the consumers that a new "generation" of the group has been created, and that they need to rejoin, which will trigger another round of partition assignment. It's correct that this is done by the consumers the

[2018-02-21 08:52] fxn commented on #542
@dash and the heartbeats of the idle consumers would trigger rebalances causing an overhead? Guess not, but let me confirm :).

[2018-02-21 08:54] dasch commented on #542
There is only a rebalance, i.e. a new group generation (which leads to new assignments), if a group member comes or goes. So if one of the idle consumers fails to send in a heartbeat you'd get a rebalance. But that shouldn't happen – they send in heartbeats even when idle.

[2018-02-21 08:54] dasch commented on #542
You definitely want to avoid having consumer come and go often – stability is key to performance.

[2018-02-21 09:09] fxn commented on #542
@dasch don't know technically if heartbeats count for `max.poll.interval.ms`. Would the idle consumers be kicked out after that interval and trigger a rebalance?

[2018-02-21 09:14] dasch commented on #542
I _think_ that config is only used in the Java client, and thus not enforced by the brokers.

[2018-02-21 09:15] dasch commented on #542
That is, if the Java client library doesn't get a `poll` call within that interval, it assumes that the user of the client is blocked or dead and proactively leaves the group.

[2018-02-21 09:18] nguyenquangminh0711 commented on #542
It is true that that option is for [Java client](https://github.com/apache/kafka/blob/75df8cc77adc61746b3abd0e48d2c7a343e805f6/clients/src/main/java/org/apache/kafka/clients/consumer/KafkaConsumer.java#L170) only. The broker doesn't have this config.

[2018-02-21 11:56] fxn commented on #542
So the conclusion seems to be that this approach is technically sound. This topic doesn't have enough volume to justify several partitions for scalability purposes. If we don't need them either for the use cases above, then one partition is simpler.

Guys this help has been extraordinary, gotta have a beer if we ever meet in a conference. Thanks very much! ❤️

[2018-02-21 11:56] #542 closed

[2018-02-21 12:26] dasch commented on #542
No problem, let me know if you run into any issues 😄

[2018-03-02 09:27] #527 closed

[2018-03-02 09:28] #474 closed

[2018-03-02 09:28] #503 closed

[2018-03-02 09:29] dasch commented on #503
Closing due to a lack of activity. Please open a new issue if this is still a problem.

[2018-03-12 07:40] mensfeld opened #546 "Kafka streams support?"
We are interested in using kafka streaming.
Is it on the road map for zendesk kafka ruby library?

[2018-03-13 09:49] mensfeld commented on #546
I guess it would require a separate api BUT do you think it would be suitable to combine it within this library? I could take a look into some concepts but wanted to ask before whether it is (from your perspective) feasible to add it here or to build a ruby-kafka-streams or something.

[2018-03-13 10:49] dasch commented on #546
I don't think it belongs in ruby-kafka, at the very least. I also think it's a stretch to build such a thing in Ruby, without quite a few resources. There are a _ton_ of edge cases you'll have to deal with once you get into windows, aggregations, state management, etc. But if you're up to it, :+1:. Note that some of the advanced protocol features that underlie Kafka Streams aren't yet supported by

[2018-03-13 10:54] mensfeld commented on #546
Though the same.

Not the first time I build something without them ;) Karafka wasn't different at the time (badly working poseidon without consumer groups and many more problems).

Rather none unless I encounter them for my own usecases ;)

Then at some point we will have to do something about that :)

Anyhow, got my answers. Closing, Thank you.

[2018-03-13 10:54] #546 closed

[2018-03-16 12:18] johntdyer commented on #414
@alexandrapersea  Now that a bit of time has passed is there any chance you guys might reconsider this ?

[2018-03-20 07:41] kunna commented on #515
I had same issue and it was solved by extract cert key from my local mac. and convert it to pem. thank you all.

https://www.digicert.com/ssl-support/p12-import-export-mac-server.htm

[2018-03-27 06:29] harsh-a1 opened #549 "Getting Connection error EOFError: EOFError"
Hi

We are trying to send data to kafka but are geting the following error:

Code :
[code]
It is working with a node library on the same machine same network but with ruby its throwing the error....sorry for the noob question but please if someone could give any idea as to what we are doing wrong...thanks

ruby-kafka: 0.5.4
rails (5.0.4)
Bundler version 1.16.1
Ruby version 2.4.1
kafka version : 0.

[2018-03-27 08:03] mensfeld commented on #549
Hey @harsh-a1, did you try one of the higher level libraries for producing and/or consuming like [karafka](https://github.com/karafka/karafka) or [racecar](https://github.com/zendesk/racecar)? The reason I'm asking is that they contain some validations that would ensure that what you are doing is right. If your node code works, than the ruby code should work as well. Also this port does not look l

[2018-03-27 12:49] harsh-a1 commented on #549
Yes it worked, we were using the wrong port, changing to kafka one did it..thanks

[2018-03-27 12:49] #549 closed

[2018-03-30 20:20] wkechel opened #551 "Which limitations will I face when using ruby-kafka with kafka 1.1.0?"
This is a question, not a bug report.

* Version of Ruby: 2.4.x+
* Version of Kafka: 1.1.0
* Version of ruby-kafka:

[2018-03-31 07:06] nguyenquangminh0711 commented on #551
Hi @wkechel, the current version of ruby-kafka is developed based on Kafka 0.10.0. The newer versions of Kafka still work thanks to the awesome backward compatibility; however, all the new features after the version 0.10.0 are not available. Some of them are new record batch format, transactions, exactly-one delivery, etc.

[2018-03-31 09:45] tmattia opened #552 "Consumer#pause doesn't pause processing fetched messages"
If this is a bug report, please fill out the following:

* Version of Ruby: 2.4.2
* Version of Kafka: 0.11.0.1
* Version of ruby-kafka: 0.5.4

Please verify that the problem you're seeing hasn't been fixed by the current `master` of ruby-kafka.

###### Steps to reproduce

[code]

###### Expected outcome

I would expect it process the first message from the topic and immediately stop, not continue

[2018-04-02 11:39] costa commented on #346
FYI, I've seen this issue again, `MessageSizeTooLarge` breaks async producer. Not sure if this the desired behaviour, but worth noting that currently this potential issue should be prevented by a-priori validity checks.

[2018-04-02 11:41] mensfeld commented on #346
@costa I believe @dasch said it couple of times in relation to other issues - your input data should be prevalidated by you (or any higher level library).

[2018-04-02 15:14] benjaminoakes commented on #552
I `git-bisect`ed this and got:

[code]

This line is of particular interest, as commenting it out _seems_ to give the retry behavior we want: https://github.com/zendesk/ruby-kafka/blob/b4911aced5b3455b93167ad7952bbffce488d476/lib/kafka/consumer.rb#L214

[2018-04-02 21:27] bradurani opened #554 "Offset is getting reset."
* Version of Ruby: 2.5
* Version of Kafka: 1.0.0
* Version of ruby-kafka: 0.5.3
* Compression: gzip
* Partitions: 12

In production, I occasionaly see the offsets for all partitions in a topic take a precipitous nose dive:
![image](https://user-images.githubusercontent.com/4195952/38216975-64996726-3681-11e8-979f-ed45559b7d4c.png)
These always occur during flurries of group join and group sync eve

[2018-04-03 15:26] Elyahou opened #555 "Consumer get stucked in compacted topic"
When replaying a compacted topic, with 20 partitions, the consumer get stucked in 5 partitions at some offsets, and don't succeed to read any more messages. All the other partitions were successully replayed...

I succeeded to fix this by manually increasing the consumer group offset for the problematic partitions, after I saw that it was stucked in an offset that was compacted and there was no me

[2018-04-04 13:14] dasch commented on #346
The problem is that "too large" depends on the broker config. By sending messages asynchronously, it's very hard to tell the producer until it's too late.

[2018-04-04 14:41] dasch commented on #554
👍 let's hope it's already fixed.

[2018-04-04 14:44] dasch commented on #555
Good job reproducing the bug – it sounds like it's related to how fetches work when asking for messages at a starting offset that no longer exists. It used to be that the Kafka would just start at the next existing offset, but that may have changed. Would you be willing to dive into the Java client source and see how they handle this?

[2018-04-04 14:50] dasch commented on #552
So... the intended use case here is this:

[code]

Would this pattern not work for you? It's cheaper to only check the pause status of a partition before processing the entire batch rather than before each message.

[2018-04-04 14:57] Elyahou commented on #555
I am not sure it is the issue, because in the case I reset the consumer to offset 2 in the precedent example, the consumer will receive only message 2 and 3, and will not receive further messages... So it is not only an issue when the fetch operation is on an empty offset

[2018-04-04 16:39] dasch commented on #555
It could be a problem with the next offset computation – that's rather complicated.

[2018-04-04 16:39] dasch commented on #555
Would you be willing to `bundle open ruby-kafka` and sprinkle debug statements into the code?

[2018-04-04 16:46] tmattia commented on #552
@dasch unfortunately we're pretty committed to the example code in this issue, it's a simplification of the code we use on our internal library to consume events from kafka. It's quite similar to zendesk's Racecar, but takes care of a few other things like connecting to a schema registry and adds some error handling strategies, including pausing partitions.

I haven't ran performance tests on this

[2018-04-04 17:41] Elyahou commented on #555
@dasch Yes of course I can

[2018-04-04 19:34] raulvc opened #559 "Updating a topic's configuration"
Is it possible to use this lib to alter an existing topic's configuration (like retention and segment size)?

If not, my proposal is to (if at all possible concerning the current kafka API) have a *create_or_update* or a flag allowing configuration to be overridden in *create* (currently fails due to existing topic exception)

[2018-04-04 20:37] Elyahou commented on #555
I continued my analysis of this issue, I think I maybe understood it...

Kafka new format is RecordBatch and if this batch is compacted entirely, it will still be returned to the consumer with lastOffsetDelta field, that will allow the consumer to increment its offset to get next messages...

When using old consumer like we do with ruby-kafka, this batch is converted to old format before being ret

[2018-04-05 08:52] dasch commented on #552
Exceptions should be exceptional, so it's probably better to pay that price seldomly rather than pay a lower price constantly.

[2018-04-05 08:56] dasch commented on #559
[Kafka::Client](http://www.rubydoc.info/gems/ruby-kafka/Kafka/Client) has a method for updating the partition count of a topic: `#create_partitions_for`. Other than that, there's currently no support for updating a topic's config. I'd be open to a PR that implements e.g. `#alter_topic` using the [AlterConfigs API](https://kafka.apache.org/protocol#The_Messages_AlterConfigs).

[2018-04-05 08:58] dasch commented on #555
_sigh_

The Kafka protocol is getting increasingly complex... Surely the brokers provide backwards compatibility guarantees for old Java clients?

[2018-04-05 09:31] nguyenquangminh0711 commented on #559
Hi @dasch and @raulvc , I'm in the mid way of that Alter Configs API implementation and hasn't finished yet. It would be ready in some days and I'll open a pull request then.

[2018-04-05 09:40] dasch commented on #559
❤️

[2018-04-09 11:16] klippx commented on #554
@bradurani any updates on this?

[2018-04-09 13:24] costa opened #560 "async producer crash"
If this is a bug report, please fill out the following:

* Version of Ruby: jruby 9.1.8.0 (2.3.1)
* Version of Kafka: 0.11.0.1 (landoop/fast-data-dev)
* Version of ruby-kafka: 0.5.4

Please verify that the problem you're seeing hasn't been fixed by the current `master` of ruby-kafka.

I'm sorry, I haven't done that.

###### Steps to reproduce

I'm not sure, it just happens in the middle of the ser

[2018-04-09 21:26] bradurani commented on #554
Yes, it happened again this weekend:
![image](https://user-images.githubusercontent.com/4195952/38521517-c7c334d4-3bfa-11e8-96f2-84a1be8af3e1.png)
I'm trying to make sense of the numbers here but I can't. Total lag across all partitions was about 30m
![image](https://user-images.githubusercontent.com/4195952/38521571-f4bef37e-3bfa-11e8-8da7-7ea68b8498c2.png)
But that only represents about 2.5 days

[2018-04-10 21:14] rhinon opened #561 "Error committing offsets: Kafka::UnknownMemberId potentially threading related"
Not a bug report, looking for some direction on debugging this issue we're seeing. I don't believe this to be a bug in ruby-kafka.

* Version of Ruby: `2.2.3`
* Version of Kafka: `0.10.2.0`
* Version of ruby-kafka: `0.3.16`

###### Basic outline of what we do

[code]

###### Context

As you can see above, we use ruby-kafka to do some basic consumption of messages. `#process_message` processes mess

[2018-04-11 12:15] dasch commented on #560
I haven't tested ruby-kafka with JRuby – you may be better off using the Java library.

[2018-04-11 12:17] dasch commented on #561
Please start by updating to the most recent version of ruby-kafka. UnknownMemberId typically means that the consumer has been kicked out of the group because it hasn't sent a heartbeat in a while, so it could be due to your `process_message` method taking too long. But start by upgrading the gem.

[2018-04-12 01:50] bradurani commented on #554
What's your intuition on this one? Is it possible it's a bug in the gem related to compressed batches? I can't think of another way to explain it

[2018-04-12 09:07] dasch commented on #554
Are you still seeing invalid offset errors in the logs? Would you be able to enable debug logging and see which offset was being requested?

An invalid offset error is returned by the broker if the client asks for an "invalid" offset – to my knowledge, that can only be an offset that is larger than the largest offset in the partition, so it sounds like offsets are being computed incorrectly. It _c

[2018-04-12 09:54] dasch commented on #554
I've introduced improved logging in the `v0.5-stable` branch – if you point your Gemfile at that you should be able to see the offset that caused the problem.

[2018-04-12 18:18] bradurani commented on #554
Ok, I've been able to get more visibility. Here's an example log sequence:
[code]
I don't see any `OffsetOutOfRange` errors

I haven't received `ERROR -- : Invalid offset for ` since I upgraded to 0.5.4

[2018-04-13 11:45] dasch commented on #554
OK. Add a comment if you do see it happen again.

[2018-04-13 15:41] bradurani commented on #554
@dasch thing is even without `ERROR -- : Invalid offset for` messages, I'm still seeing these huge offset drops. Just today, this is what I got:
![image](https://user-images.githubusercontent.com/4195952/38744320-568ca44a-3ef6-11e8-844a-8493cadc14d5.png)
I don't understand what causes the offset to drop like that. Any ideas?

[2018-04-16 09:24] bdusauso opened #564 "EOFError when reading response from server"
* Version of Ruby: 2.4.3 (tested on 2.5.1 as well, same issue) coming from rbenv
* Version of Kafka: 0.11.0.2 (hosted on CloudKarafka. Port number is 9094)
* Version of ruby-kafka: 0.5.5 (tested on 0.6.0beta1, same issue)
* OS version: MacOS 10.13.4

#### Steps to reproduce

[code]
#### Expected outcome

The message should be sent to the topic "myexample-test"

#### Actual outcome

An EOFError has

[2018-04-16 10:38] dasch commented on #554
@bradurani you're sure there aren't two groups reporting those metrics? I've made that mistake in the past, not separating metrics from two different data centers.

[2018-04-16 10:41] dasch commented on #564
I think you need to enable SSL as well: https://github.com/zendesk/ruby-kafka#encryption-and-authentication-using-ssl. That may be implicitly done in rdkafka, but it has to be explicitly enabled in ruby-kafka.

[2018-04-17 09:45] dasch commented on #554
😂

[2018-04-17 09:45] #554 closed

[2018-04-17 09:47] dasch commented on #564
@snichme even then, the user needs to pass in a certificate or allow system certs. So it would be better if the SASL code ensured that SSL was enabled, raising an exception otherwise.

[2018-04-17 10:39] snichme commented on #564
Okay, sounds good to me.
Please, just add a note to that on the README, that you have to say which cert to use.

[2018-04-17 10:47] #564 closed

[2018-04-17 10:48] #551 closed

[2018-04-17 12:51] costa commented on #560
@dasch Thanks, do you have any leads for that? `jruby-kafka` is dead for some reason, unfortunately.

[2018-04-17 13:03] mensfeld commented on #346
@costa you would be better going with a more abstract library that handles validations for you (although not sure if any handles this type of validation as well but would be much easier to add it). Try looking into https://github.com/zendesk/delivery_boy for sending messages and into https://github.com/karafka/karafka or https://github.com/zendesk/racecar for reading.

[2018-04-18 09:12] dasch commented on #560
Is there no way to use the JVM library directly from JRuby?

[2018-04-18 09:15] dasch commented on #346
Seeing as this is a recurring problem, it might make sense to allow configuring ruby-kafka with a max message size, having it reject messages that are larger before even sending to Kafka. Furthermore, that would allow us to avoid creating too large batches, if that is truly a problem.

[2018-04-18 09:15] dasch opened #567 "Allow setting a max message size for Producer"
* Avoid situations where a message is rejected by the broker and stuck in a buffer.
* Make sure not to create too large message batches.

[2018-04-18 15:58] nguyenquangminh0711 commented on #567
I used to got this error in production. My solution is to fetch `max.message.bytes` via `client#describe_topic` and reject new messages if a message size exceeds this threshold or the whole batch exceed this threshold. This method would be more accurate than using the user setting because there could be a mismatch between user settings and actual configuration in Kafka clusters, especially when th

[2018-04-18 16:12] dasch commented on #567
Good point.

[2018-04-18 18:33] rgaufman opened #568 "Persistent offline producer cache?"
This is more of a question than an issue. If the device is offline for an extended period of time, is there some strategy in ruby-kafka to store the messages locally until the connection is restored and they can be sent to the broker?

What about if the process is killed, is there any way to have a persistent store of these pending messages to be sent when the connection is restored?

[2018-04-19 08:49] nguyenquangminh0711 commented on #568
@rgaufman ruby-kafka uses an internal buffer to store the messages you pass into producer. There aren't any strategy to persist those messages. When a devise is offline and the process is still alive, ruby-kafka keeps retrying until the connection is back. In that period, if the process is killed, it is unfortunate that all messages will be lost.

The message persistence could be done, but at a hi

[2018-04-19 09:53] dasch commented on #568
ruby-kafka doesn't offer anything out of the box, but as @nguyenquangminh0711 says, you can built something yourself. For local disk persistence, this could work:

[code]

[2018-04-19 14:14] dasch commented on #559
Fixed by #569.

[2018-04-19 14:14] #559 closed

[2018-04-25 14:03] lizcschwartz-gas commented on #525
@dasch I believe that our application has a valid use case for ruby-kafka to support this feature. Our application processes requests from many different hosts. Application sends each request to a different kafka topic based on host it receives request from. Some of the hosts are more important than others, so they get a consumer that listens just on that topic, whereas, some of the hosts share a

[2018-04-25 14:11] dasch commented on #525
@lizcschwartz-gas there's nothing prohibiting you from running the same code base with different configurations, e.g.

[code]

Then have _n_ different configurations. This will allow you to monitor these processes separately.

[2018-04-25 14:49] lizcschwartz-gas commented on #525
@dasch - Yes, there is currently a way to code around it, but, ideally, it should be the same group id as it is the same code performing the same function. By having separate group ids, another level of design/implementation is added as there will have to be a process that generates/monitors all the various group ids.

[2018-04-26 09:41] klippx opened #572 "Roadmap 0.11 support"
At our company we have started the upgrade to Kafka 0.11 in our clusters, and in the future (soon?) they want to bump the message format as well.

I think it would be nice to hear your plans for supporting 0.11 (and eventually even 1.0). I have a suggestion: would it not be cool to create projects 0.11 and 1.0? I am talking about https://github.com/zendesk/ruby-kafka/projects
- We get a structure

[2018-04-26 10:47] dasch commented on #572
Good idea – I'll create projects for 0.11 and 1.0. Note, however, that fully supporting 0.11 would take a very big effort. You can use ruby-kafka with Kafka 0.11 even if it doesn't support the on-disk format, it just means that the brokers have to translate back to the 0.10 format on the fly.

[2018-04-26 10:50] dasch opened #573 "Support Transaction API"
https://www.confluent.io/blog/transactions-apache-kafka/

[2018-04-26 11:05] dasch commented on #525
There's no requirement that group id map directly to code base. If you use e.g. Kubernetes, you can define _n_ different Deployments, each pointing to the same image but with different config.

Basically: this problem is not widespread enough to warrant adding support for it, and especially for maintaining that support and complexity.

[2018-04-27 07:04] nguyenquangminh0711 commented on #573
This is the most informative and well-maintained document about transactions in Kakfa. Hope this would help: https://docs.google.com/document/d/11Jqy_GjUGtdXJK94XGsEIK7CP1SnQGdp2eF0wSw9ra8/edit#heading=h.7mkuz62dyql

[2018-05-02 15:38] thijsc commented on #572
Do let me know if hijacking this conversation is not ok, but: I've been working on a new wrapper gem around librdkafka. It has support for all the new 1.0 stuff. I'd love to get some feedback on it from everybody here.

https://github.com/appsignal/rdkafka-ruby

[2018-05-03 08:35] dasch commented on #572
:+1:

I'd be very interested in rdkafka-ruby if you can get it battle tested. Maintaining the network API and protocol code is a lot of work, and quite error prone.

[2018-05-03 08:41] kirs opened #578 "Interruptible consumer loop"
Consider this example:

[code]

In the example, I want to yield over `each_message` but for no longer than 60 seconds. The issue is that while there are no messages in the Kafka topic, the block to `each_message` would never be called. When the topic is empty, `each_message` would run forever, polling for messages in the topic.

For the context, I want `each_message` / `each_batch` to run for no l

[2018-05-03 08:42] kirs commented on #578
@dasch looking forward for your opinion :blush:

[2018-05-03 09:03] thijsc commented on #572
That was my thinking exactly. The amount of effort and attention to detail that goes into librdkafka is huge, it is extremely challenging to get to that level on a part-time basis.

We are currently using this gem in production at AppSignal with significant traffic already. Also some other companies use it. I plan to get to feature completeness the coming weeks, you can follow that here: https://g

[2018-05-03 09:41] dasch commented on #578
I think #369 provides a way to implement these kinds of scenarios without encumbering `each_*`.

[2018-05-03 09:44] thijsc commented on #572
By default it will use the C lib's partitioner on the key. You can override that manually by providing a partition when producing. `librdkafka` also has an option to provide a custom partitioner, haven't worked on that since we don't have that use case ourselves. How do you partition?

I've already spent quite a bit of time on making sure the API docs are nice. Any feedback or contributions are ap

[2018-05-03 10:00] dasch commented on #572
A typical use case is producing messages to a compacted topic where the key is significant. If you e.g. want to always write a set of related keys to the same partition, the partitioner cannot simply look at the key – you need to be able to specify that some messages belong on the same partition. Specifying the partition directly requires the producer to know ahead of time the number of partitions

[2018-05-03 10:06] kirs commented on #578
Thanks, I had no idea about #369.

[2018-05-03 10:06] #578 closed

[2018-05-04 20:22] dorner opened #580 "Crash with 0.6.1"
If this is a bug report, please fill out the following:

* Version of Ruby: 2.4.2
* Version of Kafka: 0.10.0
* Version of ruby-kafka: 0.6.1

I'm running Phobos and it auto-upgraded to 0.6.1 It looks like the frozen string literal that was added is causing issues:

[code]

[2018-05-05 19:04] bradurani opened #581 "Partition's Offsets Changes Depending on Consumer Host??"
* Version of Ruby: 2.5.0
* Version of Kafka: 1.0.0
* Version of ruby-kafka: 0.5.4

Shot in the dark here, every time I restart my consumers the offsets for each partition jump up and down:

<img width="617" alt="screen shot 2018-05-05 at 11 06 07 am" src="https://user-images.githubusercontent.com/4195952/39666644-c146f3e6-505b-11e8-8c16-03835aa9b58c.png">

I'm actually committing the offsets this

[2018-05-07 03:25] jl2005 commented on #539
I have same error

[code]

[2018-05-07 08:48] dasch commented on #539
Is there a way to get the ruby-kafka exception rather than the fluentd exception? Also, can you turn on debug logging for ruby-kafka?

[2018-05-07 08:54] dasch commented on #580
Thanks for the report, #584 should fix the problem.

[2018-05-07 09:01] dasch commented on #581
The consumer lag is the difference between the offset currently being processed and the "highwater mark" of the partition, i.e. the last offset in the partition. As such, it changes not only in response to messages being processed, but also to messages being produced to the end of the partition. As such, it's not always easy to understand what's going on.

I've started graphing the changes to the

[2018-05-07 09:02] #580 closed

[2018-05-11 07:59] costa commented on #560
@dasch there most probably is, it is just not as straightforward as one could hope it to be, i wish someone had time to revive jruby-kafka, it could be extremely useful (i didn't seem to find any other working gems either)

[2018-05-11 09:33] mensfeld opened #585 "Configurable fetcher max queue size"
Fetcher max queue size should be configurable to allow better tuning of performance vs memory consumption.

[2018-05-11 09:40] #585 closed

[2018-05-11 21:35] stephen-lazarionok opened #587 "Support a custom SASL authentication mechanisms"
Are there any plans on adding support custom SASL mechanisms?

[2018-05-15 00:05] awseward opened #588 "Handling delivery errors with AsyncProducer?"
Based on https://github.com/zendesk/ruby-kafka#buffering-and-error-handling, it seems that if you wanted to log to an error reporting service, you could rescue `Kafka::DeliveryFailed` and do so there.

This is great for a synchronous producer, but how about when using an async producer? I poked around and didn't see any kind of error hook that could give a chance to get access to delivery errors.

[2018-05-15 07:55] mensfeld commented on #588
The passing of a producer to the async would be indeed a good idea. We would benefit from it as well.

[2018-05-17 03:41] DragWeb commented on #427
@dasch How did you resolve this problem?

[2018-05-17 08:01] mensfeld commented on #427
@DragWeb let me answer (hope @dasch don't mind): he didn't.

The issue was closed because you didn't provide any additional info, you didn't answer questions, you didn't try newer ruby-kafka versions and it seems to me, that he answered that issue report correctly.

[2018-05-17 11:47] dasch commented on #588
Is the current level of instrumentation not enough? What do you need an exception for?

[2018-05-17 11:47] dasch commented on #588
Delivery errors are not exceptional, unfortunately.

[2018-05-17 11:48] dasch commented on #587
Not really. Why would you need a custom mechanism, and does Kafka even support that?

[2018-05-18 01:29] bradurani commented on #581
This hasn't occurred recently, I think we misdiagnosed this.

[2018-05-18 01:29] #581 closed

[2018-05-18 01:32] bradurani opened #589 "Resque and ruby-kafka Async?"
* Version of Ruby: 2.4.3
* Version of Kafka: 1.0.0
* Version of ruby-kafka: 0.5.4

Shot in the dark, has anyone successfully used the async producer with Resque? What was your initialization logic? We're trying to find a solution that allows Resque jobs to share a connection, but everything we've tried either causes lost messages, or we have to connect to the cluster in every job. Any help appreci

[2018-05-18 03:15] nguyenquangminh0711 commented on #589
Hi @bradurani, I'm using async producer with Sidekiq (25 threads, 1 shared async producer instance) and Puma (3 processes, 25 threads each process, 1 async producer instance per process). Everything works fine for me, there aren't any problems so far. Resque is different, it follows forking approach, which it forks a new process and handle the job in that. The AsyncProducer spawns two threads, 1 t

[2018-05-18 09:32] mensfeld commented on #588
@dasch I would appreciate that to build up a failvoer and persistence layers.

[2018-05-18 09:38] dasch commented on #588
In that case, I would very much appreciate it if you started out by building your own async producer based on a sync producer. The current async producer is _not_ designed with failover and persistence in mind, and I don't think I want to add those concerns. But if you read the code, it's actually not that complicated. Maybe a future based async producer?

[2018-05-18 13:27] dasch commented on #589
Yeah, I think a forking Resque configuration is the worst possible way to produce to Kafka. I'd investigate Sidekiq or non-forking Resque.

[2018-05-23 15:34] ruchivijaywargia commented on #218
consumer.stop does not seem to be working for me. Can you tell me how do I break the loop?

[2018-05-23 15:53] mensfeld commented on #218
@ruchivijaywargia kill it.

[2018-05-24 18:31] nguyenquangminh0711 commented on #589
Hi @bradurani,

I'm not sure whether you still follow this topic or not. I had a look at the problem you are facing. To sum up, I don't think the async producer is the best choice for your use case.

As I mentioned above, AsyncProducer creates two threads and use a `Queue` object as the communication queue between those threads. When you creates an instance of AsyncProducer in main Resque process

[2018-05-24 19:18] bradurani commented on #589
Thanks @nguyenquangminh0711 !

Thanks for the clear explanation! We experimented with this quite a bit and came to the same conclusion you did, though without the same depth of understanding you've given us here. We're currently running about 13m Sidekiq jobs and 750k Resque jobs a day. The solution we came up with is that anytime we want to enqueue something in Kafka from Resque, we create a Side

[2018-05-24 19:18] #589 closed

[2018-05-28 20:11] filiptepper commented on #561
It's not related to threading - it's `process_message` taking too long.

What would be extremely useful is some kind of notice / log that a consumer has been kicked out of group.

[2018-05-30 20:34] stouset commented on #561
Jumping in on this because it took me forever to diagnose this issue for where I work.

If you process a batch of messages, and processing takes longer than the `session_timeout` for the consumer group, your client will time out from the group and the work will be assigned to another consumer. When the current consumes checks back in, it will be told (via `UnknownMemberId`) that it was assumed to

[2018-05-31 06:02] bradurani opened #592 "Offsets drop during partition rebalance"
* Version of Ruby: 2.5.0
* Version of Kafka: 0.11.02, but I've also experience this on 1.0
* Version of ruby-kafka: 0.5.5

I've reported this before but haven't had enough logging or understanding to fully explain. This time I have more detail and a log file to share.

**Problem:**

When network errors occur and consumers can't be reached, the consumer group rebalances the partitions and when that

[2018-05-31 08:02] dasch commented on #561
@stouset thanks for the writeup. As for sending heartbeats in a background thread – the Java library does something like this, although there's still a strict timeout on processing code in order to guard against that code being stuck. I'd be open to something like this, but would like to stabilize the v0.7 series first.

[2018-05-31 11:55] dasch commented on #592
This looks like a bug.

[2018-05-31 18:38] bradurani commented on #592
I just deployed these consumers and it happened again. Interestingly, I have 3 consumer groups running. The log file I attached above is filtered to just one of the consumer groups. The others 2 did not experience this bug. Now, when I deployed again, the bug only affected partitions in the same consumer group (new_new_relic_production). It's like once a consumer groups gets fouled, it's permanent

[2018-05-31 18:57] stouset commented on #561
Sure thing. For an immediate improvement,I'd put up a big bold warning that processing a batch should not take more time than `heartbeat_interval` and must not take longer than `session_timeout` (and document what the defaults for those values are), or you run the risk of consumers stepping over one-another.

Medium-term, I'd have the `each` method actually process behind-the-scenes in batches (ro

[2018-06-01 07:10] klippx commented on #561
One thing I really recommend for anyone running consumers is getting
metrics and monitoring up.

If you would use Phobos this is practically free:
https://github.com/phobos/phobos_prometheus

But anyone can set something similar up in any framework.

Then you would see when batch processing takes too long and could also set
up alarms for it 🚨
tors 31 maj 2018 kl. 20:57 skrev Stephen Touset <notifi

[2018-06-01 20:10] stouset commented on #561
Agreed, but for what it's worth we had metrics around a lot of this and could see that the cluster was ground to a halt, but it still took us ages to diagnose the underlying problem. Hopefully my writeup helps others who were in our situation!

[2018-06-04 08:37] dasch commented on #592
@bradurani I'm experiencing the same issue from time to time – it could be due to differences in throughput, with high throughput correlating with this issue.

I'll try to find time to look into it soon.

[2018-06-04 08:47] mensfeld commented on #592
@dasch we've experienced same issue so this seems like not an uncommon pattern. @bradurani for us that happened also when we didn't send heartbeat often enough and the  consumer got kicked out of the group.

[2018-06-04 09:17] dasch commented on #592
Can you try running against this branch and see if it helps? https://github.com/zendesk/ruby-kafka/pull/594

Also, try to record the logs.

[2018-06-04 15:22] marionzualo commented on #592
I've also been experiencing this issue in a new Kafka consumer/producer we've recently put in production.

I've observed this on ruby-kafka version `0.6.1`. I haven't seen this behaviour in other Kafka topics we have so given the other comments I've seen here it might be related to throughput.

This happens very often in this particular service after any deploy. For example: I've observed a worker

[2018-06-05 06:20] aiwantaozi opened #596 "Could not config ssl client cert key password"
most of ssl support for ssl_ca_cert, ssl_client_cert, ssl_client_cert_key, and ssl_client_cert_key_password, is there posible to support ssl_client_cert_key_password?

[2018-06-05 09:32] dasch commented on #596
Sure, can you create a PR?

[2018-06-05 09:32] #572 closed

[2018-06-11 19:15] GeminPatel opened #598 "log writing failed. can't be called from trap context"
When a racecar consumer is running and I send a SIGTERM to it. It prints the following:

[code]
Not always but sometimes.

I think this maybe because we can not use logger in signal handler https://bugs.ruby-lang.org/issues/7917, but ruby-kafka is doing this. If you follow trap signal handling by racecar you will finally land in a code in ruby-kafka that uses [logger.info](https://github.com/zende

[2018-06-11 19:34] mensfeld commented on #598
It's a common and known problem. You can bypass that by running logging inside of a thread for signal. This is dirty but works for 99.999% of cases.

[2018-06-11 19:34] mensfeld commented on #598
Also, this is racecar related not ruby-kafka. Could you please move it here: https://github.com/zendesk/racecar

[2018-06-11 19:41] GeminPatel commented on #598
@mensfeld  Do you think it is happening due to some my logging? I think it is due to @logger.info "Disconnecting broker #{id}" in the broker_pool class

[2018-06-11 19:45] mensfeld commented on #598
@GeminPatel yes but handling signals is not a part of ruby-kafka as it is "runtime environment" agnostic. It's a bug in racecar on how it handles trap context and what it does there with ruby-kafka client, not a ruby-kafka bug. Stacktrace not always points to the error source. I know that as I had similar problem with Karafka and managed to bypass that with spawning a new thread: https://github.co

[2018-06-11 19:50] GeminPatel commented on #598
@mensfeld: I created this here, because I thought that racecar is correctly using the APIs of ruby-kafka and because I thought that is is expected of the racecar [or some other wrapper on ruby-kafka] that eventually they will call this broker-pool close method in the trap. So I thought it is better that ruby-kafka handle this. But if you say I will create a ticket there as well. But because they r

[2018-06-11 19:54] mensfeld commented on #598
I don't think this should be fixed in ruby-kafka. Hope @dasch does not disagree with me on that. As I said, ruby Kafka is not context aware and provides a different layers in the Kafka processing stack than racecar (as well as other frameworks). This happens due to the way racecar handles ruby-kafka within trap context and due to instrumentation and logging that is used. Nonetheless it's still a r

[2018-06-11 20:01] GeminPatel commented on #598
@mensfeld given that logging mode for production is almost always info. And that racecar can never fix this issue 100% on its own without monkey patching or rewriting some classes. I don't know what other way there is to be sure that this does not occur. But I think thread is an workable approach if we really do not want to change ruby-kafka.

[2018-06-11 20:04] mensfeld commented on #598
Keep in mind, that the fact that trap occurs does not mean that the ruby-kafka client needs to receive the shutdown signal from within it. There are other patterns to handle that.

[2018-06-12 08:38] dasch commented on #598
Yeah, I think Racecar should ensure that the calls to ruby-kafka don't happen from a trap context. Can you open an issue on Racecar?

[2018-06-13 05:32] GeminPatel commented on #598
@dasch already did. I have ref it here as well.

[2018-06-13 05:36] GeminPatel opened #599 "Connection error while fetching messages: Connection error Errno::EBADF: Bad file descriptor"
Simply start a consumer. Lets say for the sake of simplicity that there is nothing to consumer. When I shutdown a consumer I get the following error in my logs.

D, [2018-06-13T11:01:18.380510 #23536] DEBUG -- : Closing socket to x.x.x.x:9092
D, [2018-06-13T11:01:18.380584 #23536] DEBUG -- : Closing socket to x.x.x.x:9092
E, [2018-06-13T11:01:18.380668 #23536] ERROR -- : Connection error while fet

[2018-06-13 05:37] GeminPatel commented on #599
Sorry I think this can be opened in racecar before. Although the error is generated in line in ruby-kafka. I will open it there. Closing here.

[2018-06-13 05:37] #599 closed

[2018-06-13 19:39] jwilm opened #600 "Idempotent message production?"
Kafka 0.11 introduced a feature for producers which allows messages to be added to a topic/partition idempotently. Is there support for this in the library already, or is there interest in supporting it?

Reference: https://www.confluent.io/blog/exactly-once-semantics-are-possible-heres-how-apache-kafka-does-it/

[2018-06-14 01:28] vanchi-zendesk opened #601 "0.6.x branch's latest change log need to reflect in master branch"
Looks like the changelog ended by 0.6.3, but 0.6.x has newer versions (and some very important fixes for offsets jumping back and forth)

[2018-06-14 16:22] #601 closed

[2018-06-16 16:41] nguyenquangminh0711 commented on #600
@jwilm The support of idempotent message production and transaction are not available yet. But it is already in the roadmap. Kafka version 0.11.0 brings a lot of features and changes on the table. It takes a lot of efforts to fully support everything in ruby-kafka. The new Kafka record batch has just been finished (https://github.com/zendesk/ruby-kafka/pull/548) and released in 0.7.x versions. Aft

[2018-06-18 10:13] andrewjamesbrown commented on #592
@dasch We ran into this issue with v0.6.7 again over the weekend 😿 so it looks like #595 doesn't fix the problem 100%.  Let us know if there's any information we can provide to help debug further.
cc @bai @maxboisvert

[2018-06-18 10:51] dasch commented on #592
@andrewjamesbrown I'd greatly appreciate some kind of deep debugging with extended logs – I don't have the time for that right now.

[2018-06-18 17:02] nguyenquangminh0711 commented on #592
@andrewjamesbrown Could you provide more information about this? And it would be great if you could provide some logs or code snippet to re-produce the problem?

[2018-06-19 15:55] film42 commented on #588
I think https://github.com/zendesk/ruby-kafka/pull/603 might solve your problem. You can now subscribe to async producer errors and forward them to your logging service.

[2018-06-19 16:01] film42 commented on #560
Just ran into this issue today as well. I also noticed that the perpetually growing until the process ran out of memory.

![image](https://user-images.githubusercontent.com/1043908/41609114-0be221bc-73b8-11e8-876f-91b73f39db24.png)

This was me printing out:
[code]

The max async queue size was set to 1000 at the time.

PS: I'm posting these as notes so we can make ruby-kafka work for jruby as wel

[2018-06-20 09:23] mmustala opened #605 "Producing messages when one broker is down"
Hi,

We recently had one of our brokers down because of a bug with the cached zkVersion. During that time our producer was not able to produce messages (at least to some partitions). Started to think should we use `required_acks: 1` to avoid similar issues in the future? Or should the producer be smart enough to realize that one broker is down and not waiting for ack from all replicas?

This also

[2018-06-21 11:20] mmustala commented on #605
We hadn't set that to anything, so it was at the default value.

The error message we received was:
[code]

[2018-06-21 11:30] dasch commented on #605
Ah, you're using the synchronous producer? In that case, you need to implement your own retries. I suggest using the async producer unless you really need synchronous behavior.

[2018-06-21 11:32] mmustala commented on #605
Yeah, we need synchronous because the order of our messages is very important. So, doesn't synchronous producer handle this scenario where one broker is down?

[2018-06-21 12:05] dasch commented on #605
Not directly – it flags its cluster info as stale, so the next attempt will re-fetch it (including new leadership info). But you may need to back off a bit and allow the cluster to recover first. So, rescue the exception, then sleep a bit, then try again.

The async producer does this automatically.

[2018-06-21 13:04] mmustala commented on #605
We were receiving those errors for an hour. So it really seem to require the full cluster to be healthy in order to produce, at least to those partitions that have one of its replicas on the broker that is down. I suppose. I just had an impression that using Kafka is much more error tolerant. I would have assumed that the cluster recognizes that one of us is down, let's cope with the rest of the s

[2018-06-21 15:14] dasch commented on #605
It's on the cluster to replicate messages – you may want to set e.g. `required_acks: 2` if you're okay with just 2 replicas.

BTW, you may want to keep the producer around instead of creating a new one each time. It's not very performant.

[2018-06-26 10:06] mainameiz opened #607 "Is it possible to limit total count of fetched messages"
Hello!

I faced the following situation.

- I have a topic with 12 partitions.
- Each partition contains ~100000 messages with 14 bytes per message (each message is just a small piece of text)
- Consumer group contains upto 4 consumers

The following happens - when consumers in consumer group is being started one by one, first started consumer becomes alone in a whole group. So all partitions are

[2018-06-26 11:05] mainameiz commented on #607
@nguyenquangminh0711 thanks a lot! It is definitely what I am looking for.

[2018-06-26 11:09] #607 closed

[2018-06-28 17:11] nguyenquangminh0711 commented on #600
It is a little bit late, but you can track the progress of this feature at https://github.com/zendesk/ruby-kafka/pull/608. It is expected to finish within next month.

[2018-07-02 10:22] ttamimi opened #610 "Cluster metadata not refreshed after a topic has been reassigned"
We were using `Kafka::Client#each_message` to consume from `__consumer_offsets` in order to report consumer lag. When we migrated the topic to a new set of brokers (as part of an upgrade), our script stopped receiving new offsets due to `Kafka::UnknownTopicOrPartition`. The script kept retrying and kept receiving the same error, because the cluster metadata is never refreshed in that situation.

T

[2018-07-03 07:12] stsc3000 opened #611 "Consumer seeks offsets from previously assigned partitions"
* Version of Ruby: 2.5.0p0
* Version of Kafka: 0.10.1.0
* Version of ruby-kafka: 0.6.7/master

Hi, I believe we have discovered an issue very similar to the one described in issue #347:

Upon rebalancing within our system, a consumer got assigned a partition that it was assigned previously.
When beginning to consume messages, it then used the offset it previously kept in memory for
the partition t

[2018-07-03 09:28] mmustala commented on #605
Our topics have replication factor 2, so I think we would need to use `required_acks: 1`.

[2018-07-03 13:32] klippx commented on #611
Great work! 👍🏼

Spontaneous thought: Can we make a test out of this and add it to the
suite? Sort of an integration test.
tis 3 juli 2018 kl. 09:12 skrev Steffen Schildknecht <
notifications@github.com>:

[2018-07-04 06:19] dasch commented on #610
Fixed by #609.

[2018-07-04 06:19] #610 closed

[2018-07-09 21:54] bradurani opened #617 "Consumer Retry Bug"
* Version of Ruby: 2.5.0
* Version of Kafka:
* Version of ruby-kafka: 0.6.6

[code]
In this scenario, the offset advances with every batch. It never retries messages that were not processed due to errors until you restart the consumers and they pick up at the last committed offset.
I was surprised by this behavior because I thought it would retry at the same offset until a message is marked as pro

[2018-07-15 16:15] dasch commented on #617
Yeah, that sounds like a gem. If you have time, it would be great if you could look into it.

[2018-07-17 14:56] Vachman commented on #552
@dasch current implementation of `pause` doesn’t make a lot of sense for us too, because every time when we want to pause consumption from topic we need to raise an exception which will break `each_message` which will rebalance assigned partitions to other consumers.

So that means that pausing some topic/partition on `consumer A` will immediately trigger processing of same topic/partition on `con

[2018-07-19 20:57] dorner opened #618 "Use a thread for sending heartbeats"
This is to track a functionality change whereby instead of sending heartbeats inline with message processing, they are sent via a separate thread.

This introduces the `poll_timeout` configuration variable, which will force the consumer to time out if it is reached and a new message has not been received within that time.

PR is imminent!

[2018-07-27 06:56] nguyenquangminh0711 opened #620 "Slow CRC32C checksum"
* Version of Kafka: 0.11.0
* Version of ruby-kafka: 0.7.x beta

In ruby-kafka from version 0.7.x beta, we makes use of the gem digest-crc to support new checksum mechanism for Kafka record batch format. However, in the gem, all the implementation is in pure ruby (https://github.com/postmodern/digest-crc/blob/master/lib/digest/crc32.rb#L110). That leads to the huge amount of time spent in the check

[2018-07-28 10:41] dasch commented on #620
I'd rather the C extension be done in the CRC gem so that it can benefit everyone.

[2018-07-28 11:00] dasch commented on #552
I'll have to take a look at redesigning the pause system. Probably by moving the pause policy into the consumer loop itself rather than having external code rescue exceptions and call `pause`.

[2018-07-30 13:24] SebastianCoetzee opened #621 "ActiveSupport < 4.0 not supported?"
I have a Rails app that is running v3.2.22.9 of Rails and v2.3.6 of Ruby and it fails to boot when version 0.6.7 of `ruby-kafka` gem is included in the Gemfile. The following is the stack trace:

[code]

The reason for this is because `active_support/subscriber` is not available in <4.0 of ActiveSupport. Is this dependency restriction by design or may I submit a PR to include the functionality of

[2018-07-30 21:32] awseward opened #623 ""conversion of nil into Integer (TypeError)" on response from leave group API request"
* Version of Ruby: 2.2.9p480
* Version of Kafka: 1.0.1
* Version of ruby-kafka: 0.6.6

Hey there, we're seeing an issue that appears to be tied to particular consumer groups.
It looks like the consumer is having issues with a response from a leave group request.

Moving the consumer to a new consumer group resolves the issue, but then going back to the original consumer group brings the error righ

[2018-08-01 20:23] bradurani opened #624 "Messages are being skipped"
* Version of Ruby: 2.5
* Version of Kafka: 0.11.0.2
* Version of ruby-kafka: 0.6.6

We're seeing behavior that only appears under production load that is causing messages to be skipped. Here's what we're seeing:

![image](https://user-images.githubusercontent.com/4195952/43544917-45a3197c-9589-11e8-8bc9-c5869b366a45.png)

Here you can see `consumer.message` for 2 consumer groups. As you can see th

[2018-08-01 23:00] bradurani commented on #624
Update: tried with ruby-kafka: `0.6.7` and issue persists

[2018-08-02 09:14] mensfeld commented on #624
@bradurani thanks for reporting.

Couple things: `Reached max fetcher queue size` means that there's a lot of data prefetched to the ruby-kafka. It may mean, you're falling behind with the processing and that your system produces more data than it can consume fast enough. If your retention policy is short enough it may cause weird behaviors that may look like losing data.

Could you try with a muc

[2018-08-02 17:30] bradurani commented on #624
Updated: we added code to detect skipped messages:

[code]

Sure enough, the discrepancy becomes obvious right away:

![image](https://user-images.githubusercontent.com/4195952/43600094-85abd2c4-963e-11e8-9c73-271252bdec04.png)

[2018-08-02 21:37] bradurani commented on #624
Update: we've set the `fetcher_max_queue_size` to 2, and if anything we're losing more messages

[2018-08-02 21:43] theturtle32 commented on #618
Yeah, the existing inline behavior has bitten us in the ass many, many, many times! I'll be very grateful to see this moved to a thread. I'm glad you're already working on this, as I was thinking of taking a stab at a PR myself.

[2018-08-03 22:06] bradurani commented on #624
Update: we switched to `master` and the issue persists

Update: We might have fixed it. We doubled the number of consumers and, while we still need to give it time to be sure, it looks like this might have fixed the issue.
It looks like the skipped messages occurred exactly when we had small amounts of lag. During busy periods, we had lag, but only a few hundred messages (see first post in the thr

[2018-08-05 14:59] bradurani commented on #624
I have verified the missing messages in the downstream database and they are definitely being skipped. The missing message counts for for the downstream database match the numbers detected by my skipped message detection you see above. It's missing whole batches (10-200 records depending on load).
Topics: 1
Partitions: 32
Compression: GZIP
Producers ~100 servers for 1 app
I have 2 consumer groups

[2018-08-05 17:39] nguyenquangminh0711 commented on #624
@bradurani One more thing. Are all the producers using Ruby too? If no, could you please check whether other producers are using fancy features like Transactional or Idempotent messages production or not. I'm working on that feature support for ruby-kafka, and fixed a the bug of skipped messages because of transactional message production. Hope that would provide more information for you.

[2018-08-06 05:04] bradurani commented on #624
W'e're using `ruby-kafka` as a producer and no, we're not using the features

[2018-08-07 09:25] bradurani commented on #624
I'll try it tomorrow morning. We're using `0.11.0.2` BTW

[2018-08-07 11:50] dasch commented on #623
Looks like a change in the API.

[2018-08-07 21:00] dorner commented on #618
@theturtle32 Well, not sure when I'll be able to get around to rewriting it entirely :) If you're willing to take a stab, please do!

[2018-08-08 00:45] bradurani commented on #624
Update: we've deployed Nguyễn's bug fix branch and the problem stopped immediately

Also, we ported the program to Java with the exact same parameters and experienced zero data loss

@nguyenquangminh0711 your PR mentions the fix is for `newer versions of Kafka (after 0.11.0, I guess)`, but we're running `0.11.0.2` and were affected by the bug. Does this gel with your understanding?

[2018-08-08 01:08] nguyenquangminh0711 commented on #624
@bradurani Oh I mean this happens from Kafka 0.11.x, where the new troublesome record batch encoding format is introduced. So, your company's current version `0.11.0.2` is within the range I mentioned. Sorry for my bad English 😃.

Btw, glad to hear the problem is gone. The PR is ready to merge. Perhaps we should have a bug fix release for 0.6.x beside the master branch.

[2018-08-08 08:55] mensfeld commented on #624
@nguyenquangminh0711

Yes please. I will update karafka references immediately after that.

[2018-08-08 10:49] #624 closed

[2018-08-08 18:05] bradurani commented on #624
@nguyenquangminh0711 thank you sincerely for this fix! We really appreciate your work on this gem 👏👏👏👏👏👏👏👏

[2018-08-09 10:57] dasch commented on #624
I've released v0.7.0.beta2 and v0.6.8 containing the fix for this issue.

[2018-08-17 14:31] dasch commented on #617
Wait – are you using the new `do ... rescue ... end` syntax? That's not supported by ruby-kafka – it expects to handle exceptions raised by the loop on its own.

[2018-08-17 16:41] bradurani commented on #617
This turned out to be expected behavior. Thanks for looking at it!

[2018-08-17 16:41] #617 closed

[2018-08-17 20:37] jgeiger opened #631 "max_queue_size seems to be incorrect by about half"
If this is a bug report, please fill out the following:

* Version of Ruby: 2.4.4
* Version of Kafka: 1.0.1
* Version of ruby-kafka: 0.6.7

Please verify that the problem you're seeing hasn't been fixed by the current `master` of ruby-kafka.

###### Steps to reproduce

Not perfect code, but is a similar setup to what is failing.

[code]

###### Expected outcome
It enqueues all 4000 messages withou

[2018-08-20 19:29] redbeard0x0a opened #632 "SSL Error when connecting to client cert authenticated kafka"
If this is a bug report, please fill out the following:

* Version of Ruby: 2.5.1 (should be any)
* Version of Kafka: `ii confluent-platform-oss-2.11            4.1.2-1`
* Version of ruby-kafka: 0.6.7 (and master)

Please verify that the problem you're seeing hasn't been fixed by the current `master` of ruby-kafka.

###### Steps to reproduce

The server needs to be configured to trust the organiza

[2018-08-21 09:32] dasch commented on #632
:+1: thanks!

[2018-08-21 09:36] #632 closed

[2018-08-22 13:25] mainameiz commented on #414
It is ready https://github.com/zendesk/ruby-kafka/blob/master/CHANGELOG.md#070

https://github.com/zendesk/ruby-kafka/pull/604

[2018-08-28 08:57] pascalmail opened #635 "Consumer do not honor offset with different deliver implementation"
* Version of Ruby: ruby 2.4.1p111 (2017-03-22 revision 58053) [x86_64-darwin17]
* Version of Kafka: 1.1.0
* Version of ruby-kafka: 0.7.0

###### Steps to reproduce

[code]

###### Expected outcome
Running the script while using `deliver2` created confusing behaviour, it is as if the `consumer2` do not honour the offset checkpointed by `consumer`

Output using `deliver1`
[code]

Output using `deliv

[2018-08-28 16:55] nguyenquangminh0711 commented on #635
@pascalmail I investigated the situation. It is true that there is a bug in the fetcher. Internally, there are some differences between two implementations.
- In the first scenario, there are 4 new record batches (internal message batching presentations). Each time you commit the offsets, the commitment is **at the end** of the record batch.
- In the second scenario, there is just 1 new record bat

[2018-08-28 17:29] nguyenquangminh0711 commented on #631
@jgeiger I could not reproduce the bug from your example code. I have to change a little bit to make
it works:

[code]

It's true that the `max_queue_size` is not respected 100%, but not significant in most cases. The async producer runs in other threads. They share a common command queue with the main thread. Whenever you call `producer.producer(...)` or `producer.deliver_messages`, etc. It pushe

[2018-08-29 16:04] #635 closed

[2018-08-31 11:05] pascalmail opened #638 "Manual marking of message - low offset override high offset"
* Version of Ruby: ruby 2.4.1p111
* Version of Kafka: 1.1.0
* Version of ruby-kafka: 0.7.1.beta1 (master@d57e6db)

When manually marking message, marking message with offset lower than previously marked offset overwrites the higher offset with the lower one.
Is this the intended behaviour?

###### Steps to reproduce

[code]

###### Expected outcome
[code]
###### Actual outcome
[code]

[2018-09-01 08:08] nguyenquangminh0711 commented on #638
@pascalmail I think this is not a bug to me. The offset is replaced when you call `mark_message_as_processed` before committing offset to Kafka. In almost cases, the messages from a same partition are handled in order; after a message is consumed, it is marked as processed and offsets are committed to Kafka. If you turn off automatically_mark_as_processed option, you'll have to take a risk and han

[2018-09-04 19:48] jgeiger commented on #631
Thanks. It is an issue to the point where we can't use the async producer because we fill up the queue and it never sends within the correct intervals. We're stuck using the sync producer and calling deliver after every call because we can't afford to deal with the exceptions.

I'll see if I can come up with a better example that clearly shows the issue, but not  in the very near future. Thank you

[2018-09-04 19:48] #631 closed

[2018-09-05 14:47] psycotica0-shopify commented on #217
For other future people like myself, there appears to be a `seek` method now to do this.

[2018-09-07 14:50] Vachman commented on #552
Hi @dasch is there any news about this topic?
Thanks.

[2018-09-07 16:14] dasch commented on #552
Unfortunately not. I simply don’t have enough time to keep up with the work
here.
On Fri, 7 Sep 2018 at 16.50, Vachman <notifications@github.com> wrote:

[2018-09-11 09:37] ttamimi opened #642 "Client#topics never refreshes metedata"
* Version of Ruby: 2.3.3
* Version of Kafka: 0.11
* Version of ruby-kafka: 0.7.0

###### Steps to reproduce

1. Launch a new set of Kafka brokers
2. Migrate all topics to the new brokers
3. Kill the old brokers

###### Expected outcome

We are running a homegrown consumer lag monitoring tool. It repeatedly queries Kafka to fetch a list of all topics and their producer offsets. It also subscribes (

[2018-09-11 09:49] ttamimi commented on #642
It seems to me the issue is:
1. `Cluster#list_topics` picks a `random_broker` to fetch the latest cluster metadata
https://github.com/zendesk/ruby-kafka/blob/v0.7.0/lib/kafka/cluster.rb#L347
1. `Cluster#random_broker` relies on potentially stale metadata but never calls `refresh_metadata_if_necessary!`
https://github.com/zendesk/ruby-kafka/blob/v0.7.0/lib/kafka/cluster.rb#L417
1.  `Client#topics`

[2018-09-11 14:36] ttamimi commented on #642
This fixed the problem in my tests
https://github.com/zendesk/ruby-kafka/pull/643/files

[2018-09-12 15:33] #642 closed

[2018-09-13 21:11] Jakanapes opened #646 "Consumer fails with kafka 1.1.1"
If this is a bug report, please fill out the following:

* Version of Ruby:  2.4.4
* Version of Kafka:  1.1.1
* Version of ruby-kafka:  0.7.1

Please verify that the problem you're seeing hasn't been fixed by the current `master` of ruby-kafka.

###### Steps to reproduce

[code]

###### Expected outcome

message offsets would be output

###### Actual outcome

NoMethodError: undefined method `heade

[2018-09-13 21:42] psycotica0-shopify opened #647 "Unbalanced Consumer Assignment with Unbalanced Topics"
This is mostly a question to make sure I'm understanding the code.

I was looking at the [RoundRobinAssignmentStrategy](https://github.com/zendesk/ruby-kafka/blob/cc52504bc2b8dc59dbccbebc1e0e64a7c1aaeda8/lib/kafka/round_robin_assignment_strategy.rb#L20-L50) and it _looks_ like it's slicing at the partition level.

So if I have 3 topics, the first has 4 partitions, and the other two each have 1, an

[2018-09-14 04:46] nguyenquangminh0711 commented on #647
@psycotica0-shopify In real life environment, like production, this barely happens. If the number of partitions increases, like 10 partitions per topic, the imbalances between consumers fade out. And IMO, that's way better in term of partition consuming distribution. The rule of thumb is that number of partitions should be greater than number of consumers, for each topic.

[2018-09-14 12:38] Jakanapes commented on #646
I was able to bump it down 0.6.7 and it worked, but having an up to date version would be great.  Meanwhile, I'm pushing for a kafka upgrade, but that's a harder ask due to dependencies in other projects.  Thanks!

[2018-09-14 14:01] Elyahou commented on #647
@nguyenquangminh0711

In the case of
- 3 topics with 20 partitions each
- 1 consumer group with 60 members

If I understand it correctly, the current algorithm will assign 3 partitions (1 for each topic) to 20 members, and the 40 remaining will be without any assignment

Maybe we can enhance this by evenly distribute to members, and in that case assign 1 partition for each member

[2018-09-14 16:05] emschwar commented on #620
I believe zlib, which is part of  the standard library, has a CRC implementation in C:

https://ruby-doc.org/stdlib-2.5.1/libdoc/zlib/rdoc/Zlib.html#method-c-crc32

I can make a PR if you're still interested.

[2018-09-14 16:12] nguyenquangminh0711 commented on #647
@Elyahou Yes, that's true that the current round-robin strategy doesn't work well in that case. It's not hard to fix this issue. I'm just curious about your concrete use case. In your described configuration, do all 3 topics have the same schema and meanings? In most of my use cases, I usually split into 3 different consumer groups, each consumer group consumes from a topic:
- Group 1 (20 members)

[2018-09-14 16:18] dasch commented on #620
That would be great!
On Fri, 14 Sep 2018 at 18.05, Eric Schwartz <notifications@github.com>
wrote:

[2018-09-14 17:15] nguyenquangminh0711 commented on #620
I had a double-check, it looks like the Zlib's crc32 method is still CRC32. We are looking for CRC32C checksum instead.

[2018-09-17 12:53] Jakanapes commented on #646
👍   It works!

[2018-09-17 13:07] cedw93 opened #650 "Connection refused using SCRAM authentication"
If this is a bug report, please fill out the following:

* Version of Ruby: 2.4.1p111
* Version of Kafka: 2.0.0
* Version of ruby-kafka: 0.7.1

I have seen you don't support Kafka features but I can connect as expected using PLAINTEXT w/o auth.

When enabling SCRAM-256 authentication on my cluster I get a connection refused error when attempting to connect via `ruby-kafka`.

My zookeeper installat

[2018-09-19 10:49] l0x-c0d3z opened #653 "Fail to resume operations after connection error."
* Version of Ruby: 2.3.3
* Version of Kafka: 2.11.1-1.1.0
* Version of ruby-kafka: 0.5.5

Hi. I have a simple script that will basically read from a several topics on a (local) **source** broker, and copy those messages to a (remote) **target** broker.

The relevant code looks like this.

[code]

Due to connectivity issues, the target broker is sometimes unreachable, and the code raises `Could not

[2018-09-19 15:10] nguyenquangminh0711 commented on #653
Hi @l0x-c0d3z, when the consumers don't return anything, are there any suspicious logs? It would be helpful if you can provide the logs when this situation happens, and even more if the logs is at Debug level. One more thing, how did you handle the exception? You kill the thread that has your consumer and producer, then create a thread and re-run in it?

[2018-09-19 16:08] l0x-c0d3z commented on #653
The exception is not caught, so the thread just dies. The main thread detects that and restarts it.

I just checked, but the interesting log part is now out of my screen buffer. I tried simulating the behavior by stopping the target kafka for a few seconds, but it does restart properly. I've added a debug Logger to the Kafka instances, and I'll post the logs as soon as it fails again.

Basically,

[2018-09-19 17:08] nguyenquangminh0711 commented on #653
Wait a sec. I have just realize that you are using ruby-kafka 0.5.5 right? From the version 0.6.x stable, ruby-kafka introduces a whole new mechanism of message fetching. What do you think about upgrading to newest stable version and retry again on prod to see whether this issue still exist? In addition, Kafka 0.11.1 and 1.1.0 are supported better (with fancy features) in newer ruby-kafka versions

[2018-09-19 17:57] l0x-c0d3z commented on #653
I'll give it a try and see if it works better.

[2018-09-20 02:05] gvishnutej commented on #322
@jurriaan I'm experiencing same error for SASL over SSL, can you please tell me more about the config you used for ssl_ca_cert, when you say "array of the full certificate chain", is it something like below?

```ssl_ca_cert ["intermediate.pem","root.pem"]```

[2018-09-20 09:34] dasch commented on #623
@nguyenquangminh0711 would you have time to look into this?

[2018-09-20 11:29] nguyenquangminh0711 commented on #638
@pascalmail I will close this issue due to the lack of activities. Feel free to re-open it if you need anything else related to this issue.

[2018-09-20 11:29] #638 closed

[2018-09-20 11:46] nguyenquangminh0711 commented on #646
@Jakanapes The patch is merged into master and will be available in the next release. Please watch the release page to use in your project. I'll close this issue now. Feel free to re-open it in case you have other question.

[2018-09-20 11:46] #646 closed

[2018-09-22 03:02] nguyenquangminh0711 commented on #621
The datalog plugin uses active support subscriber internally to perform its functionalities, so I'm afraid we can't change this dependency, at least in near future. By default, ruby-kafka doesn't load datadog and `active_support/subscriber`, so the normal users won't have any problem with this.

Since we can't do anything about this, I think I'll close this issue, until we come up with a better so

[2018-09-22 03:02] #621 closed

[2018-09-22 03:04] nguyenquangminh0711 commented on #573
The support for transactional production is already merged into production. So, this issue can be closed now.

[2018-09-22 03:04] #573 closed

[2018-09-22 03:08] nguyenquangminh0711 commented on #600
The idempotent (and transactional production as well) implementation is merged into master and available in newest 0.7.x releases. Please try out this feature, the document is at https://github.com/zendesk/ruby-kafka/pull/608. We'll fulfill the documentation very soon. I'll close this issue now.

[2018-09-22 03:08] #600 closed

[2018-09-22 03:11] nguyenquangminh0711 commented on #568
I haven't heard from you for a while and I think this problem should be handled outside of ruby-kafka gem. Therefore, I'll close this issue. Please feel free to re-open it in case you have further questions related to this.

[2018-09-22 03:11] #568 closed

[2018-09-22 03:14] nguyenquangminh0711 commented on #611
It looks like the issue is fixed in the PR. I'll now close it now. Please feel free to re-open it if this problem still exists.

[2018-09-22 03:14] #611 closed

[2018-09-22 03:27] nguyenquangminh0711 commented on #598
Since this issue is from Racecar, not directly related to ruby-kafka. I'll close this issue.

[2018-09-22 03:27] #598 closed

[2018-09-22 03:33] nguyenquangminh0711 commented on #588
The instrumenter for async producers is now available in stable releases. I'll close this issue now. Please feel free to re-open it in case you have further questions. The documents will be fulfilled soon.

[2018-09-22 03:33] #588 closed

[2018-09-22 03:37] nguyenquangminh0711 commented on #555
@Elyahou Hi, did the fix in https://github.com/zendesk/ruby-kafka/pull/625 work, or you still face this issue?

[2018-09-22 14:03] jwilm commented on #600
Wow, that was fast! Thanks everyone!

cc @cohedrin

[2018-09-23 08:31] nguyenquangminh0711 commented on #623
The direct cause is because the max bytes per partition option is nil. The only root cause I could think of that leads to this situation is because the server responds an empty message set (converted from record batch), and mess up the states of the fetcher. If that assumption is right, we just need not to update the fetcher state when the fetched batch is empty; which is already fixed in https://

[2018-09-23 08:37] #587 closed

[2018-09-24 12:22] MartinNowak opened #658 "Missing producer compression support in v0.7.0"
This issue mainly serves for documentation purposes.
It has already been fixed by (3fb7aa0969472597e0a4711b681f5531f647991d) which got released with v0.7.1.
It would be better to assign issues/tickets to any released bug instead of silently fixing them.

This bug has been introduced [here](https://github.com/zendesk/ruby-kafka/pull/548/files#diff-f6b2e51b589e2f77d6ca3ef981be7e62L91) as part of #54

[2018-09-28 22:54] mperham commented on #620
[code]

[2018-09-28 23:52] postmodern commented on #620
@emschwar let's move any digest-crc development talk over to postmodern/digest-crc#13. There's a lot of hidden work here that I want to fully digest...

[2018-09-29 02:37] postmodern commented on #620
One question about this profiling data. What was the average size and repetition of the messages being sent/received which `Digest::CRC32C` had to digest? I'm writing benchmarks for all of the `Digest::CRC` classes and want to use a realistic message size and/or repetition count.

[2018-09-29 11:38] klippx commented on #620
@nguyenquangminh0711 Maybe we can accept the slowness by default, I am not sure exactly how slow it is. Instead a solution could be to make the ruby-kafka CRC32C checksum pluggable. So, in case user want to have a solution that invloves a gem with native C extension, he can set that explicitly in his own Gemfile and plug that into ruby-kafka adapter in whatever way. Could be via yml config, could

[2018-10-01 08:43] dasch commented on #620
Yeah, definitely not something I want to do. Users should have to jump through hoops to have this be performant.

[2018-10-03 23:55] mattbooks commented on #560
From the README:

...

However I am not sure that that is true. The code that does that is in `AsyncProducer#ensure_threads_running!`

[code]

however it's not synchronized, and `||=` is not atomic, so if two threads call `produce` and the worker_thread has died or has not started yet, you could end up with more than 1 worker thread and then you can easily hit this issue where messages are cleared

[2018-10-05 08:57] #560 closed

[2018-10-05 09:35] lewispb opened #662 "ThreadError: can't alloc thread"
* Version of Ruby: 2.5.1
* Version of Kafka: 0.11+
* Version of ruby-kafka: master

I've been testing master after https://github.com/zendesk/ruby-kafka/pull/654 was merged, along with master version of Karafka after https://github.com/karafka/karafka/pull/415 was merged.

We continue to see thread alloc errors:

[code]

These usually follow SSL connection errors.

[code]

[2018-10-06 08:51] nguyenquangminh0711 commented on #623
I'll close this issue due to the lack of activities, and I think this issue is fixed. Please feel free to re-open it again.

[2018-10-06 08:51] #623 closed

[2018-10-06 08:52] #658 closed

[2018-10-06 08:56] nguyenquangminh0711 commented on #653
Hi @l0x-c0d3z, I haven't heard from you for a while. Does the newer version of ruby-kafka work for you?

[2018-10-06 10:16] mensfeld commented on #662
I briefly checked and have the same problem. Works for me and the examples from the original issue.

[2018-10-07 14:34] l0x-c0d3z commented on #653
It took longer than before, but I did have a worker crash a few days ago. Here's the debug log.

[code]

[2018-10-08 19:49] jrpilat commented on #567
It's worth noting here that, as of 0.11.0.0, Kafka brokers apply their `max.message.bytes` limitation config to batches of messages, and not just individual messages within a batch, so the functionality here would need to make sure that the batches being sent don't exceed in bytes what the user specified (or what you retrieve via `client#describe_topic`, if that's the way you're going about it.

[2018-10-09 16:53] mensfeld commented on #662
@lewispb something is wrong on your side. This is the output of testing against most current master with my original snippet:

[code]

are you sure, you've updated the ruby-kafka repo?

[2018-10-09 16:57] mensfeld commented on #662
@lewispb got it. Can reproduce. Great. Does not work as intended indeed.

[2018-10-09 17:01] mensfeld commented on #662
Despite my first impression, all seems to work fine. Thread number is stable despite exceptions.

[2018-10-10 04:46] nguyenquangminh0711 commented on #662
Yeah. Me too. When running that code snippet, it looks like the number of thread keeps the same for a long amount of time. Is there anything special about your ruby? Which version of Ruby you are using, and could you check the Gemfile.lock to ensure the code is at latest commit in master?
cc @lewispb

[2018-10-10 15:56] AWaselnuk opened #663 "Add `GroupLoadInProgress` to known error codes"
The stacktrace in a bug report I was looking into resolved to `Kafka::UnknownError: unknown error with code 14` and pointed to [this line](https://github.com/zendesk/ruby-kafka/blob/master/lib/kafka/protocol.rb#L151) in the kafka protocol library.

Browsing the Kafka guide, it seems as though code 14 is a legitimate error code that has to do with offset fetch requests. [See `GroupLoadInProgressCod

[2018-10-11 07:36] nguyenquangminh0711 commented on #663
Yes, that's true. Currently, we are adding the errors that we are handling explicitly in the source code. The others are unknown. But I'm thinking of mapping all the existing errors on Kafka to make it cleaner. Perhaps the PR will be available in some days.

[2018-10-11 09:41] lewispb commented on #662
Thanks @nguyenquangminh0711 and @mensfeld I have double checked this with the latest version and the thread count is indeed stable, so sorry for my mistake. I think I forgot to `bundle exec` 🤦‍♂️

However we are still seeing plenty of thread alloc errors in production.

I will upgrade to the latest version of Karafka today and report back.

[2018-10-11 09:43] mensfeld commented on #662
Well you see them as this patch for ruby-kafka is not yet released. Same for the retry fix in Karafka.

[2018-10-11 23:34] BenEddy opened #664 "Fetched messages can be reprocessed after consumer group rebalance"
* Version of Ruby: 2.5.1
* Version of Kafka: 1.0.0
* Version of ruby-kafka: 0.7.2

When a consumer joins a consumer group, it [tells the fetcher to reset](https://github.com/zendesk/ruby-kafka/blob/a42f9045900764c0ea272d868ab81c17534716b4/lib/kafka/consumer.rb#L461) and then [seeks to committed offsets](https://github.com/zendesk/ruby-kafka/blob/a42f9045900764c0ea272d868ab81c17534716b4/lib/kafka/c

[2018-10-12 04:41] nguyenquangminh0711 commented on #662
Hi @dasch, could you have a look and backport that fix to 0.6.x release?

[2018-10-15 12:38] dasch commented on #662
@nguyenquangminh0711 I can do the releasin' if you backport the fix to the `v0.6-stable` branch.

[2018-10-15 17:03] nguyenquangminh0711 commented on #662
@dasch Oh I didn't know that. Could you have a look at this PR: https://github.com/zendesk/ruby-kafka/pull/666/files?

[2018-10-15 17:05] lewispb commented on #662
I believe this issue is resolved with the latest version of Karafka, in master. Happy for this to be closed now. Thank you all for your help!

[2018-10-16 08:53] #663 closed

[2018-10-16 08:55] nguyenquangminh0711 commented on #663
@AWaselnuk The PR is merged into master with a longer list of errors. The GroupLoadInProgress is renamed to CoordinatorLoadInProgress in newer version of kafka. So, I'll use that name.

[2018-10-16 16:11] pascalmail opened #669 "Seeking to specific offsets duplicate the fetched message"
If this is a bug report, please fill out the following:

* Version of Ruby: 2.4.1
* Version of Kafka: 1.1.0
* Version of ruby-kafka: 0.7.3 and master(c739647)

The bug(?) is not present in version 0.7.2

###### Steps to reproduce

[code]

###### Expected outcome
[code]

###### Actual outcome
[code]

It looks like ruby-kafka fetch the message from the offsets twice.

[2018-10-17 03:01] openchung opened #670 "ruby-kafka support kerberos ?"
I use fluentd to send json log to sasl_ssl cloudera kafka , but I meet the following warn. So it cause send failed. I have verified my keytab and principal using kinit to verify .

[code]
<system>
  log_level debug
</system>
<source>
  @type tail
  format json
  read_lines_limit 200
  path /mnt/old/tx-failover.log*
  pos_file /opt/kafka_failover.log.pos
  tag audit.trail
</source>
<match audit.*>

[2018-10-17 17:48] nguyenquangminh0711 commented on #669
Hi @pascalmail, thanks for your report. This is an interesting bug. In summary, the root cause of the bug comes from the race condition between the consumer and its Fetcher thread. The fetcher starts when the consumer enters consumer loop (via `each_message` or `each_batch` method). Right after that, the consumer performs group joining. If the group join process takes long enough, the consumer cal

[2018-10-18 21:28] umeshshimpi opened #672 "Kafka::ConnectionError: Could not connect to any of the seed brokers"
If this is a bug report, please fill out the following:

* Version of Ruby: 2.5.1
* Version of Kafka: 0.10
* Version of ruby-kafka: 0.7.3

I am trying to use `ruby-kafka` client and I have made following changes.

###### Steps to reproduce

[code]
I am getting error:

[code]

I am able to see topics when i do `kafka.topics`

I checked many posts on github about same issue but can't find a proper a

[2018-10-19 07:08] nguyenquangminh0711 commented on #672
@umeshshimpi Are you sure that the brokers are correct, or connectable from your machine, or have  any kinds of authentication? Does it work with other clients?

[2018-10-19 07:32] nguyenquangminh0711 commented on #670
Hi @openchung, I'm not sure that I understand your problem. Could you please describe your use cases, your settings, the stacks you are using? At the first look, isn't this issue should be in fluentd bug tracker?

[2018-10-19 12:40] umeshshimpi commented on #672
yes if i do `nc -z abc123d.xyz.cde.net 9093` I am able to connect to broker successfully from my machine. There is a kerberos authentication required to connect to kafka but since i can connect from machine, i should be able to using `ruby-kafka` right? We are first time using kafka.

[2018-10-19 15:14] openchung commented on #670
Sorry. We use fluentd-kafka-plugin which is implemented by ruby-kafka. We use fluentd to collect the logs. The type of content is json and transfer to the Cloudera kafka through SASL_SSL(GSSAPI). It has exception happened in ruby-kafka.

The following is the stacks.
`2018-10-19 23:12:31 +0800 [info]: gem 'fluent-mixin-plaintextformatter' version '0.2.6'
2018-10-19 23:12:31 +0800 [info]: gem 'fluen

[2018-10-20 07:18] nguyenquangminh0711 commented on #672
Hi @umeshshimpi, the original error comes from the lack of authentication, in your case gssapi authentication. Can you add `gssapi` into your Gemfile, bundle and try again?

[2018-10-20 15:45] umeshshimpi commented on #672
@nguyenquangminh0711 Yes i added the gssapi in my gemfile and it works but still facing error `could not connect to broker Could not connect to broker abc123f.xyz.cde.net:9093 Connection error EOFError: EOFError`

[2018-10-22 07:32] Elyahou commented on #555
Thanks @nguyenquangminh0711 I tested against `0.7.3` version of ruby-kafka, and the bug was fixed :)

[2018-10-22 07:32] #555 closed

[2018-10-22 07:32] Elyahou commented on #555
Thanks @nguyenquangminh0711 I tested against `0.7.3` version of ruby-kafka, and the bug was fixed :)

[2018-10-22 07:33] Elyahou commented on #555
Thanks @nguyenquangminh0711 I tested against 0.7.3 version, and it seems this is now fixed :)

[2018-10-22 19:36] umeshshimpi commented on #672
@nguyenquangminh0711 When I lowered the ruby-kafka version to 0.6.8 it started working.

[2018-10-25 17:29] nguyenquangminh0711 commented on #672
Oh right. I didn't realize that you are using Kafka 0.10. From version 0.7.x, the support for Kafka 0.10 is dropped, in the replacement of new Record Batch format in kafka 0.11. So, please use 0.6.x branches, or upgrade your kafka version.